<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/lazysizes.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
   $('.accordion h4').on('click',function () {
      $('.accordion .item').removeClass('active');
      $(this).parent().addClass('active');
   });

   function add_amout(add_amount) {
       var counter = $(add_amount).parent().find('input').val();
       counter++;
       $(add_amount).parent().find('input').val(counter);
       return counter;
   }

   $('.feedback .icon').click(function () {
       add_amout(this);
   });

   //monkey search
   $('.search-form input').on('change keyup paste click',function () {
       if($(this).val().length > 0){
           $('.search-form .btn_reset,.search-suggest').css('display','block');
       } else{
           $('.search-form .btn_reset,.search-suggest').css('display','none');
       }
   });

   $('.search-suggest p').on('click',function () {
       let suggest = $(this).text();
       document.getElementById("search").value = suggest;
       $('.search-suggest').css('display','none');
   });

</script>

</body>
</html>