<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/lazysizes.min.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        //monkey search
        $('.search-form input').on('change keyup paste click',function () {
           if($(this).val().length > 0){
               $('.search-form .btn_reset,.search-suggest').css('display','block');
           } else{
               $('.search-form .btn_reset,.search-suggest').css('display','none');
           }
        });

        $('.search-suggest p').on('click',function () {
           let suggest = $(this).text();
            document.getElementById("search").value = suggest;
            $('.search-suggest').css('display','none');
        });

        //dropdown filter
        $(window).on('load',function () {
            let item_filter = $('.filter__item__list--tg label').length;
            if(item_filter > 5){
                $('.btn_filter_more').css('display','block');
                $('.filter__item__list--tg').addClass('expand');
            }else{
                $('.btn_filter_more').css('display','none');
                $('.filter__item__list--tg').addClass('expand');
            }
        });
        $('.btn_filter_more').on('click',function () {
            $('.filter__item__list--tg').removeClass('expand');
            $(this).css('display','none');
            $('.btn_filter_coll').css('display','block');
        });
        $('.btn_filter_coll').on('click',function () {
            $('.filter__item__list--tg').addClass('expand');
            $(this).css('display','none');
            $('.btn_filter_more').css('display','block');
        });

        //remove filter
        $('.fil--search .fil__item').on('click',function () {
           $(this).remove();
        });
        $('.btn_remove_all').on('click',function () {
            $('.fil--search .fil__item').remove();
            $(this).remove();
        });

        //show filter mobile
        $('.btn_filter_m').on('click',function () {
           $('.filter-fix-left').addClass('show');
        });
        $('.filter-fix-left .close').on('click',function () {
            $('.filter-fix-left').removeClass('show');
        });



        //call select2
        $('.select-min2').select2();
    });
</script>

</body>
</html>