<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Monkey là ứng dụng số 1 tại Việt Nam mang đến các chương trình Giáo dục chất lượng cao - đạt tiêu chuẩn quốc tế - với chi phí bình dân cho mọi trẻ em." />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/bootstrap-glyphicons.css">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/moment.js"></script>
<script src="./assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="./assets/js/lazysizes.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.partner').slick({
            centerMode: false,
            slidesToShow: 5,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            autoplay: true,
            dots: false,
            arrows: true,
            responsive: [
                {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 640,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });

        //
        $('.slider-nav .item').hover(function () {
            $('.slider-nav .item').removeClass('active');
            $(this).addClass('active');
        });

        $('.slider-nav .btn_prev').click(function () {
            var active_item = $('.slider-track .active').index();
            var movie_prev=(active_item - 3)*84;
            var ht = $('.slider-track .item').outerHeight() + 24;
            if(active_item == 1){
                $('.slider-track').css({'transform':'translateY(168px)'});
            }
            if(active_item == 2){
                $('.slider-track').css({'transform':'translateY(84px)'});
            }
            if(active_item > 2){
                $('.slider-track').css({'transform':'translateY('+-movie_prev+'px)'});
            }

            $('.slider-track .active').prev().addClass('active').nextAll().removeClass('active');
        });
        $('.slider-nav .btn_next').click(function () {
            var active_item = $('.slider-track .active').index();
            var movie_next=(active_item-1)*84;
            var number = $('.slider-track .item').length - 2;
            if(movie_next >= number*84){
                movie_next=(number*84) - 84;
            }
            $('.slider-track').css({'transform':'translateY('+-movie_next+'px)'});
            $('.slider-track .active').next().addClass('active').prevAll().removeClass('active');
        });

        $('.slider-nav .btn_next,.slider-nav .btn_prev').click(function () {
            var slider_active = $('.slider-track .active').index() + 1;
            $('.slider-for .item').removeClass('active');
            $('.slider-for .item:nth-child('+slider_active+')').addClass('active');
        });

        //call select2
        $('.select-min2').select2();

        //call datetimepicker
        $('#pickertime').datetimepicker({
            format: 'LT'
        });
        $('#pickerday').datetimepicker({
            format: 'YYYY-MM-DD',
        });

    });
</script>

</body>
</html>