<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Công ty Monkey chuyên cung cấp sản phẩm giáo dục khoa học với bộ ứng dụng số một về tiếng Anh cho trẻ từ 0 - 10 tuổi." />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/lazysizes.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.office_list').slick({
            centerMode: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            dots: false,
            arrows: false,
            responsive: [
                {
                    breakpoint: 2000,
                    settings: {
                        arrows: true,
                    }
                },
                {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 2,
                        dots: true,
                        arrows: true,
                        prevArrow: '.office_prev',
                        nextArrow: '.office_next',
                        appendDots: $('.office_dots')
                    }
                },
                {
                    breakpoint: 640,
                    settings: {
                        slidesToShow: 1,
                        dots: true,
                        arrows: true,
                        prevArrow: '.office_prev',
                        nextArrow: '.office_next',
                        appendDots: $('.office_dots')
                    }
                }
            ]
        });
        $('.team_list').slick({
            centerMode: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
            rows: 3,
            centerPadding: 0,
            dots: true,
            arrows: true,
            prevArrow: '.team_prev',
            nextArrow: '.team_next',
            appendDots: $('.team_dots'),
            responsive: [
                {
                    breakpoint: 1920,
                    settings: {

                    }
                },
                {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 2,
                        rows: 2,
                    }
                },
                {
                    breakpoint: 640,
                    settings: {
                        slidesToShow: 1,
                        rows: 2,
                    }
                }
            ]
        });
    });
</script>

</body>
</html>