<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        *,
        *::before,
        *::after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        img.bg {
            max-width: 100%;
        }

        .flex {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .flex-center {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .flex-lc {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .flex-between {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -moz-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        a {
            text-decoration: none;
        }

        ul {
            padding: 0;
        }

        .modal {
            display: none;
        }

        .modal.show {
            display: block;
        }

        .modal-monkey .modal-dialog {
            max-width: 100vw;
            margin: 0 auto;
        }

        .modal-monkey .modal-content {
            width: 100%;
            padding: 4.347826087vw 3.2608695652vw 5.8695652174vw;
            -webkit-border-radius: 7.3260869565vw;
            -moz-border-radius: 7.3260869565vw;
            border-radius: 7.3260869565vw;
            background: #fff;
            -webkit-box-shadow: 0px 6px 13px 0 rgba(63, 105, 193, 0.14);
            -moz-box-shadow: 0px 6px 13px 0 rgba(63, 105, 193, 0.14);
            box-shadow: 0px 6px 13px 0 rgba(63, 105, 193, 0.14);
            border: solid 2.1739130435vw #95c83d;
            font-family: 'Nunito', sans-serif;
            position: relative;
            z-index: 2;
        }

        .modal-monkey .title {
            margin: 0 auto 4.7826086957vw;
            font-size: 7.2826086957vw;
            font-weight: 800;
            letter-spacing: -0.1826086957vw;
            line-height: 1;
            color: #95c83d;
            text-align: center;
        }

        .modal-monkey .title::after {
            content: "";
            width: 84.347826087vw;
            height: 2.8260869565vw;
            display: block;
            margin-top: 2.6086956522vw;
            background: url("https://monkeymedia.vcdn.com.vn/upload/common_MJ/Popup_app_MJ/line.png") no-repeat 0 0/contain;
        }

        .modal-monkey .list-text {
            margin: 0 auto;
            text-align: center;
        }

        .modal-monkey .list-text.fw {
            max-width: 100%;
            margin-bottom: 2.6086956522vw;
        }

        .modal-monkey .list-text.fw p {
            max-width: 100%;
        }

        .modal-monkey .list-text p {
            max-width: 57.8260869565vw;
            margin: 0 auto;
            line-height: 1.35;
            color: #848084;
            font-size: 4.347826087vw;
            font-weight: 800;
            text-align: center;
        }

        .modal-monkey .list-text span {
            color: #95c83d;
        }

        .modal-monkey .list-text h4, .modal-monkey .list-text p {
            font-weight: 800;
        }

        .modal-monkey .list-text h4 {
            max-width: 80vw;
            margin: 0 auto 2.6086956522vw;
            font-size: 5.3260869565vw;
            letter-spacing: -0.1326086957vw;
            line-height: 1;
            color: #95c83d;
        }

        .modal-monkey .list-text p {
            color: #848084;
        }

        .modal-monkey .list-text .img-wrapper {
            height: 27.3913043478vw;
            max-width: 55%;
            margin: 0 auto 1.0869565217vw;
        }

        .modal-monkey .list-text .img-wrapper img {
            display: block;
            margin: 0 auto;
            max-height: 100%;
        }

        .modal-monkey .nav-text {
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .modal-monkey .nav-text li {
            margin: 0 2.1739130435vw;
            line-height: 1;
            list-style: none;
        }

        .modal-monkey .nav-text button {
            width: 2.8260869565vw;
            height: 2.8260869565vw;
            padding: 0;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background: #fff;
            border: solid 0.4347826087vw rgba(140, 167, 182, 0.7);
        }

        .modal-monkey .nav-text button:focus {
            outline: none;
        }

        .modal-monkey .nav-text .active button {
            width: 3.2608695652vw;
            height: 3.2608695652vw;
            -webkit-box-shadow: 0px 6px 8px 0 rgba(63, 105, 193, 0.22);
            -moz-box-shadow: 0px 6px 8px 0 rgba(63, 105, 193, 0.22);
            box-shadow: 0px 6px 8px 0 rgba(63, 105, 193, 0.22);
            border: solid 0.4347826087vw #fff;
            background: #95c83d;
        }

        .modal-monkey .close {
            width: 34.1304347826vw;
            height: 12.6086956522vw;
            margin: 2.3913043478vw auto -11.9565217391vw;
            background: #92c73d;
            -webkit-border-radius: 2.9347826087vw;
            -moz-border-radius: 2.9347826087vw;
            border-radius: 2.9347826087vw;
            -webkit-box-shadow: 0px 2.1739130435vw 2.8260869565vw 0 rgba(105, 153, 29, 0.5);
            -moz-box-shadow: 0px 2.1739130435vw 2.8260869565vw 0 rgba(105, 153, 29, 0.5);
            box-shadow: 0px 2.1739130435vw 2.8260869565vw 0 rgba(105, 153, 29, 0.5);
            border: solid 1.0869565217vw #fff;
            font-size: 5.2173913043vw;
            font-weight: 800;
            color: #fff;
            letter-spacing: -0.147826087vw;
            opacity: 1;
            position: relative;
        }

        .modal-monkey .close:hover {
            opacity: 1;
            color: #fff;
        }

        .modal-monkey .close.decor {
            margin: 28.2608695652vw auto -11.9565217391vw;
        }

        .modal-monkey .close.decor::before {
            content: "";
            width: 30.8695652174vw;
            height: 22.1739130435vw;
            display: block;
            background: url("https://monkeymedia.vcdn.com.vn/upload/common_MJ/Popup_app_MJ/monkey.png") no-repeat 0 0/contain;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: 9.7826086957vw;
        }

        .modal-monkey .close:not(:disabled):not(.disabled):focus, .modal-monkey .close:not(:disabled):not(.disabled):hover {
            opacity: 1;
            color: #fff;
        }

        .modal-backdrop {
            width: 100%;
            height: 100%;
            position: fixed;
            background: rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
        }

        .tabs {
            padding-bottom: 10.8695652174vw;
            position: relative;
        }

        .tabs.pb2 {
            padding-bottom: 3.2608695652vw;
        }

        .tabs input {
            display: none;
        }

        .tabs label {
            width: 13px;
            height: 13px;
            margin: 0 10px;
            padding: 0;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background: #fff;
            border: solid 1px rgba(140, 167, 182, 0.7);
            position: absolute;
            bottom: 0;
            cursor: pointer;
        }

        .tabs label.lb1 {
            margin-left: -38px;
        }

        .tabs label.lb3 {
            margin-right: -38px;
        }

        .tabs input:checked + label {
            width: 14px;
            height: 14px;
            -webkit-box-shadow: 0px 6px 8px 0 rgba(63, 105, 193, 0.22);
            -moz-box-shadow: 0px 6px 8px 0 rgba(63, 105, 193, 0.22);
            box-shadow: 0px 6px 8px 0 rgba(63, 105, 193, 0.22);
            border: solid 1px #fff;
            background: #95c83d;
        }

        .tabs .content {
            width: 100%;
            max-width: 100%;
        }

        .tabs #tab1:checked ~ .content #content1,
        .tabs #tab2:checked ~ .content #content2,
        .tabs #tab3:checked ~ .content #content3,
        .tabs #tab4:checked ~ .content #content4,
        .tabs #tab5:checked ~ .content #content5,
        .tabs #tab6:checked ~ .content #content6,
        .tabs #tab7:checked ~ .content #content7 {
            display: block;
        }

        .tabs .content > div {
            display: none;
        }

        @media (min-width: 640px) {
            .modal-monkey .modal-dialog {
                max-width: 460px;
            }
            .modal-monkey .modal-content {
                border-width: 10px;
                -webkit-border-radius: 33px;
                -moz-border-radius: 33px;
                border-radius: 33px;
                padding: 20px 15px 27px;
            }
            .modal-monkey .title {
                margin-bottom: 22px;
                font-size: 33.5px;
                letter-spacing: -0.84px;
            }
            .modal-monkey .title::after {
                width: 388px;
                height: 13px;
                margin-top: 12px;
            }
            .modal-monkey .list-text {
                max-width: 266px;
            }
            .modal-monkey .list-text.fw {
                margin-bottom: 12px;
            }
            .modal-monkey .list-text.fw p {
                font-size: 17px;
            }
            .modal-monkey .list-text p {
                max-width: 266px;
                font-size: 20px;
            }
            .modal-monkey .list-text h4 {
                max-width: 368px;
                font-size: 24.5px;
                margin-bottom: 12px;
                letter-spacing: -0.61px;
            }
            .modal-monkey .list-text .img-wrapper {
                height: 126px;
                margin-bottom: 5px;
            }
            .modal-monkey .nav-text li {
                margin: 0 10px;
            }
            .modal-monkey .nav-text button {
                width: 13px;
                height: 13px;
                border-width: 2px;
            }
            .modal-monkey .nav-text .active button {
                border-width: 2px;
                width: 15px;
                height: 15px;
            }
            .modal-monkey .close {
                width: 157px;
                height: 58px;
                margin: 11px auto -55px;
                -webkit-border-radius: 13.5px;
                -moz-border-radius: 13.5px;
                border-radius: 13.5px;
                -webkit-box-shadow: 0px 10px 13px 0 rgba(105, 153, 29, 0.5);
                -moz-box-shadow: 0px 10px 13px 0 rgba(105, 153, 29, 0.5);
                box-shadow: 0px 10px 13px 0 rgba(105, 153, 29, 0.5);
                border-width: 5px;
                font-size: 24px;
                letter-spacing: -0.68px;
            }
            .modal-monkey .close.decor {
                margin: 130px auto -55px;
            }
            .modal-monkey .close.decor::before {
                width: 142px;
                height: 102px;
                bottom: 45px;
            }
            .tabs {
                padding-bottom: 50px;
            }
            .tabs.pb2 {
                padding-bottom: 15px;
            }
        }

    </style>
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}

</body>
</html>