<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/lazysizes.min.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        //monkey search
        $('.search-form input').on('change keyup paste click',function () {
           if($(this).val().length > 0){
               $('.search-form .btn_reset,.search-suggest').css('display','block');
           } else{
               $('.search-form .btn_reset,.search-suggest').css('display','none');
           }
        });

        $('.search-suggest p').on('click',function () {
           let suggest = $(this).text();
            document.getElementById("search").value = suggest;
            $('.search-suggest').css('display','none');
        });

        $('.face_list').slick({
            centerMode: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            dots: false,
            arrows: true,
            responsive: [
                {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 640,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });
        $('.image_list').slick({
            centerMode: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            dots: false,
            arrows: true,
            responsive: [
                {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 640,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });
        $('.job_list').slick({
            centerMode: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            dots: false,
            arrows: true,
            responsive: [
                {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 640,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });



        $('.job-list .dropdown').on('click',function () {

           $(this).parents('.job-filter').toggleClass('show');
        });

        $('.job-dropdown .av').on('change keyup paste click',function () {
            if($(this).val().length > 0){
                $('.job-filter.show .placeholder').css('display','none');
                var fil = $(this).val();
                var fil_html = `<li><p>${fil} <button type="button" class="close">X</button></p></li>`;

                $(this).parents('.job-filter').find('ul').append(fil_html);
            } else{
                $('.job-filter.show .placeholder').css('display','block');
                $(this).parents('.job-filter').find('ul').remove(fil_html);
            }
        });

        $('.job-dropdown input').on('change', function () {
            if ($(this).is(':checked')) {
                $('.job-filter.show .placeholder').css('display','none');
                var fil = $(this).val();
                var fil_id = $(this).data('id');
                var fil_html = `<li id="${fil_id}" data-id="${fil_id}"><p>${fil} <button type="button" class="close">X</button></p></li>`;
                $(this).parents('.job-filter').find('ul').css('display','flex').append(fil_html);
            } else {
                var fil_id = $(this).data('id');

                $(`#${fil_id}`).remove();
            }
        });
        setInterval(function () {
            $('.job-list .close').on('click',function () {
                var data_id = $(this).parents('li').data('id');
                $(this).parents('li').remove();
                $(`.job-dropdown #${data_id}`).prop("checked", false);
            });
        },1000);

        $(document).mouseup(function (e) {
            var form_group = $('.job-filter');
            if (!form_group.is(e.target) && form_group.has(e.target).length === 0) {
                $('.job-filter').removeClass('show');
            }
        });



        //call select2
        $('.select-min2').select2();
    });
</script>

</body>
</html>