<div class="monkey-advise pr">
    <div class="container">
        <div class="advise flex-lc">
            <div class="advise__content">
                <p>Trẻ em cần được trao cơ hội để có thể học tập và phát triển tốt hơn. Giúp con khai phá tiềm năng tư duy và ngôn ngữ ngay hôm nay.</p>
                <form action="" method="">
                    <div class="form-group">
                        <label>Nhập tên ba (mẹ) để được Monkey tư vấn lộ trình học cho bé</label>
                        <input type="text" name="" placeholder="Nhập tên ba/mẹ">
                    </div>
                    <button type="submit" class="btn_submit flex-center">Nhận Tư Vấn Miễn Phí</button>
                </form>
            </div>
            <div class="advise__img">
                <img data-src="./assets/img/monkey.svg" class="lazyload" alt="">
            </div>
        </div>
    </div>
</div>