<main>
    <div class="monkey-page-author">
        <div class="container">
            <div class="author bg-sh flex">
                <div class="author__img"><img src="./assets/img/partner4.jpg" class="ft" alt=""></div>
                <div class="author__content">
                    <div class="name">LÊ HOÀNG NGÂN</div>
                    <div class="position">Growth Manager</div>
                    <div class="des">Nổi tiếng trên mạng từ trước khi “phong trào” blog Việt nở rộ, cô là một nhà văn, một blogger nổi tiếng và có nhiều thành tựu từ khi còn rất trẻ, Hiện Hoàng Ngân có 2 trang blog, một bằng tiếng Việt và một bằng tiếng Trung.</div>
                    <div class="contact flex">
                        <a href="" title="" class="flex-center"><img src="./assets/img/icon-in.svg" alt=""></a>
                        <a href="" title="" class="flex-center"><img src="./assets/img/icon-facebook.svg" alt=""></a>
                        <a href="" title="" class="flex-center"><img src="./assets/img/icon-yt.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="post-list row">
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty5 bg-sh">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg1.jpg" alt=""></a>
                        <div class="post__content">
                            <div class="category">KINH NGHIỆM</div>
                            <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                            <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty5 bg-sh">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg2.jpg" alt=""></a>
                        <div class="post__content">
                            <div class="category">KINH NGHIỆM</div>
                            <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                            <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty5 bg-sh">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg3.jpg" alt=""></a>
                        <div class="post__content">
                            <div class="category">KINH NGHIỆM</div>
                            <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                            <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty5 bg-sh">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg1.jpg" alt=""></a>
                        <div class="post__content">
                            <div class="category">KINH NGHIỆM</div>
                            <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                            <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty5 bg-sh">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg2.jpg" alt=""></a>
                        <div class="post__content">
                            <div class="category">KINH NGHIỆM</div>
                            <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                            <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty5 bg-sh">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg3.jpg" alt=""></a>
                        <div class="post__content">
                            <div class="category">KINH NGHIỆM</div>
                            <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                            <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1"><i class="icon icon-prev"></i></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="icon icon-next"></i></a>
                </li>
            </ul>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>