<main>
    <div class="monkey-support">
        <div class="container">
            <div class="header flex-lc">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Hỗ trợ</a></li>
                    <li class="breadcrumb-item">Sau mua</li>
                    <li class="breadcrumb-item active" aria-current="page">Bộ nhớ máy cần trống bao nhiêu để sử dụng ứng dụng của Monkey?</li>
                </ul>
                <form action="" method="" class="search-form pr">
                    <div class="form-group flex pr">
                        <input id="search" type="text" name="" autocomplete="off" placeholder="Tìm kiếm" required>
                        <button type="submit" class="btn_submit btn_pr">Tìm Kiếm</button>
                        <button type="reset" class="btn_reset"></button>
                    </div>
                    <div class="search-suggest bg-sh">
                        <p>Cùng con <span>vui</span> học tiếng Anh</p>
                        <p>Cùng con học tiếng Anh <span>Tiểu Học</span></p>
                        <p><span>Mẹ</span> cùng con học tiếng Anh</p>
                        <p>Cùng con học tiếng Anh <span>Monkey Edu</span></p>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="sidebar">
                        <ul class="tab nav">
                            <li><a href="#sp1" title="" data-toggle="tab">Trước Mua</a></li>
                            <li><a href="#sp2" title="" data-toggle="tab">Đang Mua</a></li>
                            <li><a href="#sp3" title="" data-toggle="tab" class="active">Sau Mua</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="sp1" class="tab-pane fade show active">
                                <h3>Danh mục hỗ trợ</h3>
                                <div class="accordion">
                                    <div class="item active">
                                        <h4>Quản lý thông tin tài khoản</h4>
                                        <ul class="item__list">
                                            <li><a href="" title=""><span>1.</span> Hướng dẫn ba mẹ cài đặt các chương trình Monkey trên thiết bị di động</a></li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <h4>Hướng dẫn sử dụng chung</h4>
                                        <ul class="item__list">
                                            <li><a href="" title=""><span>1.</span> Hướng dẫn ba mẹ cài đặt các chương trình Monkey trên thiết bị di động</a></li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <h4>Các vấn đề kỹ thuật</h4>
                                        <ul class="item__list">
                                            <li><a href="" title=""><span>1.</span> Hướng dẫn ba mẹ cài đặt các chương trình Monkey trên thiết bị di động</a></li>
                                            <li><a href="" title=""><span>2.</span> Hướng dẫn ba mẹ cài đặt ứng dụng Monkey Stories trên Máy tính/Laptop</a></li>
                                            <li><a href="" title=""><span>3.</span> Hướng dẫn ba mẹ cài đặt ứng dụng Monkey Junior trên Máy tính/Laptop</a></li>
                                            <li><a href="" title=""><span>4.</span> Các thiết bị có thể sử dụng được ứng dụng học tập của Monkey</a></li>
                                            <li><a href="" title=""><span>5.</span> Bộ nhớ máy cần trống bao nhiêu để sử dụng ứng dụng của Monkey?</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="sp2" class="tab-pane fade">
                                <h3>Danh mục hỗ trợ</h3>
                                <div class="accordion">
                                    <div class="item">
                                        <h4>Hướng dẫn sử dụng chung</h4>
                                        <ul class="item__list">
                                            <li><a href="" title=""><span>1.</span> Hướng dẫn ba mẹ cài đặt các chương trình Monkey trên thiết bị di động</a></li>
                                        </ul>
                                    </div>
                                    <div class="item active">
                                        <h4>Các vấn đề kỹ thuật</h4>
                                        <ul class="item__list">
                                            <li><a href="" title=""><span>1.</span> Hướng dẫn ba mẹ cài đặt các chương trình Monkey trên thiết bị di động</a></li>
                                            <li><a href="" title=""><span>2.</span> Hướng dẫn ba mẹ cài đặt ứng dụng Monkey Stories trên Máy tính/Laptop</a></li>
                                            <li><a href="" title=""><span>3.</span> Hướng dẫn ba mẹ cài đặt ứng dụng Monkey Junior trên Máy tính/Laptop</a></li>
                                            <li><a href="" title=""><span>4.</span> Các thiết bị có thể sử dụng được ứng dụng học tập của Monkey</a></li>
                                            <li><a href="" title=""><span>5.</span> Bộ nhớ máy cần trống bao nhiêu để sử dụng ứng dụng của Monkey?</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="sp3" class="tab-pane fade">
                                <h3>Danh mục hỗ trợ</h3>
                                <div class="accordion">
                                    <div class="item active">
                                        <h4>Hướng dẫn học</h4>
                                        <ul class="item__list">
                                            <li><a href="" title=""><span>1.</span> Hướng dẫn ba mẹ cài đặt các chương trình Monkey trên thiết bị di động</a></li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <h4>Quản lý thông tin tài khoản</h4>
                                        <ul class="item__list">
                                            <li><a href="" title=""><span>1.</span> Hướng dẫn ba mẹ cài đặt các chương trình Monkey trên thiết bị di động</a></li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <h4>Hướng dẫn sử dụng chung</h4>
                                        <ul class="item__list">
                                            <li><a href="" title=""><span>1.</span> Hướng dẫn ba mẹ cài đặt các chương trình Monkey trên thiết bị di động</a></li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <h4>Các vấn đề kỹ thuật</h4>
                                        <ul class="item__list">
                                            <li><a href="" title=""><span>1.</span> Hướng dẫn ba mẹ cài đặt các chương trình Monkey trên thiết bị di động</a></li>
                                            <li><a href="" title=""><span>2.</span> Hướng dẫn ba mẹ cài đặt ứng dụng Monkey Stories trên Máy tính/Laptop</a></li>
                                            <li><a href="" title=""><span>3.</span> Hướng dẫn ba mẹ cài đặt ứng dụng Monkey Junior trên Máy tính/Laptop</a></li>
                                            <li><a href="" title=""><span>4.</span> Các thiết bị có thể sử dụng được ứng dụng học tập của Monkey</a></li>
                                            <li><a href="" title=""><span>5.</span> Bộ nhớ máy cần trống bao nhiêu để sử dụng ứng dụng của Monkey?</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="posts-support">
                        <h1>Bộ nhớ máy cần trống bao nhiêu để sử dụng ứng dụng của Monkey?</h1>
                        <article>
                            <p>Khi tải truyện hoặc bài học, nhưng ba mẹ thấy không thể hoàn thành việc tải, rất có thể bộ nhớ máy của ba mẹ đang bị đầy.</p>

                           <p>Monkey gồm các ứng dụng Monkey Junior, Monkey Stories, Monkey Math và VMonkey là các ứng dụng học tập cho bé từ 0-10 tuổi. Các chương trình này đều có số lượng bài học với nội dung khổng lồ và liên tục cập nhật các nội dung mới mỗi tuần (đối với Monkey Stories và VMonkey). Do đó để đảm bảo sử dụng chương trình một cách ổn định, ba mẹ cần lưu ý cài đặt chương trình trên các thiết bị có đủ bộ nhớ trống ở mức đáp ứng tối thiểu yêu cầu về không gian lưu trữ.</p>

                            <p>Để sử dụng các ứng dụng của Monkey ba mẹ cần để trống 2 - 3GB bộ nhớ trở lên để có thể tải các bài học và sử dụng ứng dụng một cách tốt nhất.</p>

                            <p>Ba mẹ lưu ý: Hiện Monkey chỉ hỗ trợ lưu nội dung học trong bộ nhớ trong (ROM) của máy mà chưa cho phép lưu trên thẻ nhớ, nên trường hợp máy có hỗ trợ thẻ nhớ trống dung lượng, cũng không thể hỗ trợ tải thêm nội dung học.</p>

                            <p>Ngoài ra, hiện nay các ứng dụng Monkey Stories, Monkey Math và VMonkey đã hỗ trợ tính năng xóa nội dung đã tải, ba mẹ có thể sử dụng tính năng này để giải phóng bớt dung lượng bộ nhớ nhé!</p>

                            <p>Chúc ba mẹ và bé có những giờ phút học tập thú vị cùng Monkey!</p>
                        </article>
                        <div class="feedback flex-lc">
                            <p>Ba mẹ thấy bài viết này hữu ích không?</p>
                            <div class="like flex-lc">
                                <i class="icon icon-like"></i>
                                <input type="number" value="12" readonly>
                            </div>
                            <div class="dislike flex-lc">
                                <i class="icon icon-dislike"></i>
                                <input type="number" value="25" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact bg-sh">
                <h4>Ba mẹ có thêm câu hỏi khác? Hãy đặt câu hỏi ngay tại đây.</h4>
                <div class="contact__list flex">
                    <a href="#" class="phone flex-center"><img src="./assets/img/icon-phone.svg" width="30" alt=""></a>
                    <a href="#" class="email flex-center"><img src="./assets/img/icon-mail.svg" width="30" alt=""></a>
                    <a href="#" class="zalo flex-center"><img src="./assets/img/icon-zalo.svg" alt=""></a>
                    <a href="#" class="facebook flex-center"><img src="./assets/img/icon-facebook1.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>