<main>
    <div class="monkey-tutorials">
        <div class="header">
            <h1 class="title">Hướng dẫn học Monkey Junior</h1>
            <p>Chọn Monkey Junior, bố mẹ đi được 50% chặng đường. Áp dụng những hướng dẫn học sau đây, bố mẹ cùng con đi 50% chặng đường còn lại!</p>
        </div>
        <div class="guide-list">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="post bg-sh">
                            <div class="post__thumb"><a href="" title=""><img class="ft" src="./assets/img/img-bm1.jpg" alt=""></a></div>
                            <div class="post__content">
                                <h3><a href="" title="" class="line line2">Vai trò của ba mẹ trong việc giúp con bắt đầu học tiếng An...</a></h3>
                                <p class="line line4">Thực tế cho thấy, trẻ có ba mẹ đồng hành, việc học Monkey Junior sẽ có hiệu quả vượt trội và nhanh chóng hơn so với các trẻ...</p>
                                <a href="" title="" class="btn_viewmore flex-center">Chi Tiết <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="post bg-sh">
                            <div class="post__thumb"><a href="" title=""><img class="ft" src="./assets/img/img-bm2.jpg" alt=""></a></div>
                            <div class="post__content">
                                <h3><a href="" title="" class="line line2">Hướng dẫn ba mẹ 2 cách khai thác bài học Monkey Junior</a></h3>
                                <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                                <a href="" title="" class="btn_viewmore flex-center">Chi Tiết <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="post bg-sh">
                            <div class="post__thumb"><a href="" title=""><img class="ft" src="./assets/img/img-bm3.jpg" alt=""></a></div>
                            <div class="post__content">
                                <h3><a href="" title="" class="line line2">Hứng thú học - điều kiện tiên quyết để con bắt đầu học tiếng...</a></h3>
                                <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                                <a href="" title="" class="btn_viewmore flex-center">Chi Tiết <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="post bg-sh">
                            <div class="post__thumb"><a href="" title=""><img class="ft" src="./assets/img/img-bm4.jpg" alt=""></a></div>
                            <div class="post__content">
                                <h3><a href="" title="" class="line line2">Cách giúp con học nhiều ngôn ngữ trên Monkey Junior</a></h3>
                                <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                                <a href="" title="" class="btn_viewmore flex-center">Chi Tiết <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="post bg-sh">
                            <div class="post__thumb"><a href="" title=""><img class="ft" src="./assets/img/img-bm5.jpg" alt=""></a></div>
                            <div class="post__content">
                                <h3><a href="" title="" class="line line2">Bắt đầu học tiếng Anh với Monkey Junior: Cách kết hợp...</a></h3>
                                <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                                <a href="" title="" class="btn_viewmore flex-center">Chi Tiết <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-join-group">
        <div class="container">
            <h2 class="title">Tham Gia Ngay Group <br> "Đồng Hành Cùng Con Học Monkey"</h2>
            <div class="benefit-join flex">
                <div class="benefit">
                    <div class="benefit__title flex-center">
                        <div class="icon"><img src="./assets/img/icon-headphone.svg" alt=""></div>
                        <span>HỖ TRỢ</span>
                    </div>
                    <div class="benefit__content">Có Teacher Monkey hỗ trợ nhận xét, giúp con học tiến bộ</div>
                </div>
                <div class="benefit">
                    <div class="benefit__title flex-center">
                        <div class="icon"><img src="./assets/img/icon-correct.svg" alt=""></div>
                        <span>TƯ VẤN</span>
                    </div>
                    <div class="benefit__content">Tư vấn từ Khỉ con tinh nghịch và các phụ huynh giàu kinh nghiệm</div>
                </div>
                <div class="benefit">
                    <div class="benefit__title flex-center">
                        <div class="icon"><img src="./assets/img/icon-hot.svg" alt=""></div>
                        <span>THỬ THÁCH</span>
                    </div>
                    <div class="benefit__content">Tham gia Thử thách 21 ngày tạo thói quen học tập & nhiều hoạt động sôi nổi khác</div>
                </div>
            </div>
            <a href="" title="" class="btn_join flex-center">Tham Gia Group <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="monkey-question">
        <div class="container">
            <div class="box-question bg-sh">
                <h4>CÂU HỎI THƯỜNG GẶP</h4>
                <ul class="question-list flex">
                    <li>
                        <span>1.</span>
                        <a href="">Khi học Monkey Junior, con chỉ thích chơi trò chơi mà không thực sự chú tâm vào các nội dung của bài học. Ba mẹ nên làm thế nào trong tình huống này?</a>
                    </li>
                    <li>
                        <span>2.</span>
                        <a href="">Có nên cho con học lại bài đã học trong Monkey Junior?</a>
                    </li>
                    <li>
                        <span>3.</span>
                        <a href="">Ba mẹ có nên giúp con hoàn thành và vượt qua thử thách trong phần trò chơi nếu con chọn sai không?</a>
                    </li>
                    <li>
                        <span>4.</span>
                        <a href="">Cách học theo chủ đề trong Monkey Junior</a>
                    </li>
                    <li>
                        <span>5.</span>
                        <a href="">Monkey Junior có còn phù hợp với những bé đã tiếp xúc và đã biết một vài từ tiếng Anh cơ bản hay không?</a>
                    </li>
                    <li>
                        <span>6.</span>
                        <a href="">Ba mẹ muốn cho con học cả Tiếng Việt và tiếng Anh trên Monkey Junior thì học như thế nào?</a>
                    </li>
                    <li>
                        <span>7.</span>
                        <a href="">Hướng dẫn sắp xếp sticker trong cửa hàng trên Monkey Junior</a>
                    </li>
                    <li>
                        <span>8.</span>
                        <a href="">Làm thế nào để thay đổi ngôn ngữ sử dụng trong ứng dụng Monkey Junior?</a>
                    </li>
                    <li>
                        <span>9.</span>
                        <a href="">Cách chọn chương trình học và tải khóa học trên Monkey Junior</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>
