<main>
    <div class="hastag">
        <div class="container">
            <div class="header">
                <span>#Monkey Stories</span>
                <p>46 bài viết liên quan đến hashtag này</p>
            </div>
            <div class="hastag__list row">
                <div class="col-lg-4 col-md-6">
                    <article class="post bg-sh">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-bm2.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title=""class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                            <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post bg-sh">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-bm3.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title=""class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                            <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post bg-sh">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-bm4.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title=""class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                            <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post bg-sh">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-bm5.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title=""class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                            <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post bg-sh">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-bm3.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title=""class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                            <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post bg-sh">
                        <a href="" title="" class="post__thumb"><img src="./assets/img/img-bm4.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="" title=""class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                            <p class="line line4">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1"><i class="icon icon-prev"></i></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="icon icon-next"></i></a>
                </li>
            </ul>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>