<main>
    <div class="monkey-search">
        <div class="header">
            <h1 class="title">Học Liệu Cho Bé</h1>
            <p class="tf1">Những bài tập và tài liệu giúp bé học tập và phát triển toàn diện</p>
        </div>
        <form action="" method="" class="search-form pr">
            <div class="form-group flex pr">
                <input id="search" type="text" name="" required>
                <button type="submit" class="btn_submit btn_pr">Tìm Kiếm</button>
                <button type="reset" class="btn_reset"></button>
            </div>
            <div class="search-suggest bg-sh">
                <p>Cùng con <span>vui</span> học tiếng Anh</p>
                <p>Cùng con học tiếng Anh <span>Tiểu Học</span></p>
                <p><span>Mẹ</span> cùng con học tiếng Anh</p>
                <p>Cùng con học tiếng Anh <span>Monkey Edu</span></p>
            </div>
            <div class="search-popular flex">
                <h5>Các tìm kiếm phổ biến:</h5>
                <a href="" title="">Monkey Junior</a>
                <a href="" title="">Cùng con học Tiếng Anh</a>
                <a href="" title="">Nâng cao trí tuệ</a>
                <a href="" title="">Ở nhà cùng con</a>
            </div>
        </form>
    </div>
    <div class="monkey-search-result bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="filter">
                        <div class="filter__item">
                            <h4>ĐỘ TUỔI</h4>
                            <div class="filter__item__list">
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="age">
                                    <span class="checked"></span>
                                    0-3 tuổi
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="age">
                                    <span class="checked"></span>
                                    3-6 tuổi
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="age">
                                    <span class="checked"></span>
                                    trên 6 tuổi
                                </label>
                            </div>
                        </div>
                        <div class="filter__item">
                            <h4>MÔN HỌC</h4>
                            <div class="filter__item__list filter__item__list--select">
                                <select name="" class="select-min2">
                                    <option value="Tiếng Anh (Cấp độ 1)">Tiếng Anh (Cấp độ 1)</option>
                                    <option value="Tiếng Anh (Cấp độ 2)">Tiếng Anh (Cấp độ 2)</option>
                                    <option value="Tiếng Anh (Cấp độ 3)">Tiếng Anh (Cấp độ 3)</option>
                                    <option value="Tiếng Anh (Cấp độ 4)">Tiếng Anh (Cấp độ 4)</option>
                                    <option value="Tiếng Anh (Cấp độ 4)">Tiếng Anh (Cấp độ 5)</option>
                                    <option value="Tiếng Anh (Cấp độ 4)">Tiếng Anh (Cấp độ 6)</option>
                                    <option value="Tiếng Anh (Cấp độ 4)">Tiếng Anh (Cấp độ 7)</option>
                                    <option value="Tiếng Anh (Cấp độ 4)">Tiếng Anh (Cấp độ 8)</option>
                                </select>
                                <select name="" class="select-min2">
                                    <option value="Tiếng Việt">Tiếng Việt</option>
                                </select>
                                <select name="" class="select-min2">
                                    <option value="Tiếng Việt">Toán</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter__item">
                            <h4>CHỦ ĐỀ</h4>
                            <div class="filter__item__list filter__item__list--tg">
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    Phonics
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    Grammar
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    Vocab
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    ABC
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    DEF
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    Animal
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    Fruit
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    Music
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    Family
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    Friends
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    Food
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    Camping
                                </label>
                            </div>
                            <button type="button" class="btn_filter_more flex-lc tf3">Xem thêm <i class="fas fa-chevron-down"></i></button>
                            <button type="button" class="btn_filter_coll flex-lc tf3">Thu gọn <i class="fas fa-chevron-up"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="result">
                        <div class="result__header flex">
                            <div class="fil fil--search">
                                <h5 class="tf1">Tìm được 86 kết quả</h5>
                                <div class="list flex-lc">
                                    <a href="javascript:;" class="fil__item"><span>3-6 tuổi</span><i class="icon-close"></i></a>
                                    <a href="javascript:;" class="fil__item"><span>Tiếng Anh (Cấp độ 2)</span><i class="icon-close"></i></a>
                                    <a href="javascript:;" class="fil__item"><span>Vocab</span><i class="icon-close"></i></a>
                                    <a href="javascript:;" class="btn_remove_all">Xoá tất cả</a>
                                </div>
                            </div>
                            <div class="fil fil--sort flex-lc">
                                <h4>Sắp xếp theo:</h4>
                                <select name="" class="select-min2">
                                    <option value="Mới nhất">Mới nhất</option>
                                </select>
                                <button type="button" class="btn_filter_m m-s flex-lc tf2">Bộ lọc (3) <i class="icon icon-filter"></i></button>
                            </div>
                        </div>
                        <div class="result__list">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <span class="age tf2">3-6 tuổi</span>
                                        <a href="" class="post__thumb"><img data-src="./assets/img/thumb.jpg" class="lazyload" alt=""></a>
                                        <div class="post__content tf2">
                                            Cùng con học tiếng Anh với Học liệu mới "Maze kid game"
                                        </div>
                                        <div class="post__download">
                                            <a href="" title="" class="btn_download">Download</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <span class="age tf2">3-6 tuổi</span>
                                        <a href="" class="post__thumb"><img data-src="./assets/img/thumb.jpg" class="lazyload" alt=""></a>
                                        <div class="post__content tf2">
                                            Cùng con học tiếng Anh với Học liệu mới "Maze kid game"
                                        </div>
                                        <div class="post__download">
                                            <a href="" title="" class="btn_download">Download</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <span class="age tf2">3-6 tuổi</span>
                                        <a href="" class="post__thumb"><img data-src="./assets/img/thumb.jpg" class="lazyload" alt=""></a>
                                        <div class="post__content tf2">
                                            Cùng con học tiếng Anh với Học liệu mới "Maze kid game"
                                        </div>
                                        <div class="post__download">
                                            <a href="" title="" class="btn_download">Download</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <span class="age tf2">3-6 tuổi</span>
                                        <a href="" class="post__thumb"><img data-src="./assets/img/thumb.jpg" class="lazyload" alt=""></a>
                                        <div class="post__content tf2">
                                            Cùng con học tiếng Anh với Học liệu mới "Maze kid game"
                                        </div>
                                        <div class="post__download">
                                            <a href="" title="" class="btn_download">Download</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <span class="age tf2">3-6 tuổi</span>
                                        <a href="" class="post__thumb"><img data-src="./assets/img/thumb.jpg" class="lazyload" alt=""></a>
                                        <div class="post__content tf2">
                                            Cùng con học tiếng Anh với Học liệu mới "Maze kid game"
                                        </div>
                                        <div class="post__download">
                                            <a href="" title="" class="btn_download">Download</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <span class="age tf2">3-6 tuổi</span>
                                        <a href="" class="post__thumb"><img data-src="./assets/img/thumb.jpg" class="lazyload" alt=""></a>
                                        <div class="post__content tf2">
                                            Cùng con học tiếng Anh với Học liệu mới "Maze kid game"
                                        </div>
                                        <div class="post__download">
                                            <a href="" title="" class="btn_download">Download</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <span class="age tf2">3-6 tuổi</span>
                                        <a href="" class="post__thumb"><img data-src="./assets/img/thumb.jpg" class="lazyload" alt=""></a>
                                        <div class="post__content tf2">
                                            Cùng con học tiếng Anh với Học liệu mới "Maze kid game"
                                        </div>
                                        <div class="post__download">
                                            <a href="" title="" class="btn_download">Download</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <span class="age tf2">3-6 tuổi</span>
                                        <a href="" class="post__thumb"><img data-src="./assets/img/thumb.jpg" class="lazyload" alt=""></a>
                                        <div class="post__content tf2">
                                            Cùng con học tiếng Anh với Học liệu mới "Maze kid game"
                                        </div>
                                        <div class="post__download">
                                            <a href="" title="" class="btn_download">Download</a>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <span class="age tf2">3-6 tuổi</span>
                                        <a href="" class="post__thumb"><img data-src="./assets/img/thumb.jpg" class="lazyload" alt=""></a>
                                        <div class="post__content tf2">
                                            Cùng con học tiếng Anh với Học liệu mới "Maze kid game"
                                        </div>
                                        <div class="post__download">
                                            <a href="" title="" class="btn_download">Download</a>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="icon icon-prev"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="icon icon-next"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-fix-left">
        <div class="logo"><img src="./assets/img/logo.png" alt=""></div>
        <h3>Bộ lọc</h3>
        <button type="button" class="close"></button>
        <div class="filter">
            <div class="filter__item">
                <h4>ĐỘ TUỔI</h4>
                <div class="filter__item__list">
                    <label class="flex-lc pr">
                        <input type="radio" name="age">
                        <span class="checked"></span>
                        0-3 tuổi
                    </label>
                    <label class="flex-lc pr">
                        <input type="radio" name="age">
                        <span class="checked"></span>
                        3-6 tuổi
                    </label>
                    <label class="flex-lc pr">
                        <input type="radio" name="age">
                        <span class="checked"></span>
                        trên 6 tuổi
                    </label>
                </div>
            </div>
            <div class="filter__item">
                <h4>MÔN HỌC</h4>
                <div class="filter__item__list filter__item__list--select">
                    <select name="" class="select-min2">
                        <option value="Tiếng Anh (Cấp độ 1)">Tiếng Anh (Cấp độ 1)</option>
                        <option value="Tiếng Anh (Cấp độ 2)">Tiếng Anh (Cấp độ 2)</option>
                        <option value="Tiếng Anh (Cấp độ 3)">Tiếng Anh (Cấp độ 3)</option>
                        <option value="Tiếng Anh (Cấp độ 4)">Tiếng Anh (Cấp độ 4)</option>
                    </select>
                    <select name="" class="select-min2">
                        <option value="Tiếng Việt">Tiếng Việt</option>
                    </select>
                    <select name="" class="select-min2">
                        <option value="Tiếng Việt">Toán</option>
                    </select>
                </div>
            </div>
            <div class="filter__item">
                <h4>CHỦ ĐỀ</h4>
                <div class="filter__item__list filter__item__list--tg">
                    <label class="flex-lc pr">
                        <input type="radio" name="theme">
                        <span class="checked"></span>
                        Phonics
                    </label>
                    <label class="flex-lc pr">
                        <input type="radio" name="theme">
                        <span class="checked"></span>
                        Grammar
                    </label>
                    <label class="flex-lc pr">
                        <input type="radio" name="theme">
                        <span class="checked"></span>
                        Vocab
                    </label>
                    <label class="flex-lc pr">
                        <input type="radio" name="theme">
                        <span class="checked"></span>
                        ABC
                    </label>
                    <label class="flex-lc pr">
                        <input type="radio" name="theme">
                        <span class="checked"></span>
                        DEF
                    </label>
                    <label class="flex-lc pr">
                        <input type="radio" name="theme">
                        <span class="checked"></span>
                        Animal
                    </label>
                    <label class="flex-lc pr">
                        <input type="radio" name="theme">
                        <span class="checked"></span>
                        Fruit
                    </label>
                    <label class="flex-lc pr">
                        <input type="radio" name="theme">
                        <span class="checked"></span>
                        Music
                    </label>
                    <label class="flex-lc pr">
                        <input type="radio" name="theme">
                        <span class="checked"></span>
                        Family
                    </label>
                    <label class="flex-lc pr">
                        <input type="radio" name="theme">
                        <span class="checked"></span>
                        Friends
                    </label>
                    <label class="flex-lc pr">
                        <input type="radio" name="theme">
                        <span class="checked"></span>
                        Food
                    </label>
                    <label class="flex-lc pr">
                        <input type="radio" name="theme">
                        <span class="checked"></span>
                        Camping
                    </label>
                </div>
                <button type="button" class="btn_filter_more flex-lc tf3">Xem thêm <i class="fas fa-chevron-down"></i></button>
                <button type="button" class="btn_filter_coll flex-lc tf3">Thu gọn <i class="fas fa-chevron-up"></i></button>
            </div>
        </div>
        <button type="button" class="btn_apply btn_pr flex-center">Áp Dụng</button>
    </div>
    {% include "../include/advise.html" %}
</main>