<main>
    <div class="box-breadcrumb container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Học liệu cho bé</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</li>
        </ul>
    </div>
    <div class="monkey-courseware container">
        <div class="courseware bg-sh flex">
            <div class="courseware__left">
                <div class="slider slider-for">
                    <div class="item">
                        <img src="./assets/img/img-hl.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="./assets/img/img-hl.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="./assets/img/img-hl.jpg" alt="">
                    </div>
                </div>
                <div class="slider slider-nav">
                    <div class="item"><img src="./assets/img/thumb3.jpg" alt=""></div>
                    <div class="item"><img src="./assets/img/thumb4.jpg" alt=""></div>
                    <div class="item"><img src="./assets/img/thumb3.jpg" alt=""></div>
                </div>
                <div class="share flex-lc pr">
                    <p>Chia sẻ học liệu này</p>
                    <div class="box-share">
                        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fmonkeyjuniorvietnam&layout=button&size=large&width=87&height=28&appId" width="87" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                        <button type="button" class="btn_share_fake"></button>
                    </div>
                </div>
            </div>
            <div class="courseware__right">
                <h2>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</h2>
                <div class="flex">
                    <div class="age">3-6 tuổi</div>
                    <div class="lg flex-center"><i class="icon icon-lg"></i> Tiếng Anh</div>
                </div>
                <div class="text">
                    <h4>Mô tả</h4>
                    <p>Học liệu  “Maze kid game” (Trò chơi mê cung) dành cho các bé từ 3 tuổi. Học liệu này giúp bé rèn khả năng quan sát, phán đoán, xác định phương hướng và tư duy logic.</p>
                </div>
                <div class="text">
                    <h4>Hướng dẫn</h4>
                    <p>Ba mẹ in học liệu khổ A5 trở lên và cho bé vẽ đường thoát khỏi mê cung theo yêu cầu.</p>
                    <p>Monkey chúc ba mẹ và các bé học tập thật vui và hiệu quả!</p>
                </div>
                <a href="" class="btn_pr btn_download flex-center"><i class="icon icon-download"></i> Tải ngay</a>
            </div>
        </div>
    </div>
    <div class="monkey-post monkey-post--course">
        <div class="container">
            <h3 class="title flex-lc"><span>CÁC HỌC LIỆU LIÊN QUAN KHÁC</span></h3>
            <div class="post-slider">
                <div class="post post-course bg-sh">
                    <span class="age tf2">3-6 tuổi</span>
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <div class="lg flex"><i class="icon icon-lg"></i>Tiếng Anh</div>
                        <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                    </div>
                    <a href="" class="btn_viewmore flex-center">Xem thêm <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="post post-course bg-sh">
                    <span class="age tf2">3-6 tuổi</span>
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <div class="lg flex"><i class="icon icon-lg"></i>Tiếng Việt</div>
                        <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                    </div>
                    <a href="" class="btn_viewmore flex-center">Xem thêm <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="post post-course bg-sh">
                    <span class="age tf2">3-6 tuổi</span>
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <div class="lg flex"><i class="icon icon-lg"></i>Toán</div>
                        <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                    </div>
                    <a href="" class="btn_viewmore flex-center">Xem thêm <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="post post-course bg-sh">
                    <span class="age tf2">3-6 tuổi</span>
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <div class="lg flex"><i class="icon icon-lg"></i>Tiếng Anh</div>
                        <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                    </div>
                    <a href="" class="btn_viewmore flex-center">Xem thêm <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="post post-course bg-sh">
                    <span class="age tf2">3-6 tuổi</span>
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <div class="lg flex"><i class="icon icon-lg"></i>Tiếng Anh</div>
                        <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                    </div>
                    <a href="" class="btn_viewmore flex-center">Xem thêm <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-post monkey-post--download">
        <div class="container">
            <h3 class="title flex-lc">TẢI XUỐNG NHIỀU NHẤT</h3>
            <div class="post-slider">
                <div class="post post-course bg-sh">
                    <span class="age tf2">3-6 tuổi</span>
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <div class="lg flex"><i class="icon icon-lg"></i>Tiếng Anh</div>
                        <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                    </div>
                    <a href="" class="btn_viewmore flex-center">Xem thêm <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="post post-course bg-sh">
                    <span class="age tf2">3-6 tuổi</span>
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <div class="lg flex"><i class="icon icon-lg"></i>Tiếng Anh</div>
                        <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                    </div>
                    <a href="" class="btn_viewmore flex-center">Xem thêm <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="post post-course bg-sh">
                    <span class="age tf2">3-6 tuổi</span>
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <div class="lg flex"><i class="icon icon-lg"></i>Tiếng Anh</div>
                        <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                    </div>
                    <a href="" class="btn_viewmore flex-center">Xem thêm <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="post post-course bg-sh">
                    <span class="age tf2">3-6 tuổi</span>
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <div class="lg flex"><i class="icon icon-lg"></i>Tiếng Anh</div>
                        <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                    </div>
                    <a href="" class="btn_viewmore flex-center">Xem thêm <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="post post-course bg-sh">
                    <span class="age tf2">3-6 tuổi</span>
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <div class="lg flex"><i class="icon icon-lg"></i>Tiếng Anh</div>
                        <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                    </div>
                    <a href="" class="btn_viewmore flex-center">Xem thêm <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-registerfree container">
        <div class="box-register bg-sh">
            <form action="" method="">
                <h3>ĐĂNG KÝ ĐỂ NHẬN HỌC LIỆU MIỄN PHÍ</h3>
                <p>Ba mẹ để lại email để được Monkey gửi thông báo khi có học liệu, kinh nghiệm & kiến thức nuôi dạy con mới nhất từ Monkey</p>
                <div class="form-group">
                    <input type="text" name="" placeholder="Họ tên ba/mẹ" required>
                </div>
                <div class="form-group">
                    <input type="email" name="" placeholder="Email" required>
                </div>
                <button type="submit" class="btn_submit btn_pr flex-center">Đăng Ký Miễn Phí</button>
            </form>
        </div>
    </div>
    <div class="monkey-post monkey-post--miss">
        <div class="container">
            <h3 class="title flex-lc">ĐỪNG BỎ LỠ</h3>
            <div class="post-slider">
                <div class="post post-course bg-sh">
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <a href="" title="" class="line line2">Hỏi đáp về chương trình "Khi ở nhà Mẹ là cô giáo"</a>
                    </div>
                </div>
                <div class="post post-course bg-sh">
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <a href="" title="" class="line line2">Hỏi đáp về chương trình "Khi ở nhà Mẹ là cô giáo"</a>
                    </div>
                </div>
                <div class="post post-course bg-sh">
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <a href="" title="" class="line line2">Hỏi đáp về chương trình "Khi ở nhà Mẹ là cô giáo"</a>
                    </div>
                </div>
                <div class="post post-course bg-sh">
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <a href="" title="" class="line line2">Hỏi đáp về chương trình "Khi ở nhà Mẹ là cô giáo"</a>
                    </div>
                </div>
                <div class="post post-course bg-sh">
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <a href="" title="" class="line line2">Hỏi đáp về chương trình "Khi ở nhà Mẹ là cô giáo"</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>