<main>
    <div class="monkey-hs1 pr">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="intro">
                        <h1 class="title">Đưa Tiếng Anh Đến Gần Hơn Với Con Của Bạn Mỗi Ngày</h1>
                        <p>Monkey đồng hành cùng ba mẹ giúp bé khôn lớn với bộ ứng dụng số 1 về tiếng Anh và giáo dục cho trẻ từ 0 đến 10 tuổi tại Việt Nam</p>
                    </div>
                    <div class="box-btn flex-lc pc-s">
                        <a href="" title="" class="btn-discover flex-center">Khám Phá Sản Phẩm <i class="fas fa-chevron-right"></i></a>
                        <p>Bạn cần tư vấn? <a href="" title="javascript:;" data-toggle="modal" data-target="#modal-register2">Đặt lịch ngay</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="video pr" data-toggle="modal" data-target="#modal-video">
                        <div class="video__thumb"><img data-src="./assets/img/img-1.png" class="lazyload" alt=""></div>
                        <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                    </div>
                    <div class="box-btn flex-lc m-s">
                        <a href="" title="" class="btn-discover flex-center">Khám Phá Sản Phẩm <i class="fas fa-chevron-right"></i></a>
                        <p>Bạn cần tư vấn? <a href="javascript:;" title="" data-toggle="modal" data-target="#modal-register2">Đặt lịch ngay</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-hs2 pr">
        <div class="container">
            <div class="header">
                <h2 class="title">Các Ứng Dụng Học Tập Của Monkey</h2>
                <p>Dù con của bạn đang ở giai đoạn nào trong độ tuổi dưới 10, các ứng dụng của Monkey đều phù hợp để giúp bé học tập hiệu quả.</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="program">
                        <div class="program__img"><img src="./assets/img/mk-junior.svg" alt=""></div>
                        <div class="program__des">Tiếng Anh cho trẻ mới bắt đầu, giúp con tích lũy hơn 3.000 từ vựng và 6.000 mẫu câu</div>
                        <a href="" title="Xem thêm" class="btn_viewmore flex-center">Xem thêm <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="program">
                        <div class="program__img"><img src="./assets/img/mk-stories.svg" alt=""></div>
                        <div class="program__des">Giúp trẻ giỏi tiếng Anh trước 10 tuổi, phát triển toàn diện 4 kỹ năng Nghe - Nói - Đọc - Viết</div>
                        <a href="" title="Xem thêm" class="btn_viewmore flex-center">Xem thêm <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="program">
                        <div class="program__img"><img src="./assets/img/mk-math.svg" alt=""></div>
                        <div class="program__des">Học Toán theo Chương trình GDPT mới cho trẻ <br> Mầm non & Tiểu học</div>
                        <a href="" title="Xem thêm" class="btn_viewmore flex-center">Xem thêm <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="program">
                        <div class="program__img"><img src="./assets/img/vmonkey.svg" alt=""></div>
                        <div class="program__des">Học tiếng Việt theo Chương trình GDPT mới cho trẻ <br> Mầm non & Tiểu học</div>
                        <a href="" title="Xem thêm" class="btn_viewmore flex-center">Xem thêm <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-hs3 pr">
        <div class="container">
            <div class="row flex-lc">
                <div class="col-lg-6 col-md-6">
                    <div class="text">
                        <h2 class="title">Tại Sao Ba Mẹ Nên Lựa Chọn Monkey Cho Con?</h2>
                        <p>Monkey là ứng dụng duy nhất tại Việt Nam cam kết hỗ trợ, tư vấn và đồng hành cùng ba mẹ ngay cả sau khi mua, trong suốt quá trình sử dụng.</p>
                    </div>
                    <div class="form">
                        <form action="" method="">
                            <div class="form-group">
                                <input type="text" name="" placeholder="Nhập tên ba/mẹ">
                                <button type="submit" class="btn_submit">Nhận Tư Vấn Miễn Phí</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6">
                            <div class="feature">
                                <div class="feature__thumb"><img src="./assets/img/95.svg" alt=""></div>
                                <div class="feature__text">95% yêu cầu được xử lý trong ngày</div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-6">
                            <div class="feature">
                                <div class="feature__thumb"><img src="./assets/img/group1.svg" alt=""></div>
                                <div class="feature__text">Cộng đồng người học lớn nhất Việt Nam</div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-6">
                            <div class="feature">
                                <div class="feature__thumb"><img src="./assets/img/monkey1.svg" alt=""></div>
                                <div class="feature__text">Teacher Monkey hỗ trợ để giúp con tiến bộ</div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-6">
                            <div class="feature">
                                <div class="feature__thumb"><img src="./assets/img/book.svg" alt=""></div>
                                <div class="feature__text">Học liệu mới hàng tuần hoàn toàn miễn phí</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-hs4 pr">
        <div class="container">
            <div class="header">
                <h2 class="title">Giải Thưởng Của Monkey</h2>
                <p>Monkey tự hào nhận được các giải thưởng danh giá từ Chính phủ và các tổ chức uy tín.</p>
            </div>
            <div class="reward flex">
                <div class="slider slider-for">
                    <div class="item">
                        <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                        <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                    </div>
                    <div class="item">
                        <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                        <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                    </div>
                    <div class="item active">
                        <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                        <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                    </div>
                    <div class="item">
                        <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                        <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                    </div>
                    <div class="item">
                        <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                        <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                    </div>
                    <div class="item">
                        <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                        <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                    </div>
                    <div class="item">
                        <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                        <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                    </div>
                </div>
                <div class="slider slider-nav">
                    <button type="button" class="btn_nav btn_prev"></button>
                    <div class="slider-list">
                        <div class="slider-track">
                            <div class="item">
                                <h3>Giải nhất Sáng kiến toàn cầu tại Mỹ</h3>
                                <p>Giải nhất Sáng kiến toàn cầu tại Mỹ</p>
                            </div>
                            <div class="item">
                                <h3>Giải nhất Nhân Tài Đất Việt</h3>
                                <p>Giải nhất Sáng kiến toàn cầu tại Mỹ Giải nhất Sáng kiến toàn cầu tại Mỹ</p>
                            </div>
                            <div class="item active">
                                <h3>Bằng khen của Thủ tướng Chính phủ</h3>
                                <p>Xây dựng một ứng dụng giúp ích cho hàng triệu các trẻ em nhỏ Việt Nam và trên thế giới, Monkey tự hào nhận được Bằng khen của Thủ Tướng Chính Phủ... <a href="" title="Xem thêm" class="btn_viewmore">Xem thêm</a></p>
                            </div>
                            <div class="item">
                                <h3>Giải nhất cuộc thi AEA tại Nhật Bản</h3>
                                <p>Giải nhất Nhân Tài Đất Việt</p>
                            </div>
                            <div class="item">
                                <h3>Giải Vàng tại ASEAN ICT Awards</h3>
                                <p>Giải nhất cuộc thi AEA tại Nhật Bản</p>
                            </div>
                            <div class="item">
                                <h3>Giải Vàng tại ASEAN ICT Awards2</h3>
                                <p>Giải Vàng tại ASEAN ICT Awards</p>
                            </div>
                            <div class="item">
                                <h3>Giải Vàng tại ASEAN ICT Awards3</h3>
                                <p>Giải Vàng tại ASEAN ICT Awards</p>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn_nav btn_next"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-hs5 monkey-statistical monkey-statistical--home pr">
        <div class="container">
            <div class="header">
                <h2 class="title">Những Con Số Biết Nói</h2>
                <p>Trải qua 6 năm hình thành và phát triển, Monkey đang nỗ lực mỗi ngày để đưa tiếng Anh và giáo dục sớm đến với nhiều trẻ em hơn trên toàn cầu.</p>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="statistical">
                        <h3 class="flex-center"><i class="icon icon-top"></i> TOP 1</h3>
                        <p>Ứng dụng tiên phong áp dụng các phương pháp Giáo dục sớm tại Việt Nam</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="statistical">
                        <h3 class="flex-center"><i class="icon icon-star"></i> 95%</h3>
                        <p>Người dùng đánh giá 5 sao</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="statistical">
                        <h3 class="flex-center"><i class="icon icon-ct"></i> 108 QUỐC GIA</h3>
                        <p>Và vùng lãnh thổ có trẻ em học tiếng Anh với Monkey</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="statistical">
                        <h3 class="flex-center"><i class="icon icon-user"></i> 10 TRIỆU TRẺ EM</h3>
                        <p>Học tiếng Anh cùng Monkey trên toàn thế giới</p>
                    </div>
                </div>
            </div>
            <a href="" class="btn-pr flex-center">Học Viên Của Monkey <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="monkey-hs6 pr">
        <div class="container">
            <div class="header pr">
                <h2 class="title">Ba Mẹ Cần Biết</h2>
                <p>Tất cả lời khuyên hữu ích và thông tin bạn cần để nuôi dạy con tốt hơn.</p>
                <a href="" title="Xem tất cả" class="btn-viewmore flex-lc ml-auto pc-s">Xem tất cả <i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <article class="post">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-bm1.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <span>KINH NGHIỆM</span>
                            <h3><a href="">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                            <p>Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-bm2.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <span>KIẾN THỨC</span>
                            <h3><a href="">Bí quyết luyện nói Tiếng Anh cho trẻ em hiệu quả</a></h3>
                            <p>Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-bm3.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <span>KINH NGHIỆM</span>
                            <h3><a href="">Tổng hợp những mẫu câu tiếng Anh giao tiếp thông dụng</a></h3>
                            <p>Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <a href="" class="btn_more m-s">Xem Tất Cả</a>
        </div>
    </div>
    <div class="monkey-hs7 pr">
        <div class="container">
            <div class="partner">
                <div class="item">
                    <a href=""><img data-src="./assets/img/vnexpress.png" class="lazyload" alt=""></a>
                </div>
                <div class="item">
                    <a href=""><img data-src="./assets/img/zing.png" class="lazyload" alt=""></a>
                </div>
                <div class="item">
                    <a href=""><img data-src="./assets/img/dantri.png" class="lazyload" alt=""></a>
                </div>
                <div class="item">
                    <a href=""><img data-src="./assets/img/thanhnien.png" class="lazyload" alt=""></a>
                </div>
                <div class="item">
                    <a href=""><img data-src="./assets/img/cafebiz.png" class="lazyload" alt=""></a>
                </div>
                <div class="item">
                    <a href=""><img data-src="./assets/img/cafebiz.png" class="lazyload" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>