<main>
    <div class="monkey-intro pr">
        <div class="container">
            <div class="row flex-lc">
                <div class="col-lg-6 col-md-6">
                    <div class="intro">
                        <h1 class="title">Về Monkey</h1>
                        <p class="tf1">Công ty Monkey chuyên cung cấp sản phẩm giáo dục khoa học với bộ ứng dụng số một về tiếng Anh cho trẻ từ 0 - 10 tuổi. Mỗi sản phẩm của Monkey gửi gắm tình yêu, định hướng, ước mơ và nỗ lực đồng hành của ba mẹ dành cho con trong những bước đi đầu tiên trên hành trình khám phá tri thức.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="img-wrapper">
                        <img data-src="./assets/img/img-intro.jpg" class="lazyload" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-statistical monkey-statistical--intro pr">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="statistical">
                        <h3 class="flex-center"><i class="icon icon-year"></i> 2014</h3>
                        <p>Monkey Junior - ứng dụng học tiếng Anh cho trẻ mới bắt đầu ra đời.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="statistical">
                        <h3 class="flex-center"><i class="icon icon-top"></i> TOP 1</h3>
                        <p>Ứng dụng tiên phong áp dụng các phương pháp Giáo dục sớm tại Việt Nam</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="statistical">
                        <h3 class="flex-center"><i class="icon icon-user"></i> 10 TRIỆU TRẺ EM</h3>
                        <p>Học tiếng Anh cùng Monkey trên toàn thế giới</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="statistical">
                        <h3 class="flex-center"><i class="icon icon-ct"></i> 108 QUỐC GIA</h3>
                        <p>Và vùng lãnh thổ có trẻ em học tiếng Anh với Monkey</p>
                    </div>
                </div>
            </div>
            <a href="" class="btn-pr flex-center lg">Những Cột Mốc Tiêu Biểu <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="monkey-mission pdd-8 bg-gray">
        <div class="container">
            <div class="header">
                <h2 class="title">Sứ Mệnh Của Monkey</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="quote">
                        <div class="quote__img"><img data-src="./assets/img/monkey2.png" class="lazyload" alt=""></div>
                        <div class="quote__content pr">
                            Monkey mang đến những sản phẩm giáo dục chất lượng cao, đạt tiêu chuẩn quốc tế đến cho mọi trẻ em - ở mọi vùng miền, điều kiện hoàn cảnh, với mức chi phí đa số các gia đình Việt Nam có khả năng chi trả.
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="reason">
                        <h3 class="tf4">Tại Monkey, chúng tôi tin rằng:</h3>
                        <div class="reason__item">
                            Học tiếng Anh không nhất thiết phải có năng khiếu. Bạn nhỏ nào cũng có thể giỏi tiếng Anh nếu có công cụ học tập phù hợp, phương pháp đúng đắn và sự đồng hành của ba mẹ.
                        </div>
                        <div class="reason__item">
                            Cho trẻ học tiếng Anh ba mẹ không cần phải tốn nhiều tiền. Mọi gia đình đều có khả năng chi trả cho con  được học tiếng Anh.
                        </div>
                        <div class="reason__item">
                            Không có công cụ, phương pháp, thầy cô hay trường lớp nào thay thế được sự đồng hành của ba mẹ trên hành trình học tập của con.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-for pd-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="text">
                        <h2 class="title">Monkey Dành Cho Ai?</h2>
                        <ul class="text__list">
                            <li>
                                <p>Ứng dụng học tập của Monkey dành cho tất cả các bạn nhỏ từ 0 - 10 tuổi và ba mẹ muốn giúp con học tiếng Anh từ sớm nhưng không biết bắt đầu từ đâu.</p>
                            </li>
                            <li>
                                <p>Ba mẹ muốn giúp con học giỏi tiếng Anh trước tuổi lên 10, thành thạo 4 kĩ năng tiếng Anh: nghe, nói, đọc, viết.</p>
                            </li>
                            <li>
                                <p>Ba mẹ muốn giúp con phát triển toàn diện cả tư duy và ngôn ngữ (tiếng Anh, tiếng Việt hoặc đa ngôn ngữ).</p>
                            </li>
                            <li>
                                <p>Phụ huynh không cùng hoàn cảnh, điều kiện kinh tế, trình độ tiếng Anh, trình độ sư phạm đều mong muốn giúp con có hành trình học tập đúng đắn, để hướng tới tương lai tốt đẹp hơn đều có thể sử dụng ứng dụng Monkey.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="img-wrapper">
                        <img data-src="./assets/img/img-mk1.png"  class="lazyload" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-office pdd-8 bg-gray">
        <div class="container">
            <div class="header">
                <h2 class="title">Văn Phòng Của Monkey</h2>
            </div>
            <div class="office_list">
                <div class="office bg-sh">
                    <div class="office__img"><img data-src="./assets/img/thumb2.jpg" class="thumb lazyload" alt=""></div>
                    <div class="office__content">
                        <h3>Hồ Chí Minh</h3>
                        <div class="address flex tf1">
                            <i class="icon icon-address"></i>
                            <p>Tầng 2, Tòa nhà FS, TTTM TNR Gold Season, số 47 Nguyễn Tuân, P. Thanh Xuân Trung, Q. Thanh Xuân, TP. Hà Nội</p>
                        </div>
                        <a href="tel:1900 636052" class="hotline flex-lc tf1"><i class="icon icon-phone"></i> Hotline: 1900 636052</a>
                    </div>
                </div>
                <div class="office bg-sh">
                    <div class="office__img"><img data-src="./assets/img/thumb2.jpg" class="thumb lazyload" alt=""></div>
                    <div class="office__content">
                        <h3>Hồ Chí Minh</h3>
                        <div class="address flex tf1">
                            <i class="icon icon-address"></i>
                            <p>Tầng 2, Tòa nhà FS, TTTM TNR Gold Season, số 47 Nguyễn Tuân, P. Thanh Xuân Trung, Q. Thanh Xuân, TP. Hà Nội</p>
                        </div>
                        <a href="tel:1900 636052" class="hotline flex-lc tf1"><i class="icon icon-phone"></i> Hotline: 1900 636052</a>
                    </div>
                </div>
                <div class="office bg-sh">
                    <div class="office__img"><img data-src="./assets/img/thumb2.jpg" class="thumb lazyload" alt=""></div>
                    <div class="office__content">
                        <h3>Hồ Chí Minh</h3>
                        <div class="address flex tf1">
                            <i class="icon icon-address"></i>
                            <p>Tầng 2, Tòa nhà FS, TTTM TNR Gold Season, số 47 Nguyễn Tuân, P. Thanh Xuân Trung, Q. Thanh Xuân, TP. Hà Nội</p>
                        </div>
                        <a href="tel:1900 636052" class="hotline flex-lc tf1"><i class="icon icon-phone"></i> Hotline: 1900 636052</a>
                    </div>
                </div>
                <div class="office bg-sh">
                    <div class="office__img"><img data-src="./assets/img/thumb2.jpg" class="thumb lazyload" alt=""></div>
                    <div class="office__content">
                        <h3>Hồ Chí Minh</h3>
                        <div class="address flex tf1">
                            <i class="icon icon-address"></i>
                            <p>Tầng 2, Tòa nhà FS, TTTM TNR Gold Season, số 47 Nguyễn Tuân, P. Thanh Xuân Trung, Q. Thanh Xuân, TP. Hà Nội</p>
                        </div>
                        <a href="tel:1900 636052" class="hotline flex-lc tf1"><i class="icon icon-phone"></i> Hotline: 1900 636052</a>
                    </div>
                </div>
            </div>
            <div class="office_nav flex-center">
                <button type="button" class="office_prev"></button>
                <div class="office_dots"></div>
                <button type="button" class="office_next"></button>
            </div>
        </div>
    </div>
    <div class="monkey-team pdd-8 pr">
        <div class="container">
            <div class="header">
                <h2 class="title">Đội Ngũ Của Monkey</h2>
                <p>Mỗi thành viên Monkey đều tâm huyết với gia đình</p>
            </div>
            <div class="team_list flex">
                <div class="member">
                    <div class="member__img">
                        <img data-src="./assets/img/avt.png" class="lazyload" alt="">
                    </div>
                    <div class="member__info bg-sh">
                        <div class="name">ĐÀO XUÂN HOÀNG</div>
                        <div class="position tf1">Nhà Sáng Lập, Giám Đốc Điều Hành</div>
                        <p class="tf1">Là bố của 3 cô con gái và là "người thắp lửa" mang tiếng Anh cho mọi trẻ em cùng hơn 200 công sự "truyền lửa" tại Monkey</p>
                        <a href="" class="linkedin"></a>
                    </div>
                </div>
                <div class="member">
                    <div class="member__img">
                        <img data-src="./assets/img/avt2.png" class="lazyload" alt="">
                    </div>
                    <div class="member__info bg-sh">
                        <div class="name">PHAN THỊ LƯ</div>
                        <div class="position tf1">Giám Đốc Kinh Doanh</div>
                        <p class="tf1">Là bố của 3 cô con gái và là "người thắp lửa" mang tiếng Anh cho mọi trẻ em cùng hơn 200 công sự "truyền lửa" tại Monkey</p>
                        <a href="" class="linkedin"></a>
                    </div>
                </div>
                <div class="member">
                    <div class="member__img">
                        <img data-src="./assets/img/avt3.png" class="lazyload" alt="">
                    </div>
                    <div class="member__info bg-sh">
                        <div class="name">PHẠM TIẾN VINH</div>
                        <div class="position tf1">Giám Đốc Marketing</div>
                        <p class="tf1">Là bố của 3 cô con gái và là "người thắp lửa" mang tiếng Anh cho mọi trẻ em cùng hơn 200 công sự "truyền lửa" tại Monkey</p>
                        <a href="" class="linkedin"></a>
                    </div>
                </div>
                <div class="member">
                    <div class="member__img">
                        <img data-src="./assets/img/avt4.png" class="lazyload" alt="">
                    </div>
                    <div class="member__info bg-sh">
                        <div class="name">ĐÀO XUÂN HOÀNG</div>
                        <div class="position tf1">Nhà Sáng Lập, Giám Đốc Điều Hành</div>
                        <p class="tf1">Là bố của 3 cô con gái và là "người thắp lửa" mang tiếng Anh cho mọi trẻ em cùng hơn 200 công sự "truyền lửa" tại Monkey</p>
                        <a href="" class="linkedin"></a>
                    </div>
                </div>
                <div class="member">
                    <div class="member__img">
                        <img data-src="./assets/img/avt5.png" class="lazyload" alt="">
                    </div>
                    <div class="member__info bg-sh">
                        <div class="name">PHAN THỊ LƯ</div>
                        <div class="position tf1">Giám Đốc Kinh Doanh</div>
                        <p class="tf1">Là bố của 3 cô con gái và là "người thắp lửa" mang tiếng Anh cho mọi trẻ em cùng hơn 200 công sự "truyền lửa" tại Monkey</p>
                        <a href="" class="linkedin"></a>
                    </div>
                </div>
                <div class="member">
                    <div class="member__img">
                        <img data-src="./assets/img/avt6.png" class="lazyload" alt="">
                    </div>
                    <div class="member__info bg-sh">
                        <div class="name">PHẠM TIẾN VINH</div>
                        <div class="position tf1">Giám Đốc Marketing</div>
                        <p class="tf1">Là bố của 3 cô con gái và là "người thắp lửa" mang tiếng Anh cho mọi trẻ em cùng hơn 200 công sự "truyền lửa" tại Monkey</p>
                        <a href="" class="linkedin"></a>
                    </div>
                </div>
                <div class="member">
                    <div class="member__img">
                        <img data-src="./assets/img/avt4.png" class="lazyload" alt="">
                    </div>
                    <div class="member__info bg-sh">
                        <div class="name">ĐÀO XUÂN HOÀNG</div>
                        <div class="position tf1">Nhà Sáng Lập, Giám Đốc Điều Hành</div>
                        <p class="tf1">Là bố của 3 cô con gái và là "người thắp lửa" mang tiếng Anh cho mọi trẻ em cùng hơn 200 công sự "truyền lửa" tại Monkey</p>
                        <a href="" class="linkedin"></a>
                    </div>
                </div>
                <div class="member">
                    <div class="member__img">
                        <img data-src="./assets/img/avt5.png" class="lazyload" alt="">
                    </div>
                    <div class="member__info bg-sh">
                        <div class="name">PHAN THỊ LƯ</div>
                        <div class="position tf1">Giám Đốc Kinh Doanh</div>
                        <p class="tf1">Là bố của 3 cô con gái và là "người thắp lửa" mang tiếng Anh cho mọi trẻ em cùng hơn 200 công sự "truyền lửa" tại Monkey</p>
                        <a href="" class="linkedin"></a>
                    </div>
                </div>
                <div class="member">
                    <div class="member__img">
                        <img data-src="./assets/img/avt6.png" class="lazyload" alt="">
                    </div>
                    <div class="member__info bg-sh">
                        <div class="name">PHẠM TIẾN VINH</div>
                        <div class="position tf1">Giám Đốc Marketing</div>
                        <p class="tf1">Là bố của 3 cô con gái và là "người thắp lửa" mang tiếng Anh cho mọi trẻ em cùng hơn 200 công sự "truyền lửa" tại Monkey</p>
                        <a href="" class="linkedin"></a>
                    </div>
                </div>
                <div class="member">
                    <div class="member__img">
                        <img data-src="./assets/img/avt4.png" class="lazyload" alt="">
                    </div>
                    <div class="member__info bg-sh">
                        <div class="name">ĐÀO XUÂN HOÀNG</div>
                        <div class="position tf1">Nhà Sáng Lập, Giám Đốc Điều Hành</div>
                        <p class="tf1">Là bố của 3 cô con gái và là "người thắp lửa" mang tiếng Anh cho mọi trẻ em cùng hơn 200 công sự "truyền lửa" tại Monkey</p>
                        <a href="" class="linkedin"></a>
                    </div>
                </div>
                <div class="member">
                    <div class="member__img">
                        <img data-src="./assets/img/avt5.png" class="lazyload" alt="">
                    </div>
                    <div class="member__info bg-sh">
                        <div class="name">PHAN THỊ LƯ</div>
                        <div class="position tf1">Giám Đốc Kinh Doanh</div>
                        <p class="tf1">Là bố của 3 cô con gái và là "người thắp lửa" mang tiếng Anh cho mọi trẻ em cùng hơn 200 công sự "truyền lửa" tại Monkey</p>
                        <a href="" class="linkedin"></a>
                    </div>
                </div>
                <div class="member">
                    <div class="member__img">
                        <img data-src="./assets/img/avt6.png" class="lazyload" alt="">
                    </div>
                    <div class="member__info bg-sh">
                        <div class="name">PHẠM TIẾN VINH</div>
                        <div class="position tf1">Giám Đốc Marketing</div>
                        <p class="tf1">Là bố của 3 cô con gái và là "người thắp lửa" mang tiếng Anh cho mọi trẻ em cùng hơn 200 công sự "truyền lửa" tại Monkey</p>
                        <a href="" class="linkedin"></a>
                    </div>
                </div>
            </div>
            <div class="team_nav flex-center">
                <button type="button" class="team_prev"></button>
                <div class="team_dots"></div>
                <button type="button" class="team_next"></button>
            </div>
            <div class="join">
                <h5>Bạn muốn gia nhập đội ngũ Monkey?</h5>
                <a href="" title="" class="btn_apply btn_pr flex-center">Ứng Tuyển Ngay <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>