<main>
    <div class="monkey-support">
        <div class="container">
            <div class="header flex-lc">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Hỗ trợ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Kết quả tìm kiếm</li>
                </ul>
                <form action="" method="" class="search-form pr">
                    <div class="form-group flex pr">
                        <input id="search" type="text" name="" autocomplete="off" placeholder="Tìm kiếm" required>
                        <button type="submit" class="btn_submit btn_pr">Tìm Kiếm</button>
                        <button type="reset" class="btn_reset"></button>
                    </div>
                    <div class="search-suggest bg-sh">
                        <p>Cùng con <span>vui</span> học tiếng Anh</p>
                        <p>Cùng con học tiếng Anh <span>Tiểu Học</span></p>
                        <p><span>Mẹ</span> cùng con học tiếng Anh</p>
                        <p>Cùng con học tiếng Anh <span>Monkey Edu</span></p>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="box-result bg-sh">
                        Có <strong>82</strong> kết quả được tìm thấy cho:
                        <span>hướng dẫn học</span>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="box-answer bg-sh">
                        <ul class="list">
                            <li>
                                <h3><a href="">Hướng dẫn ba mẹ cách cài đặt các tính năng trong ứng dụng học VMonkey</a></h3>
                                <p>Khi mua ứng dụng VMonkey, nhiều ba mẹ chưa biết cài đặt các tính năng trong ứng dụng như thế nào. Vậy ba mẹ hãy tham khảo bài viết sau để thực hiện ba mẹ nhé.1. Cài đặt các tính...</p>
                            </li>
                            <li>
                                <h3><a href="">Hướng dẫn tải học liệu trên ứng dụng Monkey Stories</a></h3>
                                <p>Ngày 21/01/2021, Monkey ra mắt tính năng học liệu trên ứng dụng học tập Monkey Stories. Hãy cùng Khỉ con tìm hiểu cách sử dụng tính năng này trên ứng dụng nhé!Hướng dẫn chi tiết:Bước 1: Ba mẹ truy cập...</p>
                            </li>
                            <li>
                                <h3><a href="">Hướng dẫn ba mẹ cách cài đặt các tính năng trong ứng dụng học VMonkey</a></h3>
                                <p>Khi mua ứng dụng VMonkey, nhiều ba mẹ chưa biết cài đặt các tính năng trong ứng dụng như thế nào. Vậy ba mẹ hãy tham khảo bài viết sau để thực hiện ba mẹ nhé.1. Cài đặt các tính...</p>
                            </li>
                            <li>
                                <h3><a href="">Hướng dẫn tải học liệu trên ứng dụng Monkey Stories</a></h3>
                                <p>Ngày 21/01/2021, Monkey ra mắt tính năng học liệu trên ứng dụng học tập Monkey Stories. Hãy cùng Khỉ con tìm hiểu cách sử dụng tính năng này trên ứng dụng nhé!Hướng dẫn chi tiết:Bước 1: Ba mẹ truy cập...</p>
                            </li>
                            <li>
                                <h3><a href="">Hướng dẫn ba mẹ cách cài đặt các tính năng trong ứng dụng học VMonkey</a></h3>
                                <p>Khi mua ứng dụng VMonkey, nhiều ba mẹ chưa biết cài đặt các tính năng trong ứng dụng như thế nào. Vậy ba mẹ hãy tham khảo bài viết sau để thực hiện ba mẹ nhé.1. Cài đặt các tính...</p>
                            </li>
                            <li>
                                <h3><a href="">Hướng dẫn tải học liệu trên ứng dụng Monkey Stories</a></h3>
                                <p>Ngày 21/01/2021, Monkey ra mắt tính năng học liệu trên ứng dụng học tập Monkey Stories. Hãy cùng Khỉ con tìm hiểu cách sử dụng tính năng này trên ứng dụng nhé!Hướng dẫn chi tiết:Bước 1: Ba mẹ truy cập...</p>
                            </li>
                        </ul>
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="icon icon-prev"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="icon icon-next"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box-question bg-sh">
                <h3>CÂU HỎI THƯỜNG GẶP</h3>
                <ul class="list flex">
                    <li>
                        <h4><span>1. </span>Làm thế nào kích hoạt gói học đã đăng ký?</h4>
                        <button class="video" type="button" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1" data-toggle="modal" data-target="#modal-video">Xem nhanh video hướng dẫn</button>
                    </li>
                    <li>
                        <h4><span>2. </span>Hướng dẫn ba mẹ cài đặt các chương trình Monkey trên thiết bị di động</h4>
                        <button class="video" type="button" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1" data-toggle="modal" data-target="#modal-video">Xem nhanh video hướng dẫn</button>
                    </li>
                    <li>
                        <h4><span>3. </span>Hướng dẫn ba mẹ cài đặt ứng dụng Monkey Stories trên Máy tính/Laptop</h4>
                        <button class="video" type="button" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1" data-toggle="modal" data-target="#modal-video">Xem nhanh video hướng dẫn</button>
                    </li>
                    <li>
                        <h4><span>4. </span>Hướng dẫn ba mẹ cài đặt ứng dụng Monkey Junior trên Máy tính/Laptop</h4>
                        <button class="video" type="button" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1" data-toggle="modal" data-target="#modal-video">Xem nhanh video hướng dẫn</button>
                    </li>
                    <li>
                        <h4><span>5. </span>Hướng dẫn tải học liệu trên ứng dụng Monkey Stories</h4>
                        <button class="video" type="button" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1" data-toggle="modal" data-target="#modal-video">Xem nhanh video hướng dẫn</button>
                    </li>
                    <li>
                        <h4><span>6. </span>Mua ứng dụng học tập Monkey Junior được những ưu đãi gì?</h4>
                        <button class="video" type="button" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1" data-toggle="modal" data-target="#modal-video">Xem nhanh video hướng dẫn</button>
                    </li>
                </ul>
            </div>
            <div class="contact bg-sh mb-40">
                <h4>Ba mẹ có thêm câu hỏi khác? Hãy đặt câu hỏi ngay tại đây.</h4>
                <div class="contact__list flex">
                    <a href="#" class="phone flex-center"><img src="./assets/img/icon-phone.svg" width="30" alt=""></a>
                    <a href="#" class="email flex-center"><img src="./assets/img/icon-mail.svg" width="30" alt=""></a>
                    <a href="#" class="zalo flex-center"><img src="./assets/img/icon-zalo.svg" alt=""></a>
                    <a href="#" class="facebook flex-center"><img src="./assets/img/icon-facebook1.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>