<main>
    <div class="monkey-milestone pr">
        <div class="container">
            <div class="header">
                <h1 class="title">Những Cột Mốc Chính</h1>
                <p>Trải qua 6 năm xây dựng và phát triển, Monkey đã trải qua nhiều sự đổi thay</p>
            </div>
            <div class="milestone pr">
                <div class="item pr">
                    <div class="item__img pr">
                        <img data-src="./assets/img/img-lv1.jpg" class="lazyload" alt="">
                        <span class="tf1">2021</span>
                    </div>
                    <ul class="item__content">
                        <li>
                            <p>Đạt Top 5 thế giới app học tiếng Anh cho trẻ em theo khảo sát của Advance Market Analytics (Anh) thực hiện</p>
                        </li>
                        <li>
                            <p>Các ứng dụng của Monkey có hơn 10 triệu người dùng trên toàn thế giới</p>
                        </li>
                        <li>
                            <p>Monkey Junior ra mắt phiên bản mới - ứng dụng số 1 cho trẻ bắt đầu học tiếng Anh (0-10 tuổi)</p>
                        </li>
                        <li>
                            <p>Cộng đồng ba mẹ đồng hành cùng con học tiếng Anh hàng đầu Việt Nam với hơn 150 nghìn thành viên</p>
                        </li>
                        <li>
                            <p>Số lượng nhân viên của Monkey ở cả thị trường Việt Nam và nước ngoài là 223 người, tăng 37 lần so với năm 2014</p>
                        </li>
                    </ul>
                </div>
                <div class="item pr">
                    <div class="item__img pr">
                        <img data-src="./assets/img/img-lv2.jpg" class="lazyload" alt="">
                        <span class="tf1">2020</span>
                    </div>
                    <ul class="item__content">
                        <li>
                            <p>Monkey cán mốc hơn 8 triệu người dùng trên toàn thế giới</p>
                        </li>
                        <li>
                            <p>Monkey Stories lọt Top 3 ứng dụng được tải và cài đặt nhiều nhất trên App Store và Play Store ở Thái Lan</p>
                        </li>
                        <li>
                            <p>Ra mắt Monkey Phonics - Chương trình giúp trẻ em đánh vần tiếng Anh dễ như tiếng Việt, tích hợp trên Monkey Stories</p>
                        </li>
                    </ul>
                </div>
                <div class="item pr">
                    <div class="item__img pr">
                        <img data-src="./assets/img/img-lv3.jpg" class="lazyload" alt="">
                        <span class="tf1">2019</span>
                    </div>
                    <ul class="item__content">
                        <li>
                            <p>VMonkey - ứng dụng học tiếng Việt theo chương trình GDPT mới cho trẻ Mầm non và Tiểu học ra đời. </p>
                        </li>
                    </ul>
                </div>
                <div class="item pr">
                    <div class="item__img pr">
                        <img data-src="./assets/img/img-lv4.jpg" class="lazyload" alt="">
                        <span class="tf1">2018</span>
                    </div>
                    <ul class="item__content">
                        <li>
                            <p>Monkey Stories được Apple vinh danh là một trong những ứng dụng tốt nhất của lập trình viên người Việt</p>
                        </li>
                        <li>
                            <p>Monkey Math - ứng dụng học Toán theo chương trình GDPT mới cho trẻ Mầm non và Tiểu học ra đời</p>
                        </li>
                        <li>
                            <p>Monkey Stories đạt top 1 ứng dụng học tiếng Anh được tải nhiều nhất tại Việt Nam</p>
                        </li>
                    </ul>
                </div>
                <div class="item pr">
                    <div class="item__img pr">
                        <img data-src="./assets/img/img-lv5.jpg" class="lazyload" alt="">
                        <span class="tf1">2017</span>
                    </div>
                    <ul class="item__content">
                        <li>
                            <p>Monkey Stories - ứng dụng giúp trẻ Giỏi tiếng Anh trước tuổi lên 10 ra đời</p>
                        </li>
                        <li>
                            <p>Monkey Junior cập nhật thêm 5 ngôn ngữ khác: tiếng Việt, tiếng Trung Quốc, tiếng Pháp, tiếng Tây Ban Nha, tiếng Nga - hỗ trợ xây dựng nền tảng đa ngôn ngữ ch</p>
                        </li>
                    </ul>
                </div>
                <div class="item pr">
                    <div class="item__img pr">
                        <img data-src="./assets/img/img-lv6.jpg" class="lazyload" alt="">
                        <span class="tf1">2016</span>
                    </div>
                    <ul class="item__content">
                        <li>
                            <p>Monkey Junior trở thành ứng dụng Việt Nam đầu tiên và duy nhất đạt Giải Nhất Giải thưởng Sáng kiến Toàn cầu tại Silicon Valley do Tổng thống Mỹ Barack Obama chủ trì</p>
                        </li>
                        <li>
                            <p>Tiếp đó, Monkey Junior không ngừng đạt các giải thưởng: giải Nhất Nhân tài Đất Việt, giải Vàng Công nghệ Thông tin Đông Nam Á ASEAN ICT tại Brunei, giải Nhất cuộc thi Thiết kế Doanh nhân châu Á (AEA) tại Nhật Bản…</p>
                        </li>
                        <li>
                            <p>Monkey Junior đạt Top 20 ứng dụng Giáo dục sớm tại Mỹ </p>
                        </li>
                    </ul>
                </div>
                <div class="item pr">
                    <div class="item__img pr">
                        <img data-src="./assets/img/img-lv5.jpg" class="lazyload" alt="">
                        <span class="tf1">2014</span>
                    </div>
                    <ul class="item__content">
                        <li>
                            <p>Monkey Junior - ứng dụng tiếng Anh cho trẻ mới bắt đầu ra đời. </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-author pd-80 pr">
        <div class="container">
            <div class="header">
                <h2 class="title">Vài Nét Về Nhà Sáng Lập</h2>
            </div>
            <div class="author flex">
                <div class="author__img pr"><img data-src="./assets/img/dxh.png" class="lazyload" alt=""></div>
                <div class="author__content">
                    <div class="info">
                        <h3>Anh ĐÀO XUÂN HOÀNG</h3>
                        <p class="tf2">Là bố của 3 cô con gái và là "người thắp lửa" mang tiếng Anh cho mọi trẻ em cùng hơn 200 công sự "truyền lửa" tại Monkey</p>
                    </div>
                    <ul class="timeline pr">
                        <li>
                            <time>2018 - 2019</time>
                            <p>Được Đại học Công nghệ Sydney, Úc vinh danh giải thưởng Cựu Sinh viên Quốc tế nhờ những thành tựu trong lĩnh vực giáo dục trẻ em và được mời phát biểu tại Lễ tốt nghiệp Đại học Công nghệ Sydney, Úc.</p>
                        </li>
                        <li>
                            <time>2016</time>
                            <p>Là 1 trong 10 Gương mặt trẻ Việt Nam tiêu biểu.</p>
                        </li>
                        <li>
                            <time>2014</time>
                            <p>Sáng lập Monkey với “người anh cả” Monkey Junior.</p>
                        </li>
                        <li>
                            <time>2008</time>
                            <p>Tốt nghiệp Đại học Công nghệ Sydney, Úc (University of Technology, Sydney) theo Học bổng toàn phần của Chính phủ Úc (AusAID). Sau đó
                                làm việc tại Úc 2 năm</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>