<main>
    <div class="monkey-landing junior">
        <div class="monkey-landing--s1 pr">
            <div class="container flex-lc">
                <div class="intro">
                    <div class="logo flex-center"><img src="./assets/img/monkey-j.svg" alt=""></div>
                    <h1 class="title">App Tiếng Anh Trẻ Em <span class="green">Monkey Junior</span></h1>
                    <p>App học tiếng Anh cho trẻ em duy nhất của Việt Nam đạt giải Nhất Sáng kiến toàn cầu tại Silicon Valley</p>
                    <div class="register flex-lc">
                        <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                    </div>
                </div>
                <div class="video pr" data-toggle="modal" data-target="#modal-video" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1">
                    <div class="video__thumb pr"><img data-src="./assets/img/thumb-video-junior.png" class="lazyload" alt=""></div>
                    <div class="video__play pr"><img src="./assets/img/play1.svg" alt=""></div>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s2 pr">
            <div class="container">
                <h2 class="title">App Tiếng Anh Cho Trẻ Em Top 1 Tại Việt Nam Top 5 toàn thế giới</h2>
                <ul class="top-list flex">
                    <li>
                        <h4 class="flex-center"><i class="icon icon-top1"></i>GIẢI NHẤT</h4>
                        <p>Giải Nhất Sáng kiến toàn cầu do Tổng thống Mỹ Barack Obama trao tặng</p>
                    </li>
                    <li>
                        <h4 class="flex-center"><i class="icon icon-top2"></i>GIẢI NHẤT</h4>
                        <p>Giải Nhất Nhân tài Đất việt 2016</p>
                    </li>
                    <li>
                        <h4 class="flex-center"><i class="icon icon-top3"></i>GIẢI VÀNG</h4>
                        <p>Giải Vàng ASEAN ICT Awards</p>
                    </li>
                    <li>
                        <h4 class="flex-center"><i class="icon icon-top4"></i>10 TRIỆU NGƯỜI</h4>
                        <p>Hơn 10 triệu người tại 108 quốc gia trên toàn thế giới tin dùng</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="monkey-landing--s3 pr">
            <div class="container">
                <h2 class="title">Lựa Chọn Tốt Nhất Cho Mọi Trẻ Em Mới Bắt Đầu Học Tiếng Anh</h2>
                <div class="row row-s3">
                    <div class="col-lg-3 col-md-6">
                        <div class="item bg-sh">
                            <div class="item__img flex-center"><img src="./assets/img/img-c1.svg" alt=""></div>
                            <div class="item__content">
                                <h4>Hứng Thú Học Vượt Trội</h4>
                                <p>Hứng thú với tiếng Anh ngay từ khi bắt đầu & xuyên suốt quá trình học</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="item bg-sh">
                            <div class="item__img flex-center"><img src="./assets/img/img-c2.svg" alt=""></div>
                            <div class="item__content">
                                <h4>Vốn Từ Vựng Cực Đỉnh</h4>
                                <p>Biết 3.000+ từ vựng tiếng Anh nếu học đều đặn trong 3 năm</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="item bg-sh">
                            <div class="item__img flex-center"><img src="./assets/img/img-c3.svg" alt=""></div>
                            <div class="item__content">
                                <h4>Phát Âm Chuẩn Anh - Mỹ</h4>
                                <p>Phát âm tiếng Anh như người bản xứ ngay từ đầu</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="item bg-sh">
                            <div class="item__img flex-center"><img src="./assets/img/img-c1.svg" alt=""></div>
                            <div class="item__content">
                                <h4>Dễ Dàng Bắt Đầu Và Duy Trì Thói Quen</h4>
                                <p>Bắt nhịp & tạo thói quen học tiếng Anh một cách đơn giản, với lộ trình từ Dễ đến Nâng cao do chuyên gia xây sẵn.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                    <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s4 pr">
            <div class="container">
                <div class="header">
                    <h2 class="title">Phương Pháp Giáo Dục Sớm Dạy Tiếng Anh
                        Cho Trẻ Em Hiệu Quả Nhất Thế Giới </h2>
                    <p>Bắt đầu càng sớm càng có hiệu quả nhanh chóng & rõ ràng.</p>
                </div>
                <div class="method-list">
                    <div class="method method--1 flex">
                        <div class="method__img flex-center"><img data-src="./assets/img/birck.png" class="lazyload" alt=""></div>
                        <div class="method__content pr">
                            <h4>Học Thông Qua Trò Chơi</h4>
                            <p>Các game giáo dục được tính toán kĩ lưỡng để giải quyết đặc tính "cả thèm chóng chán" của mọi trẻ nhỏ</p>
                        </div>
                    </div>
                    <div class="method method--2 flex">
                        <div class="method__img flex-center"><img data-src="./assets/img/abc.png" class="lazyload" alt=""></div>
                        <div class="method__content pr">
                            <h4>Chụp Hình Nguyên Từ (Whole Words) Và Đánh Vần  (Phonics)</h4>
                            <p>Kích thích & phát triển đồng đều 2 bán cầu não của trẻ trong giai đoạn cửa sổ cơ hội</p>
                        </div>
                    </div>
                    <div class="method method--3 flex">
                        <div class="method__img flex-center"><img data-src="./assets/img/flashcard.png" class="lazyload" alt=""></div>
                        <div class="method__content pr">
                            <h4>Phương Pháp Tráo Thẻ Nhanh Glenn Doman</h4>
                            <p>Học tiếng Anh qua flashcard một cách chuẩn chỉnh, có hệ thống giúp trẻ biến từ vựng thành trí nhớ vĩnh cửu</p>
                        </div>
                    </div>
                    <div class="method method--4 flex">
                        <div class="method__img flex-center"><img data-src="./assets/img/emotion.png" class="lazyload" alt=""></div>
                        <div class="method__content pr">
                            <h4>Phương Pháp Đa Giác Quan Của TS Robert Titzer (Mỹ)</h4>
                            <p>Kích thích mọi giác quan của trẻ trong lúc học để trẻ hứng thú & tăng tốc độ học hỏi, tăng khả năng ghi nhớ.</p>
                        </div>
                    </div>
                </div>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                    <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s5 pr">
            <div class="container">
                <h2 class="title">Học tiếng Anh Online & Offline Cho Trẻ Em Vô Cùng Đơn Giản, Tiện Lợi Với Monkey Junior</h2>
                <ul class="convenient flex">
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j1.svg" alt=""></div>
                        <h4>Chương Trình Học Được Thiết Kế Sẵn</h4>
                        <p>Dễ dàng đồng hành cùng con dù ba mẹ không giỏi tiếng Anh</p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j2.svg" alt=""></div>
                        <h4>Báo Cáo Cập Nhật Hàng Tuần</h4>
                        <p>Nắm bắt kịp thời hiệu quả học tập của con</p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j3.svg" alt=""></div>
                        <h4>Không Giới Hạn Số Thiết Bị Đăng Nhập</h4>
                        <p>Học cùng con mọi lúc mọi nơi siêu tiện lợi</p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j4.svg" alt=""></div>
                        <h4>Tạo Nhiều Hồ Sơ Người Học Trên 1 Tài Khoản</h4>
                        <p>Tiết kiệm tối đa chi phí cho gia đình</p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j5.svg" alt=""></div>
                        <h4>Đồng Bộ Tiến Độ Học</h4>
                        <p>Cập nhật dữ liệu mới nhất trên tất cả các thiết bị, con không phải học lại từ đầu</p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j6.svg" alt=""></div>
                        <h4>Cập Nhật Mới Hàng Tuần</h4>
                        <p>Từ vựng mới & game mới được bổ sung liên tục</p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-phone1.svg" alt=""></div>
                        <h4>Hỗ Trợ Trọn Đời Sau Mua</h4>
                        <p>95% câu hỏi được Monkey hỗ trợ trong vòng 24 tiếng </p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j7.svg" alt=""></div>
                        <h4>Cộng Đồng Ba Mẹ Thông Thái</h4>
                        <p>Teacher Monkey & hơn 110k ba mẹ trong Facebook group ba mẹ thân thiết sẵn sàng hướng dẫn </p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j8.svg" alt=""></div>
                        <h4>Được Nhắc Học Trong Thời Gian Đầu</h4>
                        <p>Tính năng nhắc học qua noti, email để xây dựng thói quen khi bắt đầu học </p>
                    </li>
                </ul>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                    <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s6 pr">
            <div class="container">
                <h2 class="title">Chương Trình Học Tiếng Anh Cho Trẻ Em Đạt Tiêu Chuẩn Quốc Tế</h2>
                <div class="program program--1 flex-lc pr">
                    <div class="program__content">
                        <h4>3.000+ từ vựng tiếng Anh về hơn 65 chủ đề tiếng Anh gần gũi với trẻ. Dạy theo lộ trình từ Dễ - Nâng cao phù hợp cho trẻ mới bắt đầu</h4>
                        <p>Lộ trình học được chia thành 3 cấp độ Dễ - Trung bình - Nâng cao với các bài học được xây dựng trên 2 yếu tố: Tính kế thừa & Tính phát triển</p>
                        <p>Cấp độ Dễ: 25 chủ đề - XX từ vựng</p>
                        <p>Cấp độ Trung bình: 26 chủ đề - XX từ vựng</p>
                        <p>Cấp độ Nâng cao: 28 chủ đề - XX từ vựng.</p>
                        <p>Trẻ lựa chọn chủ đề yêu thích, và học theo lộ trình hệ thống đề xuất, đảm bảo tính cá nhân hóa</p>
                        <p>Được thay đổi chủ đề khi học</p>
                        <p>Với mỗi từ vựng, trẻ sẽ được học đầy đủ 4 khía cạnh: Đọc và hiểu nghĩa của từ, Phát âm từ vựng chuẩn Anh – Mỹ, Cấu tạo của từ, Sử dụng từ để xây dựng câu</p>
                    </div>
                    <div class="program__img flex-center">
                        <img src="./assets/img/icon-qt1.svg" alt="">
                    </div>
                </div>
                <div class="program program--2 flex-lc pr">
                    <div class="program__img flex-center">
                        <img src="./assets/img/icon-qt2.svg" alt="">
                    </div>
                    <div class="program__content">
                        <h4>Bài học có tính cá nhân hóa cao. Được thiết kế riêng theo độ tuổi & sở thích của từng bé</h4>
                        <p>Trẻ chỉ cần học 1 bài/ngày - đều đặn hàng ngày là chắc chắn có hiệu quả</p>
                        <p>Trẻ 1 – 2 tuổi: Bài học kéo dài khoảng 4 – 5 phút</p>
                        <p>Trẻ 6 – 10 tuổi: bài học kéo dài 10 – 12 phút</p>
                        <p>Cấp độ Nâng cao: 28 chủ đề - XX từ vựng</p>
                        <p>Mỗi bài học tập trung dạy 4 từ vựng thông qua 7 - 10 hoạt động được thiết kế khác nhau đối với mỗi người học, tùy vào sở thích, trình độ & mức độ tương tác của trẻ với bài học.</p>
                    </div>
                </div>
                <div class="program program--3 flex-lc pr">
                    <div class="program__content">
                        <h4>Kho game & video, audio, hình ảnh minh họa sinh động, hấp dẫn. Luôn đổi mới & cập nhật qua các bài học, cấp độ học để luôn hứng thú</h4>
                        <p>Hàng ngàn loại hình game giáo dục chất lượng cao - hấp dẫn & sống động giúp trẻ vừa học, vừa chơi mà lại vô cùng hiệu quả</p>
                        <p>6.000 hình ảnh, 10.000 audio giọng đọc bản xứ cùng 2.000 video miêu tả nghĩa của từ giúp mỗi bài học của trẻ luôn tràn ngập màu sắc và hứng thú</p>
                        <p>Hệ thống game được bổ sung, cập nhật thường xuyên và chia theo độ khó. Khi tuổi của bé lớn hơn, độ khó của game cũng tăng theo</p>
                    </div>
                    <div class="program__img flex-center">
                        <img src="./assets/img/icon-qt3.svg" alt="">
                    </div>
                </div>
                <div class="program program--4 flex-lc pr">
                    <div class="program__img flex-center">
                        <img src="./assets/img/icon-qt4.svg" alt="">
                    </div>
                    <div class="program__content">
                        <h4>Công nghệ tiên tiến giúp cá nhân hóa trải nghiệm học tập của trẻ</h4>
                        <p>Công nghệ Trí tuệ nhân tạo (AI) giúp nhận diện giọng nói để luyện phát âm chuẩn Anh Mỹ cho trẻ (Mới)</p>
                        <p>Công nghệ... giúp "đọc - hiểu" hành vi của bé khi học với app để cá nhân hóa lộ trình học & bài học từng người học theo chủ đề (Mới)</p>
                        <p>Tính tương tác cao: Nghe, nhìn, đọc, chạm, nói - giúp trẻ chủ động trong suốt bài học</p>
                        <p>Báo cáo học tập của bé dành cho ba mẹ (Mới).</p>
                        <p>Không cần sử dụng internet sau khi đã tải nội dung cần đọc.</p>
                        <p>Nhận ngôi sao khen thưởng sau mỗi bài học, tích lũy để đổi Sticker - giúp tăng hứng thú học tiếng Anh cho bé.</p>
                    </div>
                </div>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                    <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s7 pr">
            <div class="container">
                <h2 class="title">Hiệu Quả Đã Được Chứng Minh Khi Dạy Tiếng Anh Cho Bé Mẫu Giáo & Tiểu Học Với Monkey Junior</h2>
                <div class="feedback flex pr">
                    <div class="feedback__content">
                        <div class="text pr">"Kiên trì cho con học 30 phút mỗi ngày qua ứng dụng Monkey Junior, con tiến bộ rõ rệt trong cách phát âm, thuộc nhiều từ mới hơn. Đến nay cháu 5 tuổi đã đọc các câu chuyện tiếng Anh, giao tiếp nhanh nhẹn với người nước ngoài. Tôi vô cùng tự hào."</div>
                        <div class="author flex">
                            <div class="author__img"><img src="./assets/img/pdq.png" alt=""></div>
                            <div class="author__content">
                                <h4>Anh Đại Dương</h4>
                                <p>Bố bé Quang Bình tại chương trình "Mặt trời tí hon" chia sẻ</p>
                            </div>
                        </div>
                    </div>
                    <div class="feedback__video">
                        <div class="video pr" data-link="">
                            <div class="video__thumb pr"><img data-src="./assets/img/thumb-video-j.jpg" class="lazyload" alt=""></div>
                            <div class="video__play pr"><img src="./assets/img/play.svg" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                    <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                </div>
            </div>
        </div>
        <div class="monkey-advise pr m-s">
            <div class="container">
                <div class="advise flex-lc">
                    <div class="advise__content">
                        <p>Trẻ em cần được trao cơ hội để có thể học tập và phát triển tốt hơn. Giúp con khai phá tiềm năng tư duy và ngôn ngữ ngay hôm nay.</p>
                        <form action="" method="">
                            <div class="form-group">
                                <label>Nhập tên ba (mẹ) để được Monkey tư vấn lộ trình học cho bé</label>
                                <input type="text" name="" placeholder="Nhập tên ba/mẹ">
                            </div>
                            <button type="submit" class="btn_submit flex-center">Nhận Tư Vấn Miễn Phí</button>
                        </form>
                    </div>
                    <div class="advise__img">
                        <img src="./assets/img/monkey.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>