<main>
    <div class="monkey-landing math">
        <div class="monkey-landing--s1 pr">
            <div class="container flex">
                <div class="intro">
                    <div class="logo flex-center"><img src="./assets/img/monkey-m.svg" alt=""></div>
                    <h1 class="title">Toán Thật Dễ Với <span class="orange">Monkey Math</span></h1>
                    <p>Ứng dụng học Toán theo Chương trình GDPT mới cho trẻ Mầm non & Tiểu học số 1 Việt Nam</p>
                    <div class="register flex-lc">
                        <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                    </div>
                </div>
                <div class="video pr" data-toggle="modal" data-target="#modal-video" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1">
                    <div class="video__thumb pr"><img data-src="./assets/img/thumb-video-math.png" class="lazyload" alt=""></div>
                    <div class="video__play pr"><img src="./assets/img/play1.svg" alt=""></div>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s2 pr">
            <div class="container">
                <h2 class="title">Ứng dụng học Toán số 1 cho trẻ Mầm non & Tiểu học</h2>
                <ul class="top-list flex">
                    <li>
                        <h4 class="flex-center"><i class="icon icon-cup"></i>TOP 2</h4>
                        <p>Top 2 ứng dụng thịnh hành trên App Store</p>
                    </li>
                    <li>
                        <h4 class="flex-center"><i class="icon icon-apple1"></i>APPLE VINH DANH</h4>
                        <p>Top Ứng dụng được yêu thích nhất trên App Store</p>
                    </li>
                    <li>
                        <h4 class="flex-center"><i class="icon icon-earth"></i>HƠN 10 TRIỆU</h4>
                        <p>Đến từ thương hiệu có hơn 10 triệu người tại 108 quốc gia trên toàn thế giới tin dùng</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="monkey-landing--s3 pr">
            <div class="container">
                <h2 class="title">Vì sao nên cho bé học Toán với Monkey Math từ sớm?</h2>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="benefit">
                            <div class="benefit__img"><img class="ft lazyload" data-src="./assets/img/img-mm1.jpg" alt=""></div>
                            <div class="benefit__content">
                                Phát triển 5 năng lực Toán học theo chương trình GDPT mới & hình thành thói quen tư duy logic ngay từ nhỏ
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="benefit">
                            <div class="benefit__img"><img class="ft lazyload" data-src="./assets/img/img-mm2.jpg" alt=""></div>
                            <div class="benefit__content">
                                Phát triển tư duy & trí thông minh trong giai đoạn vàng của sự phát triển não bộ
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="benefit">
                            <div class="benefit__img"><img class="ft lazyload" data-src="./assets/img/img-mm3.jpg" alt=""></div>
                            <div class="benefit__content">
                                Xây dựng nền tảng Toán học & hỗ trợ việc học trên lớp hiệu quả
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="benefit">
                            <div class="benefit__img"><img class="ft lazyload" data-src="./assets/img/img-mm4.jpg" alt=""></div>
                            <div class="benefit__content">
                                Phát triển đồng bộ tư duy & ngôn ngữ giúp con học giỏi cả toán và tiếng Anh
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s4 pr">
            <div class="container">
                <h2 class="title">Phương pháp học Toán hiện đại giúp trẻ tiếp thu kiến thức hiệu quả và hứng thú</h2>
                <div class="method-list">
                    <div class="method method--1 flex">
                        <div class="method__img flex-center"><img src="./assets/img/math.svg" alt=""></div>
                        <div class="method__content pr">
                            <h4>Áp dụng phương pháp dạy học tích cực</h4>
                            <p>Kích thích sự sáng tạo, con tích cực đặt câu hỏi để hiểu tận gốc vấn đề được đưa ra trong Toán học. </p>
                        </div>
                    </div>
                    <div class="method method--2 flex">
                        <div class="method__img flex-center"><img src="./assets/img/birck1.svg" alt=""></div>
                        <div class="method__content pr">
                            <h4>Học thông qua trò chơi</h4>
                            <p>Vừa chơi vừa học mà hiệu quả vượt bậc. Con hứng thú, tự giác học không cần ba mẹ nhắc nhở.</p>
                        </div>
                    </div>
                    <div class="method method--3 flex">
                        <div class="method__img flex-center"><img src="./assets/img/shape1.svg" alt=""></div>
                        <div class="method__content pr">
                            <h4>Học với sách bài tập bổ trợ</h4>
                            <p>Giúp con phát triển các kỹ năng vận động tinh và vận động thô thông qua việc giải quyết các bài toán trong thực tế.</p>
                        </div>
                    </div>
                </div>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                    <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s5 pr">
            <div class="container">
                <h2 class="title">Học Mọi Lúc Mọi Nơi Siêu Dễ Dàng</h2>
                <ul class="convenient flex">
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j3.svg" alt=""></div>
                        <h4>Không Giới Hạn Số Thiết Bị Đăng Nhập</h4>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j4.svg" alt=""></div>
                        <h4>Tạo Nhiều Hồ Sơ Người Học Trên 1 Tài Khoản</h4>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/nointernet1.svg" alt=""></div>
                        <h4>Sử dụng được ngay cả khi không kết nối internet</h4>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j5.svg" alt=""></div>
                        <h4>Tự động đồng bộ hóa tiến độ học trên tất cả các thiết bị</h4>
                    </li>
                </ul>
            </div>
        </div>
        <div class="monkey-landing--s6 pr">
            <div class="container">
                <h2 class="title">Chương trình học được thiết kế theo phương pháp mới của Bộ Giáo dục và Đào tạo</h2>
                <div class="program-list">
                    <div class="program program--1 flex-lc pr">
                        <div class="program__content">
                            <h4>HƠN 60 CHỦ ĐỀ THUỘC 7 CHUYÊN ĐỀ TOÁN HỌC LỚN Giúp trẻ dễ dàng nắm bắt các khái niệm toán học</h4>
                            <p>Đếm & Tập hợp số</p>
                            <p>Phép tính & Tư duy đại số</p>
                            <p>Số & Phép tính hệ Thập phân</p>
                            <p>Đo lường</p>
                            <p>Hình học</p>
                            <p>Không gian & Thời gian</p>
                            <p>Dữ liệu & Đồ thị </p>
                        </div>
                        <div class="program__video flex-center">
                            <div class="video" data-toggle="modal" data-target="#modal-video" data-link="">
                                <div class="video__thumb"><img data-src="./assets/img/img-video-m1.png" class="lazyload" alt=""></div>
                                <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="program program--2 flex-lc pr">
                        <div class="program__content">
                            <h4>4 CẤP ĐỘ HỌC TỪ DỄ ĐẾN NÂNG CAO <br> Phù hợp với nhiều lứa tuổi & trình độ của trẻ</h4>
                            <p>Đếm & Tập hợp số</p>
                            <p>Phép tính & Tư duy đại số</p>
                            <p>Số & Phép tính hệ Thập phân</p>
                            <p>Đo lường</p>
                        </div>
                        <div class="program__video flex-center">
                            <div class="video" data-toggle="modal" data-target="#modal-video" data-link="">
                                <div class="video__thumb"><img data-src="./assets/img/img-video-m2.png" class="lazyload" alt=""></div>
                                <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="program program--3 flex-lc pr">
                        <div class="program__content">
                            <h4>HỆ THỐNG BÀI HỌC ĐỒ SỘ VÀ BÀI BẢN Giúp trẻ tự tin tiếp cận kiến thức mới</h4>
                            <p>400+ bài học thú vị</p>
                            <p>10.000+ hoạt động tương tác</p>
                            <p>60+ chủ đề Toán học bám sát theo Chương trình GDPT Mới cho trẻ Mầm non và Tiểu học</p>
                        </div>
                        <div class="program__video flex-center">
                            <div class="video" data-toggle="modal" data-target="#modal-video" data-link="">
                                <div class="video__thumb"><img data-src="./assets/img/img-video-m3.png" class="lazyload" alt=""></div>
                                <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="program program--4 flex-lc pr">
                        <div class="program__content">
                            <h4>SÁCH BÀI TẬP BỔ TRỢ MONKEY MATH WORKBOOK Hỗ trợ đắc lực trong việc nâng cao năng lực toán học cho trẻ</h4>
                            <p>Phát triển vận động tinh: khả năng điều khiển bàn tay và các ngón tay</p>
                            <p>Phát triển vận động thô: kỹ năng phối hợp vận động các cơ lớn của cơ thể</p>
                            <p>3 cấp độ tương ứng với trình độ của trẻ</p>
                        </div>
                        <div class="program__video flex-center">
                            <div class="video" data-toggle="modal" data-target="#modal-video" data-link="">
                                <div class="video__thumb"><img data-src="./assets/img/img-video-m4.png" class="lazyload" alt=""></div>
                                <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                    <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s7 pr">
            <div class="container">
                <div class="feedback flex pr">
                    <div class="feedback__content">
                        <div class="text pr">"Kiên trì cho con học 30 phút mỗi ngày qua ứng dụng Monkey Junior, con tiến bộ rõ rệt trong cách phát âm, thuộc nhiều từ mới hơn. Đến nay cháu 5 tuổi đã đọc các câu chuyện tiếng Anh, giao tiếp nhanh nhẹn với người nước ngoài. Tôi vô cùng tự hào."</div>
                        <div class="author flex">
                            <div class="author__img"><img src="./assets/img/pdq.png" alt=""></div>
                            <div class="author__content">
                                <h4>Anh Đại Dương</h4>
                                <p>Bố bé Quang Bình tại chương trình "Mặt trời tí hon" chia sẻ</p>
                            </div>
                        </div>
                    </div>
                    <div class="feedback__video">
                        <div class="video pr" data-link="">
                            <div class="video__thumb pr"><img data-src="./assets/img/thumb-video-j.jpg" class="lazyload" alt=""></div>
                            <div class="video__play pr"><img src="./assets/img/play.svg" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                    <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                </div>
            </div>
        </div>
        <div class="monkey-advise pr m-s">
            <div class="container">
                <div class="advise flex-lc">
                    <div class="advise__content">
                        <p>Trẻ em cần được trao cơ hội để có thể học tập và phát triển tốt hơn. Giúp con khai phá tiềm năng tư duy và ngôn ngữ ngay hôm nay.</p>
                        <form action="" method="">
                            <div class="form-group">
                                <label>Nhập tên ba (mẹ) để được Monkey tư vấn lộ trình học cho bé</label>
                                <input type="text" name="" placeholder="Nhập tên ba/mẹ">
                            </div>
                            <button type="submit" class="btn_submit flex-center">Nhận Tư Vấn Miễn Phí</button>
                        </form>
                    </div>
                    <div class="advise__img">
                        <img data-src="./assets/img/monkey.svg" class="lazyload" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>