<main>
    <div class="monkey-newspaper pr">
        <div class="container">
            <div class="header">
                <h1 class="title">Báo Chí Nói Về Monkey</h1>
            </div>
            <div class="highlights row">
                <div class="col-lg-4 col-md-4">
                    <article class="post post-ty1 bg-sh">
                        <a href="" class="post__thumb"><img src="./assets/img/img-bc1.jpg" alt=""></a>
                        <div class="post__content">
                            <h3 class="line line2"><a href="">Top 18 Nhân tài Đất Việt tranh vé vào Chung kết Sáng kiến toàn...</a></h3>
                            <p class="line line3">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex-lc">
                                <a href="" class="logo dantri"><img src="./assets/img/logo-dantri.png" alt=""></a>
                                <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=76&height=20&appId" width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="post post-ty1 bg-sh">
                        <a href="" class="post__thumb"><img src="./assets/img/img-bc2.jpg" alt=""></a>
                        <div class="post__content">
                            <h3 class="line line2"><a href="">Bé năm tuổi tự học tiếng Anh qua ứng dụng trên Internet</a></h3>
                            <p class="line line3">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex-lc">
                                <a href="" class="logo vnexpress"><img src="./assets/img/logo-vnexpress.png" alt=""></a>
                                <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=76&height=20&appId" width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="post post-ty1 bg-sh">
                        <a href="" class="post__thumb"><img src="./assets/img/img-bc3.jpg" alt=""></a>
                        <div class="post__content">
                            <h3 class="line line2"><a href="">Ứng dụng Việt vượt qua 1.000 đối thủ để lên ngôi tại Mỹ</a></h3>
                            <p class="line line3">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                            <div class="flex-lc">
                                <a href="" class="logo zing"><img src="./assets/img/zing.png" alt=""></a>
                                <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=76&height=20&appId" width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="news row">
                <div class="col-lg-6">
                    <article class="post post-ty2 bg-sh flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-bc5.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3 class="line line3"><a href="">Sản phẩm đạt giải nhất Nhân tài Đất Việt 2016 nhận 100 nghìn USD tài trợ từ Google</a></h3>
                            <div class="flex-lc">
                                <a href="" class="logo dantri"><img src="./assets/img/logo-dantri.png" alt=""></a>
                                <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=76&height=20&appId" width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article class="post post-ty2 bg-sh flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-bc6.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3 class="line line3"><a href="">Bài phát biểu truyền cảm hứng của CEO Monkey Junior tại lễ tốt nghiệp ĐH Top 1 Australia: Đối mặt với ngã...</a></h3>
                            <div class="flex-lc">
                                <a href="" class="logo cafebiz"><img src="./assets/img/logo-cafebiz.png" alt=""></a>
                                <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=76&height=20&appId" width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article class="post post-ty2 bg-sh flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-bc7.png" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3 class="line line3"><a href="">CEO Monkey Junior: Tôi đã "đốt" 10 tỷ, phải rao bán nhà để khởi nghiệp</a></h3>
                            <div class="flex-lc">
                                <a href="" class="logo cafebiz"><img src="./assets/img/logo-cafebiz.png" alt=""></a>
                                <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=76&height=20&appId" width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article class="post post-ty2 bg-sh flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-bc8.png" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3 class="line line3"><a href="">Lý do Monkey Junior nhận được 100.000 USD từ Google</a></h3>
                            <div class="flex-lc">
                                <a href="" class="logo vnexpress"><img src="./assets/img/logo-vnexpress.png" alt=""></a>
                                <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=76&height=20&appId" width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article class="post post-ty2 bg-sh flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-bc5.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3 class="line line3"><a href="">Giải Nhất Nhân tài Đất Việt được vinh danh tại Festival Sáng tạo trẻ toàn quốc 2016</a></h3>
                            <div class="flex-lc">
                                <a href="" class="logo dantri"><img src="./assets/img/logo-dantri.png" alt=""></a>
                                <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=76&height=20&appId" width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article class="post post-ty2 bg-sh flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-bc9.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3 class="line line3"><a href="">Monkey Junior lọt top 5 thế giới app học tiếng Anh cho trẻ</a></h3>
                            <div class="flex-lc">
                                <a href="" class="logo dantri"><img src="./assets/img/logo-dantri.png" alt=""></a>
                                <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=76&height=20&appId" width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article class="post post-ty2 bg-sh flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-bc7.png" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3 class="line line3"><a href="">CEO Monkey Junior: Tôi đã "đốt" 10 tỷ, phải rao bán nhà để khởi nghiệp</a></h3>
                            <div class="flex-lc">
                                <a href="" class="logo cafebiz"><img src="./assets/img/logo-cafebiz.png" alt=""></a>
                                <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=76&height=20&appId" width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article class="post post-ty2 bg-sh flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-bc8.png" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3 class="line line3"><a href="">Lý do Monkey Junior nhận được 100.000 USD từ Google</a></h3>
                            <div class="flex-lc">
                                <a href="" class="logo vnexpress"><img src="./assets/img/logo-vnexpress.png" alt=""></a>
                                <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=76&height=20&appId" width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article class="post post-ty2 bg-sh flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-bc5.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3 class="line line3"><a href="">Giải Nhất Nhân tài Đất Việt được vinh danh tại Festival Sáng tạo trẻ toàn quốc 2016</a></h3>
                            <div class="flex-lc">
                                <a href="" class="logo dantri"><img src="./assets/img/logo-dantri.png" alt=""></a>
                                <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=76&height=20&appId" width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article class="post post-ty2 bg-sh flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-bc9.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3 class="line line3"><a href="">Monkey Junior lọt top 5 thế giới app học tiếng Anh cho trẻ</a></h3>
                            <div class="flex-lc">
                                <a href="" class="logo dantri"><img src="./assets/img/logo-dantri.png" alt=""></a>
                                <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=76&height=20&appId" width="76" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>