<main>
    <div class="monkey-news">
        <div class="container">
            <div class="header flex">
                <h1 class="title">Tin tức</h1>
                <p>Chia sẻ những thông tin hữu ích giúp bậc cha mẹ có thể giúp đỡ và trò chuyện với các con nhiều hơn</p>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <article class="post post--highlight bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-news1.jpg" alt="" class="ft lazyload"></a>
                        <div class="post__content">
                            <h3><a href="">Thể lệ cuộc thi “Monkey TikTok Star”</a></h3>
                            <p>Nhân dịp ra mắt kênh Tiktok của Monkey Việt Nam, Monkey tổ chức cuộc thi nhảy "Monkey Tiktok Star" trên Group "Đồng hành cùng con học Monkey" để khuyến khích ba mẹ và các bé cùng vận động nhằm nâng cao sức khỏe trong mùa dịch và có cơ hội nhận những phần quà...</p>
                            <div class="flex-lc">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                                <a href="" title="" class="btn_viewmore ml-auto">Xem thêm <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </article>
                    <article class="post post-ty4 bg-sh mb-20 flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-news2.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Thể lệ cuộc thi “Monkey TikTok Star”</a></h3>
                            <p class="line line2">Nhân dịp ra mắt kênh Tiktok của Monkey Việt Nam, Monkey tổ chức cuộc thi nhảy "Monkey Tiktok Star" trên...</p>
                            <div class="flex-lc">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                    <article class="post post-ty4 bg-sh mb-20 flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-news3.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Thể lệ cuộc thi “Monkey TikTok Star”</a></h3>
                            <p class="line line2">Nhân dịp ra mắt kênh Tiktok của Monkey Việt Nam, Monkey tổ chức cuộc thi nhảy "Monkey Tiktok Star" trên...</p>
                            <div class="flex-lc">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                    <article class="post post-ty4 bg-sh mb-20 flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-news2.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Thể lệ cuộc thi “Monkey TikTok Star”</a></h3>
                            <p class="line line2">Nhân dịp ra mắt kênh Tiktok của Monkey Việt Nam, Monkey tổ chức cuộc thi nhảy "Monkey Tiktok Star" trên...</p>
                            <div class="flex-lc">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                    <article class="post post-ty4 bg-sh mb-20 flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-news3.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Thể lệ cuộc thi “Monkey TikTok Star”</a></h3>
                            <p class="line line2">Nhân dịp ra mắt kênh Tiktok của Monkey Việt Nam, Monkey tổ chức cuộc thi nhảy "Monkey Tiktok Star" trên...</p>
                            <div class="flex-lc">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                    <article class="post post-ty4 bg-sh mb-20 flex">
                        <a href="" title="" class="post__thumb"><img data-src="./assets/img/img-news4.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Thể lệ cuộc thi “Monkey TikTok Star”</a></h3>
                            <p class="line line2">Nhân dịp ra mắt kênh Tiktok của Monkey Việt Nam, Monkey tổ chức cuộc thi nhảy "Monkey Tiktok Star" trên...</p>
                            <div class="flex-lc">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1"><i class="icon icon-prev"></i></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="icon icon-next"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar bg-sh">
                        <div class="readmany">
                            <h4>Nhiều người đọc</h4>
                            <article class="post post--ty5 flex pr">
                                <a href="" class="post__thumb"><img data-src="./assets/img/img-news2.jpg" class="lazyload" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Tổng kết chương trình "6 tuần thử thách #Monkey4D"...</a></h3>
                                </div>
                            </article>
                            <article class="post post--ty5 flex pr">
                                <a href="" class="post__thumb"><img data-src="./assets/img/img-news3.jpg" class="lazyload" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Tổng kết chương trình "6 tuần thử thách #Monkey4D"...</a></h3>
                                </div>
                            </article>
                            <article class="post post--ty5 flex pr">
                                <a href="" class="post__thumb"><img data-src="./assets/img/img-news4.jpg" class="lazyload" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Tổng kết chương trình "6 tuần thử thách #Monkey4D"...</a></h3>
                                </div>
                            </article>
                            <article class="post post--ty5 flex pr">
                                <a href="" class="post__thumb"><img data-src="./assets/img/img-news3.jpg" class="lazyload" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Tổng kết chương trình "6 tuần thử thách #Monkey4D"...</a></h3>
                                </div>
                            </article>
                            <article class="post post--ty5 flex pr">
                                <a href="" class="post__thumb"><img data-src="./assets/img/img-news4.jpg" class="lazyload" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Tổng kết chương trình "6 tuần thử thách #Monkey4D"...</a></h3>
                                </div>
                            </article>
                        </div>
                        <div class="box-advise">
                            <h4>Bạn muốn con giỏi tiếng Anh trước tuổi lên 10?</h4>
                            <p>Dù con của bạn đang ở giai đoạn nào trong độ tuổi dưới 10, giáo dục sớm tiếng Anh cho trẻ là hoàn toàn cần thiết và đúng đắn.</p>
                            <form action="" method="">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="Tên của bạn">
                                </div>
                                <button type="submit" class="btn_pr btn_submit">Nhận Tư Vấn Miễn Phí</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>