<main>
    <div class="monkey-news-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="#">Tin tức</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Thể lệ cuộc thi “Monkey TikTok Star”</li>
                    </ul>
                    <h1 class="title">Thể lệ cuộc thi “Monkey TikTok Star”</h1>
                    <div class="flex-lc">
                        <div class="view flex-lc"><i class="icon icon-view"></i>6230 lượt xem</div>
                        <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=large&width=87&height=28&appId" width="87" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                    <article class="detail">
                        <p>Nhân dịp ra mắt kênh Tiktok của Monkey Việt Nam, Monkey tổ chức cuộc thi nhảy "Monkey Tiktok Star" trên Group "Đồng hành cùng con học Monkey" để khuyến khích ba mẹ và các bé cùng vận động nhằm nâng cao sức khỏe trong mùa dịch và có cơ hội nhận những phần quà vô cùng hấp dẫn.</p>
                        <p><img data-src="./assets/img/img-news1.jpg" class="lazyload" alt=""></p>
                        <p>Con số 10 triệu người dùng trên khắp thế giới là bảo chứng cho chất lượng của các ứng dụng Monkey. Thương hiệu tiên phong tại Việt Nam trong lĩnh vực ứng dụng học tập nói chung và app học tiếng Anh cho trẻ em nói riêng không chỉ được cộng đồng phụ huynh Việt Nam tin tưởng, mà còn là lựa chọn của phụ huynh nhiều quốc gia phát triển, trong đó có nhiều quốc gia sử dụng tiếng Anh là ngôn ngữ mẹ đẻ. Trong đó tiêu biểu có Monkey Junior là top 1 chương trình học đọc, top 20 ứng dụng Giáo dục sớm tại Mỹ trên Apple Store, Google Play và gần đây nhất là top 5 ứng dụng học tiếng Anh cho trẻ em nhiều người dùng nhất thế giới. Monkey Stories lọt top ứng dụng có nhiều người dùng nhất tại Thái Lan và Indonesia.</p>
                        <p><img data-src="./assets/img/img-news1.jpg" class="lazyload" alt=""></p>
                        <p>Con số 10 triệu người dùng trên khắp thế giới là bảo chứng cho chất lượng của các ứng dụng Monkey. Thương hiệu tiên phong tại Việt Nam trong lĩnh vực ứng dụng học tập nói chung và app học tiếng Anh cho trẻ em nói riêng không chỉ được cộng đồng phụ huynh Việt Nam tin tưởng, mà còn là lựa chọn của phụ huynh nhiều quốc gia phát triển, trong đó có nhiều quốc gia sử dụng tiếng Anh là ngôn ngữ mẹ đẻ. Trong đó tiêu biểu có Monkey Junior là top 1 chương trình học đọc, top 20 ứng dụng Giáo dục sớm tại Mỹ trên Apple Store, Google Play và gần đây nhất là top 5 ứng dụng học tiếng Anh cho trẻ em nhiều người dùng nhất thế giới. Monkey Stories lọt top ứng dụng có nhiều người dùng nhất tại Thái Lan và Indonesia.</p>
                        <p><img data-src="./assets/img/img-news1.jpg" class="lazyload" alt=""></p>
                        <p>Con số 10 triệu người dùng trên khắp thế giới là bảo chứng cho chất lượng của các ứng dụng Monkey. Thương hiệu tiên phong tại Việt Nam trong lĩnh vực ứng dụng học tập nói chung và app học tiếng Anh cho trẻ em nói riêng không chỉ được cộng đồng phụ huynh Việt Nam tin tưởng, mà còn là lựa chọn của phụ huynh nhiều quốc gia phát triển, trong đó có nhiều quốc gia sử dụng tiếng Anh là ngôn ngữ mẹ đẻ. Trong đó tiêu biểu có Monkey Junior là top 1 chương trình học đọc, top 20 ứng dụng Giáo dục sớm tại Mỹ trên Apple Store, Google Play và gần đây nhất là top 5 ứng dụng học tiếng Anh cho trẻ em nhiều người dùng nhất thế giới. Monkey Stories lọt top ứng dụng có nhiều người dùng nhất tại Thái Lan và Indonesia.</p>
                    </article>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="readmany">
                            <h4>Nhiều người đọc</h4>
                            <article class="post post--ty5 flex pr">
                                <a href="" class="post__thumb"><img data-src="./assets/img/img-news2.jpg" class="lazyload" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Tổng kết chương trình "6 tuần thử thách #Monkey4D"...</a></h3>
                                </div>
                            </article>
                            <article class="post post--ty5 flex pr">
                                <a href="" class="post__thumb"><img data-src="./assets/img/img-news3.jpg" class="lazyload" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Tổng kết chương trình "6 tuần thử thách #Monkey4D"...</a></h3>
                                </div>
                            </article>
                            <article class="post post--ty5 flex pr">
                                <a href="" class="post__thumb"><img data-src="./assets/img/img-news4.jpg" class="lazyload" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Tổng kết chương trình "6 tuần thử thách #Monkey4D"...</a></h3>
                                </div>
                            </article>
                            <article class="post post--ty5 flex pr">
                                <a href="" class="post__thumb"><img data-src="./assets/img/img-news3.jpg" class="lazyload" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Tổng kết chương trình "6 tuần thử thách #Monkey4D"...</a></h3>
                                </div>
                            </article>
                            <article class="post post--ty5 flex pr">
                                <a href="" class="post__thumb"><img data-src="./assets/img/img-news4.jpg" class="lazyload" alt=""></a>
                                <div class="post__content">
                                    <h3 class="line line3"><a href="">Tổng kết chương trình "6 tuần thử thách #Monkey4D"...</a></h3>
                                </div>
                            </article>
                        </div>
                        <div class="box-advise">
                            <h4>Bạn muốn con giỏi tiếng Anh trước tuổi lên 10?</h4>
                            <p>Dù con của bạn đang ở giai đoạn nào trong độ tuổi dưới 10, giáo dục sớm tiếng Anh cho trẻ là hoàn toàn cần thiết và đúng đắn.</p>
                            <form action="" method="">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="Tên của bạn">
                                </div>
                                <button type="submit" class="btn_pr btn_submit">Nhận Tư Vấn Miễn Phí</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>