<main>
    <div class="monkey-policy monkey-policy--s1">
        <div class="container">
            <div class="row flex-lc">
                <div class="col-lg-6 col-md-6">
                    <div class="content">
                        <h1 class="title">Chương Trình Đối Tác Phân Phối Sản Phẩm Giáo Dục Cùng Monkey</h1>
                        <p>Hãy cùng chúng tôi mang đến chương trình Giáo dục chất lượng cao đạt tiêu chuẩn quốc tế với chi phí mà đại đa số gia đình đều có khả năng chi trả</p>
                        <a href="" class="btn_register btn_pr flex-center">Đăng Ký Nhận Tư Vấn Miễn Phí <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/img-policy.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-policy monkey-policy--s2">
        <div class="container">
            <div class="header">
                <h2 class="title">Chính Sách Hợp Tác</h2>
                <p>ĐƠN GIẢN - LINH HOẠT - THU NHẬP CAO</p>
            </div>
            <ul class="policy flex">
                <li>
                    <div class="icon flex-center"><img src="./assets/img/icon-money.svg" alt=""></div>
                    <p>Không cần bỏ vốn, hoa hồng cao</p>
                </li>
                <li>
                    <div class="icon flex-center"><img src="./assets/img/icon-correct.svg" alt=""></div>
                    <p>Được cầm tay chỉ việc đến khi ra đơn</p>
                </li>
                <li>
                    <div class="icon flex-center"><img src="./assets/img/icon-term.svg" alt=""></div>
                    <p>Tài nguyên quảng cáo đa dạng, phong phú sẵn sàng để đại lý bán hàng</p>
                </li>
                <li>
                    <div class="icon flex-center"><img src="./assets/img/icon-profit.svg" alt=""></div>
                    <p>Sản phẩm có nhu cầu ngày càng cao</p>
                </li>
            </ul>
            <div class="text">Chỉ cần bạn có trên tay 1 chiếc điện thoại, cơ hội này là dành cho bạn!</div>
        </div>
    </div>
    <div class="monkey-policy monkey-policy--s3">
        <div class="container">
            <div class="monkey-policy--reason">
                <h2 class="title">Tại Sao Bạn Nên Hợp Tác Với Monkey Việt Nam Ngay Hôm Nay?</h2>
                <div class="reason pr">
                    <div class="reason__img"><img data-src="./assets/img/img-ht.png" class="lazyload" alt=""></div>
                    <ul class="reason__content">
                        <li class="bg-sh">
                            Hưởng hoa hồng hấp dẫn: lợi nhuận lên đến 45% (tương đương 670,000 đồng)/ khóa học
                        </li>
                        <li class="bg-sh">
                            Sản phẩm uy tín được tin dùng bởi hơn 10 triệu người dùng: số 1 về tiếng Anh và giáo dục cho trẻ từ 0-10 tuổi tại Việt Nam
                        </li>
                        <li class="bg-sh">
                            Hệ thống quản lý và theo dõi đơn hàng tiện lợi, hiệu quả, dễ sử dụng
                        </li>
                        <li class="bg-sh">
                            Đối soát và thanh toán minh bạch, rõ ràng, được chi trả hàng tháng đúng hạn
                        </li>
                    </ul>
                </div>
                <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Nhận Tư Vấn Miễn Phí <i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="monkey-policy--benefit">
                <h2 class="title">04 Lợi Ích Đặc Biệt</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="benefit bg-sh flex pr">
                            <div class="benefit__icon flex-center"><img src="./assets/img/icon-calendar.svg" alt=""></div>
                            <div class="benefit__content">
                                Quy trình đồng hành "5 ngày ra đơn" cùng đại lý mới
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="benefit bg-sh flex pr">
                            <div class="benefit__icon flex-center"><img src="./assets/img/icon-phone1.svg" alt=""></div>
                            <div class="benefit__content">
                                Chương trình đào tạo thường xuyên và liên tục mỗi tháng về kỹ năng bán hàng, marketing
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="benefit bg-sh flex pr">
                            <div class="benefit__icon flex-center"><img src="./assets/img/icon-group.svg" alt=""></div>
                            <div class="benefit__content">
                                Kết nối với các chuyên gia, cộng đồng cha mẹ tiến bộ, yêu thích các sản phẩm giáo dục con trẻ
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="benefit bg-sh flex pr">
                            <div class="benefit__icon flex-center"><img src="./assets/img/icon-gift.svg" alt=""></div>
                            <div class="benefit__content">
                                Được hưởng các chính sách vinh danh, tặng quà đặc biệt, thưởng quý/ năm vô cùng hấp dẫn
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Nhận Tư Vấn Miễn Phí <i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="monkey-policy--app">
                <h2 class="title">Các Ứng Dụng Học Tập Của Monkey</h2>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="app bg-sh">
                            <div class="app__img app__img--g flex-center"><img src="./assets/img/monkey-jw.svg" alt=""></div>
                            <div class="app__content">
                                Tiếng Anh cho trẻ mới bắt đầu, giúp con tích lũy hơn 3.000 từ vựng và 6.000 mẫu câu
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="app bg-sh">
                            <div class="app__img app__img--b flex-center"><img src="./assets/img/monkey-sw.svg" alt=""></div>
                            <div class="app__content">
                                Giúp trẻ giỏi tiếng Anh trước 10 tuổi, phát triển toàn diện 4 kỹ năng Nghe - Nói - Đọc - Viết
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="app bg-sh">
                            <div class="app__img app__img--y flex-center"><img src="./assets/img/monkey-mw.svg" alt=""></div>
                            <div class="app__content">
                                Học Toán theo Chương trình GDPT mới cho trẻ Mầm non & Tiểu học
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="app bg-sh">
                            <div class="app__img app__img--v flex-center"><img src="./assets/img/vmonkey3.svg" alt=""></div>
                            <div class="app__content">
                                Học tiếng Việt theo Chương trình GDPT mới cho trẻ Mầm non & Tiểu học
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Nhận Tư Vấn Miễn Phí <i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="monkey-policy--prize">
                <div class="header">
                    <h2 class="title">Hệ Thống Sản Phẩm Đạt Nhiều Giải Thưởng Uy Tín</h2>
                    <p>Số 1 về tiếng Anh và giáo dục cho trẻ từ 0-10 tuổi tại Việt Nam</p>
                </div>
                <div class="reward flex">
                    <div class="slider slider-for">
                        <div class="item">
                            <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                            <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                        </div>
                        <div class="item">
                            <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                            <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                        </div>
                        <div class="item active">
                            <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                            <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                        </div>
                        <div class="item">
                            <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                            <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                        </div>
                        <div class="item">
                            <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                            <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                        </div>
                        <div class="item">
                            <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                            <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                        </div>
                        <div class="item">
                            <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                            <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                        </div>
                    </div>
                    <div class="slider slider-nav">
                        <button type="button" class="btn_nav btn_prev"></button>
                        <div class="slider-list">
                            <div class="slider-track">
                                <div class="item">
                                    <h3>Giải nhất Sáng kiến toàn cầu tại Mỹ</h3>
                                    <p>Giải nhất Sáng kiến toàn cầu tại Mỹ</p>
                                </div>
                                <div class="item">
                                    <h3>Giải nhất Nhân Tài Đất Việt</h3>
                                    <p>Giải nhất Sáng kiến toàn cầu tại Mỹ Giải nhất Sáng kiến toàn cầu tại Mỹ</p>
                                </div>
                                <div class="item active">
                                    <h3>Bằng khen của Thủ tướng Chính phủ</h3>
                                    <p>Xây dựng một ứng dụng giúp ích cho hàng triệu các trẻ em nhỏ Việt Nam và trên thế giới, Monkey tự hào nhận được Bằng khen của Thủ Tướng Chính Phủ... <a href="" title="Xem thêm" class="btn_viewmore">Xem thêm</a></p>
                                </div>
                                <div class="item">
                                    <h3>Giải nhất cuộc thi AEA tại Nhật Bản</h3>
                                    <p>Giải nhất Nhân Tài Đất Việt</p>
                                </div>
                                <div class="item">
                                    <h3>Giải Vàng tại ASEAN ICT Awards</h3>
                                    <p>Giải nhất cuộc thi AEA tại Nhật Bản</p>
                                </div>
                                <div class="item">
                                    <h3>Giải Vàng tại ASEAN ICT Awards2</h3>
                                    <p>Giải Vàng tại ASEAN ICT Awards</p>
                                </div>
                                <div class="item">
                                    <h3>Giải Vàng tại ASEAN ICT Awards3</h3>
                                    <p>Giải Vàng tại ASEAN ICT Awards</p>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn_nav btn_next"></button>
                    </div>
                </div>
                <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Nhận Tư Vấn Miễn Phí <i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="monkey-policy--partner">
                <h2 class="title">Các Đối Tác Tiêu Biểu</h2>
                <div class="partner-list">
                    <div class="item bg-sh">
                        <div class="item__img"><img class="ft lazyload" data-src="./assets/img/partner1.jpg" alt=""></div>
                        <div class="item__content">
                            <h4>ANH HIỆU</h4>
                            <p>Nhân viên Văn phòng</p>
                            <p>Thu nhập tại Monkey lên tới <span>34 triệu/tháng</span></p>
                        </div>
                    </div>
                    <div class="item bg-sh">
                        <div class="item__img"><img class="ft lazyload" data-src="./assets/img/partner2.jpg" alt=""></div>
                        <div class="item__content">
                            <h4>CHỊ THƯƠNG</h4>
                            <p>Nhân viên Văn phòng</p>
                            <p>Thu nhập tại Monkey lên tới <span>34 triệu/tháng</span></p>
                        </div>
                    </div>
                    <div class="item bg-sh">
                        <div class="item__img"><img class="ft lazyload" data-src="./assets/img/partner3.jpg" alt=""></div>
                        <div class="item__content">
                            <h4>CHỊ NGÔ TÚ</h4>
                            <p>Nhân viên Văn phòng</p>
                            <p>Thu nhập tại Monkey lên tới <span>34 triệu/tháng</span></p>
                        </div>
                    </div>
                    <div class="item bg-sh">
                        <div class="item__img"><img class="ft lazyload" data-src="./assets/img/partner4.jpg" alt=""></div>
                        <div class="item__content">
                            <h4>CHỊ THANH PHƯƠNG</h4>
                            <p>Nhân viên Văn phòng</p>
                            <p>Thu nhập tại Monkey lên tới <span>34 triệu/tháng</span></p>
                        </div>
                    </div>
                    <div class="item bg-sh">
                        <div class="item__img"><img class="ft lazyload" data-src="./assets/img/partner1.jpg" alt=""></div>
                        <div class="item__content">
                            <h4>ANH HIỆU</h4>
                            <p>Nhân viên Văn phòng</p>
                            <p>Thu nhập tại Monkey lên tới <span>34 triệu/tháng</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-policy monkey-policy--s4">
        <div class="container">
            <div class="video pr" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1" data-toggle="modal" data-target="#modal-video">
                <div class="video__thumb"><img data-src="./assets/img/img-video-policy.jpg" class="lazyload" alt=""></div>
                <div class="video__play"><img src="./assets/img/play.svg"  alt=""></div>
            </div>
            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Nhận Tư Vấn Miễn Phí <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="monkey-register pr">
        <div class="container pr">
            <div class="header">
                <h2 class="title">Đăng Ký Thông Tin Để Nhận Tư Vấn Miễn Phí</h2>
                <p>Hãy cùng đồng hành với Monkey Việt Nam để lan tỏa giá trị giáo dục tốt đẹp tới nhiều gia đình</p>
            </div>
            <form action="" method="">
                <div class="form-group">
                    <input type="text" name="" placeholder="Họ tên">
                </div>
                <div class="form-group">
                    <input type="email" name="" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="number" name="" placeholder="Số điện thoại">
                </div>
                <div class="form-group">
                    <h4>Anh/chị đã mua sản phẩm của Monkey chưa?</h4>
                    <div class="checkbox flex-lc">
                        <label>
                            <input type="radio" name="abc" checked>
                            <span class="checked"></span>
                            Đã mua
                        </label>
                        <label>
                            <input type="radio" name="abc">
                            <span class="checked"></span>
                            Chưa mua
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn_submit flex-center">Đăng Ký Miễn Phí</button>
            </form>
            <div class="decor"><img src="./assets/img/monkey3.png" alt=""></div>
        </div>
    </div>
</main>