<div class="modal fade modal-monkey" id="modal-v2">
    <div class="modal-dialog">
        <div class="modal-content">
            <h5 class="title">Siêu tiết kiệm <br> dành cho ba mẹ! </h5>
            <div class="tabs flex-center">
                <input id="tab1" type="radio" name="tabs">
                <label for="tab1" class="lb1"></label>
                <input id="tab2" type="radio" name="tabs" checked>
                <label for="tab2" class="lb2"></label>
                <input id="tab3" type="radio" name="tabs">
                <label for="tab3" class="lb3"></label>
                <div class="content list-text">
                    <div id="content1">
                        <p>Giảm ngay <span>40%</span> khi đăng ký Monkey Junior</p>
                    </div>

                    <div id="content2">
                        <p>Giảm ngay <span>41%</span> khi đăng ký Monkey Junior</p>
                    </div>

                    <div id="content3">
                        <p>Giảm ngay <span>42%</span> khi đăng ký Monkey Junior</p>
                    </div>
                </div>
            </div>
            <a href="javascript:;" class="close decor flex-center" data-dismiss="modal">OK</a>
        </div>
    </div>
</div>

<div class="modal fade modal-monkey show" id="modal-v3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="tabs pb2 flex-center">
                <input id="tab4" type="radio" name="tabs1">
                <label for="tab4" class="lb1"></label>
                <input id="tab5" type="radio" name="tabs1" checked>
                <label for="tab5" class="lb2"></label>
                <input id="tab6" type="radio" name="tabs1">
                <label for="tab6" class="lb3"></label>
                <div class="content list-text fw">
                    <div id="content4">
                        <div class="img-wrapper"><img src="https://monkeymedia.vcdn.com.vn/upload/common_MJ/Popup_app_MJ/img1.png" alt=""></div>
                        <h4>Khám phá phiên bản Monkey Junior 3.0 hoàn toàn mới</h4>
                        <p>Giao diện hoàn toàn mới, sinh động giúp con hứng thú học và tăng khả năng tương tác</p>
                    </div>

                    <div id="content5">
                        <div class="img-wrapper"><img src="https://monkeymedia.vcdn.com.vn/upload/common_MJ/Popup_app_MJ/img2.png" alt=""></div>
                        <h4>Khám phá phiên bản Monkey Junior 3.0 hoàn toàn mới</h4>
                        <p> Thêm mới tính năng nhận diện giọng nói với công nghệ AI giúp đánh giá phát âm của con</p>
                    </div>

                    <div id="content6">
                        <div class="img-wrapper"><img src="https://monkeymedia.vcdn.com.vn/upload/common_MJ/Popup_app_MJ/img3.png" alt=""></div>
                        <h4>Khám phá phiên bản Monkey Junior 3.0 hoàn toàn mới</h4>
                        <p>Không cần tải các khóa học, bài học được cá nhân hóa theo độ tuổi và sở thích của con</p>
                    </div>
                </div>
            </div>
            <a href="javascript:;" class="close flex-center" data-dismiss="modal">OK</a>
        </div>
    </div>
</div>

<div class="modal-backdrop show"></div>