<main>
    <div class="prize pr bg-gray">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Giải thưởng</a></li>
            <li class="breadcrumb-item active" aria-current="page">Monkey Junior vinh dự đón nhận Bằng khen của Thủ tướng Chính phủ</li>
        </ul>
        <div class="prize__detail">
            <h1 class="title">Monkey Junior vinh dự đón nhận Bằng khen của Thủ tướng Chính phủ</h1>
            <div class="view flex-lc"><i class="icon icon-view"></i>6230 lượt xem</div>
            <article>
                <div class="box-figure flex-center">
                    <figure>
                        <img src="./assets/img/img-prize6.jpg" alt="">
                        <figcaption>Bằng khen của Thủ Tướng Chính Phủ</figcaption>
                    </figure>
                </div>
                <p>Vượt qua những thời điểm khó khăn để xây dựng một ứng dụng giúp ích cho hàng triệu các trẻ em nhỏ Việt Nam và trên thế giới, Monkey đầy tự hào khi nhận được Bằng khen của Thủ tướng Chính phủ.</p>
                <p>Từ những ngày đầu với lực lượng của Early Start rất khiêm tốn, chỉ có 6 người, gồm 2 chuyên viên chăm sóc khách hàng, 3 kỹ thuật và một nhà thiết kế. Anh Hoàng và các cộng sự đã vượt qua những thời điểm khó khăn để xây dựng một ứng dụng giúp ích cho hàng triệu các trẻ em nhỏ Việt Nam và trên thế giới có cơ hội được tiếp xúc với môi trường học tiếng Anh và các ngôn ngữ khác một cách hàng ngày ở nhà và ngay cả bố mẹ không giỏi ngôn ngữ đấy mà vẫn có thể dạy con được. Đồng thời Monkey Junior có một mức giá rất hợp lý nhằm tiếp cận với đại đa số các bậc phụ huynh.</p>
                <div class="box-figure flex-center">
                    <figure>
                        <img src="./assets/img/img-prize7.jpg" alt="">
                        <figcaption>Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</figcaption>
                    </figure>
                </div>
                <p>Monkey Junior là ứng dụng xây dựng nền tảng đa ngôn ngữ cho trẻ em từ 0 đến 10 tuổi, với kho dữ liệu đa phương tiện khổng lồ (hình ảnh, video, âm thanh), bao gồm 1.000+ bài học cho mỗi ngôn ngữ, 7.500 từ, hơn 2.000 câu, 2.000 video, 6.000 hình ảnh, 10.000 âm thanh.</p>

                <p>Ðiều đặc biệt, Monkey Junior đã thu hút hơn 1,5 triệu người dùng, trong đó Việt Nam chiếm 30%, 70% còn lại là người nước ngoài.</p>

                <p>Hệ thống chương trình học gồm 6 ngôn ngữ: Anh - Anh và Anh - Mỹ, Tiếng Việt, Pháp, Tây Ban Nha, Trung Quốc, Tiếng Nga.</p>

                <p>Ðiểm ưu việt của Monkey Junior là sự tương tác giữa người sử dụng và các bài học, không bị động giống như dạng video mà các chương trình khác sử dụng. Ðặc điểm này cũng loại bỏ tình trạng mất hoặc giảm khả năng giao tiếp với thế giới xung quanh của trẻ khi sử dụng đồ công nghệ lúc còn quá nhỏ.</p>

                <p>Monkey Junior không những giành giải nhất cuộc thi Sáng kiến toàn cầu năm 2016 tại Mỹ, mà còn nhận nhiều giải thưởng quan trọng như: Giải Vàng cuộc thi ASEAN ICT Award (AICTA); giải nhất Nhân tài Ðất Việt 2016; giải nhất về thiết kế tại Doanh nhân châu Á (AEA 2016) ở Nhật Bản; giải nhì cuộc thi Venture Cup 2015; giải thưởng “Sáng tạo trẻ” 2016 do Trung ương Ðoàn tổ chức.</p>
            </article>
            <div class="box-share">
                <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fmonkeyjuniorvietnam&layout=button&size=large&width=87&height=28&appId" width="87" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                <button type="button" class="btn_share_fake"></button>
            </div>
        </div>
    </div>
    <div class="monkey-relate monkey-relate--posts border-0 pr">
        <div class="container">
            <h4>Xem Thêm Các Giải Thưởng Khác</h4>
            <div class="relate_list_pc">
                <div class="item">
                    <div class="bg-sh flex-lc">
                        <a href="" class="item__thumb"><img data-src="./assets/img/img-bc5.jpg" class="lazyload" alt=""></a>
                        <div class="item__content">
                            <h3><a href="" title="">Monkey Junior vinh dự đón nhận Bằng khen của Thủ tướng Chính phủ</a></h3>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh flex-lc">
                        <a href="" class="item__thumb"><img src="./assets/img/img-bc5.jpg" alt=""></a>
                        <div class="item__content">
                            <h3><a href="" title="">Monkey Junior vinh dự đón nhận Bằng khen của Thủ tướng Chính phủ</a></h3>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh flex-lc">
                        <a href="" class="item__thumb"><img src="./assets/img/img-bc5.jpg" alt=""></a>
                        <div class="item__content">
                            <h3><a href="" title="">Monkey Junior vinh dự đón nhận Bằng khen của Thủ tướng Chính phủ</a></h3>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh flex-lc">
                        <a href="" class="item__thumb"><img src="./assets/img/img-bc5.jpg" alt=""></a>
                        <div class="item__content">
                            <h3><a href="" title="">Monkey Junior vinh dự đón nhận Bằng khen của Thủ tướng Chính phủ</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="relate_list_mobile">
                <div class="item">
                    <div class="bg-sh flex-lc">
                        <a href="" class="item__thumb"><img src="./assets/img/img-bc5.jpg" alt=""></a>
                        <div class="item__content">
                            <h3><a href="" title="">Monkey Junior vinh dự đón nhận Bằng khen của Thủ tướng Chính phủ</a></h3>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh flex-lc">
                        <a href="" class="item__thumb"><img src="./assets/img/img-bc5.jpg" alt=""></a>
                        <div class="item__content">
                            <h3><a href="" title="">Monkey Junior vinh dự đón nhận Bằng khen của Thủ tướng Chính phủ</a></h3>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh flex-lc">
                        <a href="" class="item__thumb"><img src="./assets/img/img-bc5.jpg" alt=""></a>
                        <div class="item__content">
                            <h3><a href="" title="">Monkey Junior vinh dự đón nhận Bằng khen của Thủ tướng Chính phủ</a></h3>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh flex-lc">
                        <a href="" class="item__thumb"><img src="./assets/img/img-bc5.jpg" alt=""></a>
                        <div class="item__content">
                            <h3><a href="" title="">Monkey Junior vinh dự đón nhận Bằng khen của Thủ tướng Chính phủ</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav_custom flex-center pr">
                <button type="button" class="nav_prev"></button>
                <div class="nav_dots"></div>
                <button type="button" class="nav_next"></button>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>