<main>
    <div class="prize pr">
        <div class="container">
            <div class="header">
                <h1 class="title">Giải Thưởng</h1>
                <p>Monkey tự hào nhận được các giải thưởng danh giá</p>
            </div>
            <div class="prize__list">
                <div class="item flex-lc">
                    <div class="item__img"><img src="./assets/img/img-prize1.jpg" alt=""></div>
                    <div class="item__content">
                        <h3>Giải nhất Sáng Kiến Toàn Cầu</h3>
                        <p>Để giành được chiến thắng tại một cuộc thi mang tính toàn cầu, ứng dụng Việt Monkey Junior đã vượt qua hơn 1.075 hồ sơ đến từ 104 quốc gia và vùng lãnh thổ trên khắp thế giới.</p>
                        <a href="" title="" class="btn_viewmore flex-lc">Xem thêm <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="item flex-lc">
                    <div class="item__img"><img src="./assets/img/img-prize2.jpg" alt=""></div>
                    <div class="item__content">
                        <h3>Giải nhất Nhân Tài Đất Việt</h3>
                        <p>Ứng dụng Monkey Junior đã xuất sắc thuyết phục thành công Hội đồng giám khảo cuộc thi Nhân tài Đất Việt 2016 để giành giải Nhất trong nhóm sản phẩm Hệ thống Sản phẩm Công nghệ Thông tin ...</p>
                        <a href="" title="" class="btn_viewmore flex-lc">Xem thêm <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="item flex-lc">
                    <div class="item__img"><img src="./assets/img/img-prize3.jpg" alt=""></div>
                    <div class="item__content">
                        <h3>Bằng khen của Thủ tướng Chính phủ</h3>
                        <p>Vượt qua những thời điểm khó khăn để xây dựng một ứng dụng giúp ích cho hàng triệu các trẻ em nhỏ Việt Nam và trên thế giới, Monkey đầy tự hào khi nhận được Bằng khen của Thủ tướng Chính phủ</p>
                        <a href="" title="" class="btn_viewmore flex-lc">Xem thêm <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="item flex-lc">
                    <div class="item__img"><img src="./assets/img/img-prize4.jpg" alt=""></div>
                    <div class="item__content">
                        <h3>Giải nhất cuộc thi AEA Nhật Bản</h3>
                        <p>Là một trong hai start-up Việt Nam được lựa chọn tranh tài ở cuộc thi AEA (Asian Entrepreneurship Award) tại Nhật vào đầu tháng 6 năm 2016, Monkey Junior đã vinh dự mang về giải Nhất</p>
                        <a href="" title="" class="btn_viewmore flex-lc">Xem thêm <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="item flex-lc">
                    <div class="item__img"><img src="./assets/img/img-prize5.jpg" alt=""></div>
                    <div class="item__content">
                        <h3>Giải vàng ASEAN ITC Award</h3>
                        <p>ASEAN ICT Awards đã được tổ chức thành công trong bốn kỳ, với mục tiêu tìm kiếm và tôn vinh các sản phẩm, giải pháp CNTT-TT có tính sáng tạo, ứng dụng thực tiễn trong đời sống, kinh tế xã hội, phổ ...</p>
                        <a href="" title="" class="btn_viewmore flex-lc">Xem thêm <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>