<main>
    <div class="monkey-product pr">
        <div class="container">
            <div class="product">
                <h1 class="title">Bộ các ứng dụng học tập của Monkey</h1>
                <ul class="product__list flex">
                    <li>
                        <div class="product__img flex-center"><img src="./assets/img/monkey-j1.svg" alt=""></div>
                        <div class="product__content">
                            <h4>Monkey Stories - Giỏi Tiếng Anh Trước Tuổi Lên 10</h4>
                            <p>Ứng dụng số 1 tại Việt Nam giúp trẻ từ 2 - 10 tuổi phát triểntoàn diện 4 kỹ năng tiếng Anh: Nghe - Nói - Đọc - Viết</p>
                        </div>
                    </li>
                    <li>
                        <div class="product__img flex-center"><img src="./assets/img/monkey-s1.svg" alt=""></div>
                        <div class="product__content">
                            <h4>Monkey Stories - Giỏi Tiếng Anh Trước Tuổi Lên 10</h4>
                            <p>Ứng dụng số 1 tại Việt Nam giúp trẻ từ 2 - 10 tuổi phát triểntoàn diện 4 kỹ năng tiếng Anh: Nghe - Nói - Đọc - Viết</p>
                        </div>
                    </li>
                    <li>
                        <div class="product__img flex-center"><img src="./assets/img/monkey-m1.svg" alt=""></div>
                        <div class="product__content">
                            <h4>Monkey Stories - Giỏi Tiếng Anh Trước Tuổi Lên 10</h4>
                            <p>Ứng dụng số 1 tại Việt Nam giúp trẻ từ 2 - 10 tuổi phát triểntoàn diện 4 kỹ năng tiếng Anh: Nghe - Nói - Đọc - Viết</p>
                        </div>
                    </li>
                    <li>
                        <div class="product__img flex-center"><img src="./assets/img/vmonkey1.svg" alt=""></div>
                        <div class="product__content">
                            <h4>Monkey Stories - Giỏi Tiếng Anh Trước Tuổi Lên 10</h4>
                            <p>Ứng dụng số 1 tại Việt Nam giúp trẻ từ 2 - 10 tuổi phát triểntoàn diện 4 kỹ năng tiếng Anh: Nghe - Nói - Đọc - Viết</p>
                        </div>
                    </li>
                </ul>
                <div class="box-btn flex-center">
                    <a href="" title="" class="btn_pr flex-center">Đăng Ký Trọn Bộ <i class="fas fa-chevron-right"></i></a>
                    <a href="" title="" class="btn_sub flex-center">Nhận tư vấn</a>
                </div>
                <div class="video" data-target="#modal-video" data-toggle="modal" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1">
                    <div class="video__thumb"><img data-src="./assets/img/img-thumb-video.jpg" class="lazyload" alt=""></div>
                    <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-solution pr">
        <div class="container flex-lc">
            <div class="col-left">
                <h2 class="title">Giải Pháp Giúp Con Phát Triển Toàn Diện Tư Duy Và Ngôn Ngữ</h2>
                <div class="box-btn">
                    <a href="" title="" class="btn_pr flex-center">Đăng Ký Trọn Bộ <i class="fas fa-chevron-right"></i></a>
                    <a href="" title="" class="btn_sub flex-center">Nhận tư vấn</a>
                </div>
            </div>
            <div class="col-right">
                <div class="solution_list flex">
                    <div class="item">
                        <article class="solution bg-sh">
                            <a href="" class="solution__img"><img data-src="./assets/img/img-sp4.jpg" class="lazyload" alt=""></a>
                            <div class="solution__content">
                                <h3><a href="">Học Tiếng Việt Cùng Monkey Junior Và VMonkey</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article class="solution bg-sh">
                            <a href="" class="solution__img"><img data-src="./assets/img/img-sp1.jpg" class="lazyload" alt=""></a>
                            <div class="solution__content">
                                <h3><a href="">Học Tiếng Anh Từ Cơ Bản Đến Nâng Cao Khi Kết Hợp Monkey Junior Và MonKey Stories</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article class="solution bg-sh">
                            <a href="" class="solution__img"><img data-src="./assets/img/img-sp2.jpg" class="lazyload" alt=""></a>
                            <div class="solution__content">
                                <h3><a href="">Sử Dụng Tiếng Anh Như Công Cụ Học Tập Với Monkey Junior, Monkey Stories và Monkey Math</a></h3>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article class="solution bg-sh">
                            <a href="" class="solution__img"><img data-src="./assets/img/img-sp3.jpg" class="lazyload" alt=""></a>
                            <div class="solution__content">
                                <h3><a href="">Phát Triển Tư Duy Cùng Monkey Math</a></h3>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="box-btn">
                    <a href="" title="" class="btn_pr flex-center">Đăng Ký Trọn Bộ <i class="fas fa-chevron-right"></i></a>
                    <a href="" title="" class="btn_sub flex-center">Nhận tư vấn</a>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-advantage pr">
        <div class="container">
            <div class="header">
                <h2 class="title">4 Đặc Quyền Khi Sở Hữu Monkey Trọn Bộ</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <ul class="advantage">
                        <li>
                            <div class="icon"><img src="./assets/img/saleoff.svg" alt=""></div>
                            <p>Ưu đãi đặc biệt tới 50%, tiết kiệm tới 2.600.000 VNĐ</p>
                        </li>
                        <li>
                            <div class="icon"><img src="./assets/img/free.svg" alt=""></div>
                            <p>Miễn phí Bộ sách Bài tập Bổ trợ Monkey Math Workbook</p>
                        </li>
                        <li>
                            <div class="icon"><img src="./assets/img/gift.svg" alt=""></div>
                            <p>Trở thành học viên thân thiết của Monkey với nhiều hỗ trợ & quà tặng trong quá trình học tập</p>
                        </li>
                        <li>
                            <div class="icon"><img src="./assets/img/prioritized.svg" alt=""></div>
                            <p>Ưu tiên trong việc được cập nhật học liệu mới</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="img-wrapper"><img data-src="./assets/img/monkey-abc.png" class="lazyload" alt=""></div>
                    <div class="box-btn">
                        <a href="" title="" class="btn_pr flex-center">Đăng Ký Trọn Bộ <i class="fas fa-chevron-right"></i></a>
                        <a href="" title="" class="btn_sub flex-center">Nhận Tư Vấn Miễn Phí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-feature pr">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="feature bg-sh1">
                        <div class="feature__img flex-center"><img src="./assets/img/device.svg" alt=""></div>
                        <div class="feature__content">
                            <h4>Thiết bị</h4>
                            <p>Không giới hạn số lượng thiết bị</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature bg-sh1">
                        <div class="feature__content">
                            <h4>Hồ sơ người học</h4>
                            <p>Tạo nhiều hồ sơ người học trên một tài khoản</p>
                        </div>
                        <div class="feature__img flex-center"><img src="./assets/img/group.svg" alt=""></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature bg-sh1">
                        <div class="feature__img flex-center"><img src="./assets/img/nointernet.svg" alt=""></div>
                        <div class="feature__content">
                            <h4>Không kết nối internet</h4>
                            <p>Sử dụng ứng dụng ngay cả khi không kết nối internet</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature bg-sh1">
                        <div class="feature__content">
                            <h4>Đồng bộ hóa</h4>
                            <p>Tự động bộ tiến độ học tập trên các thiết bị</p>
                        </div>
                        <div class="feature__img flex-center"><img src="./assets/img/synchronized.svg" alt=""></div>
                    </div>
                </div>
            </div>
            <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Trọn Bộ <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="monkey-join pr">
        <div class="container">
            <div class="header">
                <h2 class="title">Hơn 10 Triệu Trẻ Em Đã Học Cùng Monkey</h2>
            </div>
            <ul class="monkey-join--member flex">
                <li><a href=""><img data-src="./assets/img/img-m1.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m2.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m3.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m4.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m5.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m2.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m3.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m4.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m1.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m2.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m3.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m4.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m5.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m2.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m3.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m4.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m1.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m2.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m3.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m4.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m5.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m2.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m3.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m4.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m1.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m2.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m3.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m4.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m5.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m2.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m3.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m4.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m1.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m2.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m3.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m4.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m5.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m2.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m3.jpg" class="lazyload" alt=""></a></li>
                <li><a href=""><img data-src="./assets/img/img-m4.jpg" class="lazyload" alt=""></a></li>
            </ul>
        </div>
    </div>
    <div class="monkey-feedback pd-80 pr">
        <div class="container">
            <div class="feedback_list">
                <div class="feedback flex-lc">
                    <div class="feedback__img"><img data-src="./assets/img/feedback.jpg" class="lazyload" alt=""></div>
                    <div class="feedback__content">
                        <div class="content">
                            <p>Quyết định của tôi vô cùng đúng đắn khi bé Cà Pháo rất hứng khởi với bí kíp học Tiếng Anh Monkey Stories. </p>
                        </div>
                        <div class="customer">
                            <h4>Anh Đại Dương</h4>
                            <p>Bố bé Quang Bình</p>
                        </div>
                        <div class="box-btn flex">
                            <a href="" title="" class="btn_pr flex-center">Đăng Ký Trọn Bộ <i class="fas fa-chevron-right"></i></a>
                            <a href="" title="" class="btn_sub flex-center">Nhận Tư Vấn</a>
                        </div>
                    </div>
                </div>
                <div class="feedback flex-lc">
                    <div class="feedback__img"><img data-src="./assets/img/feedback.jpg" class="lazyload" alt=""></div>
                    <div class="feedback__content">
                        <div class="content">
                            <p>Quyết định của tôi vô cùng đúng đắn khi bé Cà Pháo rất hứng khởi với bí kíp học Tiếng Anh Monkey Stories. </p>
                        </div>
                        <div class="customer">
                            <h4>Anh Đại Dương</h4>
                            <p>Bố bé Quang Bình</p>
                        </div>
                        <div class="box-btn flex">
                            <a href="" title="" class="btn_pr flex-center">Đăng Ký Trọn Bộ <i class="fas fa-chevron-right"></i></a>
                            <a href="" title="" class="btn_sub flex-center">Nhận Tư Vấn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>