<main>
    <div class="monkey-quiz">
        <div class="container">
            <div class="quiz">
                <div class="quiz__header flex">
                    <div class="col-left">
                        <h5>TRẮC NGHIỆM HAY</h5>
                        <h1 class="title">Cho Bé Học Tiếng Anh Đúng Cách Ba Mẹ Đã Biết?</h1>
                    </div>
                    <div class="col-right">
                        <p>10 câu trắc nghiệm, biết kết quả trong 5 phút</p>
                        <p>Nắm được 10 điều cơ bản để giúp con bắt đầu học tiếng Anh</p>
                        <p>Nhận Ebook "Từ A-Z cách cho bé học tiếng Anh" ngay khi hoàn thành</p>
                    </div>
                </div>
                <div class="quiz__finish bg-sh pr">
                    <h4>CHÚC MỪNG BA/MẸ ĐÃ HOÀN THÀNH BÀI KIỂM TRA</h4>
                    <div class="img-wrapper"><img src="./assets/img/monkey-abc.png" alt=""></div>
                    <div class="text flex"><span>8/15</span>là số câu Ba/Mẹ đã trả lời đúng.</div>
                    <div class="box-btn flex">
                        <a href="" title="" class="btn_sub flex-center">Kiểm Tra Lại</a>
                        <a href="" title="" class="btn_pr flex-center">Nhận Kết Quả Chi Tiết <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>