<main>
    <div class="monkey-quiz">
        <div class="container">
            <div class="header">
                <h1 class="title">Trắc Nghiệm Hay Cho Ba Mẹ</h1>
                <p>Những bài tập và tài liệu giúp bé học tập và phát triển toàn diện</p>
            </div>
            <form action="" method="" class="search-form pr">
                <div class="form-group flex pr">
                    <input id="search" type="text" name="" required>
                    <button type="submit" class="btn_submit btn_pr">Tìm Kiếm</button>
                    <button type="reset" class="btn_reset"></button>
                </div>
                <div class="search-suggest bg-sh">
                    <p>Cùng con <span>vui</span> học tiếng Anh</p>
                    <p>Cùng con học tiếng Anh <span>Tiểu Học</span></p>
                    <p><span>Mẹ</span> cùng con học tiếng Anh</p>
                    <p>Cùng con học tiếng Anh <span>Monkey Edu</span></p>
                </div>
                <div class="search-popular flex">
                    <h5>Các tìm kiếm phổ biến:</h5>
                    <a href="" title="">Monkey Junior</a>
                    <a href="" title="">Cùng con học Tiếng Anh</a>
                    <a href="" title="">Nâng cao trí tuệ</a>
                    <a href="" title="">Ở nhà cùng con</a>
                </div>
            </form>
        </div>
    </div>
    <div class="monkey-search-result monkey-search-result--quiz">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="filter">
                        <div class="filter__item">
                            <h4>CHỦ ĐỀ</h4>
                            <div class="filter__item__list">
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    <p>Góc nhìn cha mẹ</p>
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    <p>Kinh nghiệm dạy con</p>
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    <p>Kỹ năng</p>
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    <p>Thấu hiểu</p>
                                </label>
                                <label class="flex-lc pr">
                                    <input type="checkbox" name="theme">
                                    <span class="checked"></span>
                                    <p>Kiến thức</p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="result">
                        <div class="result__header flex">
                            <div class="fil fil--search">
                                <h5 class="tf1">Tìm được 86 kết quả</h5>
                                <div class="list flex-lc">
                                    <a href="javascript:;" class="fil__item"><span>Kỹ năng</span><i class="icon-close"></i></a>
                                    <a href="javascript:;" class="btn_remove_all">Xoá tất cả</a>
                                </div>
                            </div>
                            <div class="fil fil--sort flex-lc">
                                <h4>Sắp xếp theo:</h4>
                                <select name="" class="select-min2">
                                    <option value="Mới nhất">Mới nhất</option>
                                </select>
                                <button type="button" class="btn_filter_m m-s flex-lc tf2">Bộ lọc (3) <i class="icon icon-filter"></i></button>
                            </div>
                        </div>
                        <div class="result__list result__list--quiz">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <a href="" class="post__thumb"><img src="./assets/img/thumb.jpg" alt=""></a>
                                        <div class="post__content">
                                            <h3><a href="">Trắc nghiệm tiềm năng tiếng Anh của bé</a></h3>
                                            <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <a href="" class="post__thumb"><img src="./assets/img/thumb3.jpg" alt=""></a>
                                        <div class="post__content">
                                            <h3><a href="">Trắc nghiệm tiềm năng tiếng Anh của bé</a></h3>
                                            <p>Trắc nghiệm tiềm năng tiếng Anh của bé</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <a href="" class="post__thumb"><img src="./assets/img/thumb4.jpg" alt=""></a>
                                        <div class="post__content">
                                            <h3><a href="">Trắc nghiệm tiềm năng tiếng Anh của bé</a></h3>
                                            <p>Trắc nghiệm tiềm năng tiếng Anh của bé</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <a href="" class="post__thumb"><img src="./assets/img/thumb.jpg" alt=""></a>
                                        <div class="post__content">
                                            <h3><a href="">Trắc nghiệm tiềm năng tiếng Anh của bé</a></h3>
                                            <p>Trắc nghiệm tiềm năng tiếng Anh của bé</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <a href="" class="post__thumb"><img src="./assets/img/thumb3.jpg" alt=""></a>
                                        <div class="post__content">
                                            <h3><a href="">Trắc nghiệm tiềm năng tiếng Anh của bé</a></h3>
                                            <p>Trắc nghiệm tiềm năng tiếng Anh của bé</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <a href="" class="post__thumb"><img src="./assets/img/thumb4.jpg" alt=""></a>
                                        <div class="post__content">
                                            <h3><a href="">Trắc nghiệm tiềm năng tiếng Anh của bé</a></h3>
                                            <p>Trắc nghiệm tiềm năng tiếng Anh của bé</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <a href="" class="post__thumb"><img src="./assets/img/thumb.jpg" alt=""></a>
                                        <div class="post__content">
                                            <h3><a href="">Trắc nghiệm tiềm năng tiếng Anh của bé</a></h3>
                                            <p>Trắc nghiệm tiềm năng tiếng Anh của bé</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <a href="" class="post__thumb"><img src="./assets/img/thumb3.jpg" alt=""></a>
                                        <div class="post__content">
                                            <h3><a href="">Trắc nghiệm tiềm năng tiếng Anh của bé</a></h3>
                                            <p>Trắc nghiệm tiềm năng tiếng Anh của bé</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <article class="post bg-sh">
                                        <a href="" class="post__thumb"><img src="./assets/img/thumb4.jpg" alt=""></a>
                                        <div class="post__content">
                                            <h3><a href="">Trắc nghiệm tiềm năng tiếng Anh của bé</a></h3>
                                            <p>Trắc nghiệm tiềm năng tiếng Anh của bé</p>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="icon icon-prev"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="icon icon-next"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-fix-left">
        <div class="logo"><img src="./assets/img/logo.png" alt=""></div>
        <h3>Bộ lọc</h3>
        <button type="button" class="close"></button>
        <div class="filter">
            <div class="filter__item">
                <h4>CHỦ ĐỀ</h4>
                <div class="filter__item__list">
                    <label class="flex-lc pr">
                        <input type="checkbox" name="theme">
                        <span class="checked"></span>
                        <p>Góc nhìn cha mẹ</p>
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="theme">
                        <span class="checked"></span>
                        <p>Kinh nghiệm dạy con</p>
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="theme">
                        <span class="checked"></span>
                        <p>Kỹ năng</p>
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="theme">
                        <span class="checked"></span>
                        <p>Thấu hiểu</p>
                    </label>
                    <label class="flex-lc pr">
                        <input type="checkbox" name="theme">
                        <span class="checked"></span>
                        <p>Kiến thức</p>
                    </label>
                </div>
            </div>
        </div>
        <button type="button" class="btn_apply btn_pr flex-center">Áp Dụng</button>
    </div>
    {% include "../include/advise.html" %}
</main>