<main>
    <div class="monkey-quiz">
        <div class="container">
            <div class="quiz">
                <div class="quiz__header flex">
                    <div class="col-left">
                        <h5>TRẮC NGHIỆM HAY</h5>
                        <h1 class="title">Cho Bé Học Tiếng Anh Đúng Cách Ba Mẹ Đã Biết?</h1>
                    </div>
                    <div class="col-right">
                        <p>10 câu trắc nghiệm, biết kết quả trong 5 phút</p>
                        <p>Nắm được 10 điều cơ bản để giúp con bắt đầu học tiếng Anh</p>
                        <p>Nhận Ebook "Từ A-Z cách cho bé học tiếng Anh" ngay khi hoàn thành</p>
                    </div>
                </div>
                <div class="quiz__question bg-sh">
                    <div class="process flex-lc">
                        <div class="process__bar pr"><div class="value" style="width: 10%;"></div></div>
                        <p><span>1</span>/10</p>
                    </div>
                    <h4>Câu 1 - Theo ba mẹ, làm thế nào để con hào hứng, vui vẻ khi bắt đầu học tiếng Anh?</h4>
                    <ul class="answer">
                        <li>
                            <label>
                                <input type="radio" name="question1">
                                <span class="checked"></span>
                                <p><span>A.</span> Áp dụng phương pháp học thông qua trò chơi</p>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="question1">
                                <span class="checked"></span>
                                <p><span>B.</span> Dùng thái độ hào hứng, vui vẻ của ba mẹ để ảnh hưởng tích cực đến con</p>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="question1">
                                <span class="checked"></span>
                                <p><span>C.</span> Phải chọn được chương trình học phù hợp với con</p>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="question1">
                                <span class="checked"></span>
                                <p><span>D.</span> Cả A B C đều đúng</p>
                            </label>
                        </li>
                    </ul>
                    <button type="button" class="btn_confirm flex-center btn_pr ml-auto">Xác Nhận <i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>