<main>
    <div class="monkey-recruitment">
        <div class="header">
            <h1 class="title">Monkey Tuyển Dụng</h1>
            <p>Mỗi cá nhân ứng tuyển là một mắt xích quan trọng giúp ích vào sự phát triển và tương lai của gia đình Monkey</p>
        </div>
        <div class="recruitment-search container">
            <div class="box-filter flex">
                <form action="" method="" class="search-form pr">
                    <div class="form-group flex pr">
                        <input id="search" type="text" name="" autocomplete="off" placeholder="Tìm kiếm" required>
                        <button type="submit" class="btn_submit btn_pr">Tìm Kiếm</button>
                        <button type="reset" class="btn_reset"></button>
                    </div>
                    <div class="search-suggest bg-sh">
                        <p>Cùng con <span>vui</span> học tiếng Anh</p>
                        <p>Cùng con học tiếng Anh <span>Tiểu Học</span></p>
                        <p><span>Mẹ</span> cùng con học tiếng Anh</p>
                        <p>Cùng con học tiếng Anh <span>Monkey Edu</span></p>
                    </div>
                </form>
                <div class="filter-item">
                    <select name="" class="select-min2">
                        <option value="Tất cả bộ phận">Tất cả bộ phận</option>
                        <option value="QA">QA</option>
                        <option value="IOS">IOS</option>
                        <option value="Android">Android</option>
                    </select>
                </div>
                <div class="filter-item">
                    <select name="" class="select-min2">
                        <option value="Tất cả địa điểm">Tất cả địa điểm</option>
                        <option value="Ha Noi">Ha Noi</option>
                        <option value="TPHCM">TPHCM</option>
                        <option value="Da Nang">Da Nang</option>
                    </select>
                </div>
            </div>
            <div class="recruitment-list">
                <div class="item bg-sh flex-lc">
                    <div class="item__left">
                        <h4>Giám đốc vận hành</h4>
                        <div class="flex-lc">
                            <span class="location">Hà Nội</span>
                            <span class="department">Ban giám đốc</span>
                        </div>
                    </div>
                    <div class="item__right flex-lc">
                        <span class="salary">10.000.000đ - 15.000.000đ</span>
                        <a href="" title="Ứng Tuyển" class="btn_recruitment flex-center">Ứng Tuyển</a>
                    </div>
                </div>
                <div class="item bg-sh flex-lc">
                    <div class="item__left">
                        <h4>Chuyên viên thu hút nhân tài</h4>
                        <div class="flex-lc">
                            <span class="location">Hà Nội</span>
                            <span class="department">Phòng nhân sự</span>
                        </div>
                    </div>
                    <div class="item__right flex-lc">
                        <span class="salary">10.000.000đ - 15.000.000đ</span>
                        <a href="" title="Ứng Tuyển" class="btn_recruitment flex-center">Ứng Tuyển</a>
                    </div>
                </div>
                <div class="item bg-sh flex-lc">
                    <div class="item__left">
                        <h4>Frontend Developer</h4>
                        <div class="flex-lc">
                            <span class="location">Hồ Chí Minh</span>
                            <span class="department">Phòng kỹ thuật</span>
                        </div>
                    </div>
                    <div class="item__right flex-lc">
                        <span class="salary">10.000.000đ - 15.000.000đ</span>
                        <a href="" title="Ứng Tuyển" class="btn_recruitment flex-center">Ứng Tuyển</a>
                    </div>
                </div>
            </div>
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1"><i class="icon icon-prev"></i></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="icon icon-next"></i></a>
                </li>
            </ul>
            <div class="recruitment-phone flex-center">
                <p>Số điện thoại liên hệ tuyển dụng:</p>
                <a href="tel:1900 63 60 52">1900 63 60 52</a>
            </div>
        </div>
    </div>
    <div class="monkey-benefit">
        <div class="container">
            <h2 class="title">Vì Sao Chọn Làm Việc Tại Monkey</h2>
            <div class="benefit-join flex">
                <div class="benefit">
                    <div class="benefit__title flex-center">
                        <div class="icon"><img src="./assets/img/icon-profit.svg" alt=""></div>
                        <span>PHÁT TRIỂN</span>
                    </div>
                    <div class="benefit__content">Monkey định hướng rõ ràng lộ trình phát triển cho từng nhân viên. Đặc biệt chính sách đào tạo nội bộ và đào tạo bên ngoài giúp nhân viên phát triển đồng đều, vững mạnh</div>
                </div>
                <div class="benefit">
                    <div class="benefit__title flex-center">
                        <div class="icon"><img src="./assets/img/icon-coins.svg" alt=""></div>
                        <span>PHÚC LỢI</span>
                    </div>
                    <div class="benefit__content">Không chỉ có lương, thưởng theo công việc, theo năng suất. Monkey còn có chính sách phúc lợi hấp dẫn, cạnh tranh đảm bảo sự hài lòng tuyệt đối</div>
                </div>
                <div class="benefit">
                    <div class="benefit__title flex-center">
                        <div class="icon"><img src="./assets/img/icon-medal.svg" alt=""></div>
                        <span>GHI NHẬN</span>
                    </div>
                    <div class="benefit__content">Monkey ghi nhận tất cả cố gắng của nhân viên nhằm đưa đến kết quả công bằng, minh bạch nhất cho: đánh giá tăng lương 6 tháng/ lần, cất nhắc vị trí mới,...</div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-face">
        <div class="container">
            <div class="header">
                <h2 class="title">Những Gương Mặt Xuất Sắc</h2>
            </div>
            <div class="face_list">
                <div class="item">
                    <div class="bg-sh">
                        <div class="item__img"><img src="./assets/img/partner1.jpg" class="ft" alt=""></div>
                        <div class="item__content">
                            <h4>MR. NGÔ TÚ</h4>
                            <div class="position">Trưởng ca CSKH</div>
                            <p>Không chỉ quản lý tốt nhân sự của mình, Tú còn làm hài lòng khách hàng bởi sự chân thành và tâm huyết. Tú luôn có những đề xuất sáng tạo nhằm phục vụ khách hàng của mình tốt nhất.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh">
                        <div class="item__img"><img src="./assets/img/partner2.jpg" class="ft" alt=""></div>
                        <div class="item__content">
                            <h4>MR. NGÔ TÚ</h4>
                            <div class="position">Trưởng ca CSKH</div>
                            <p>Không chỉ quản lý tốt nhân sự của mình, Tú còn làm hài lòng khách hàng bởi sự chân thành và tâm huyết. Tú luôn có những đề xuất sáng tạo nhằm phục vụ khách hàng của mình tốt nhất.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh">
                        <div class="item__img"><img src="./assets/img/partner3.jpg" class="ft" alt=""></div>
                        <div class="item__content">
                            <h4>MR. NGÔ TÚ</h4>
                            <div class="position">Trưởng ca CSKH</div>
                            <p>Không chỉ quản lý tốt nhân sự của mình, Tú còn làm hài lòng khách hàng bởi sự chân thành và tâm huyết. Tú luôn có những đề xuất sáng tạo nhằm phục vụ khách hàng của mình tốt nhất.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh">
                        <div class="item__img"><img src="./assets/img/partner2.jpg" class="ft" alt=""></div>
                        <div class="item__content">
                            <h4>MR. NGÔ TÚ</h4>
                            <div class="position">Trưởng ca CSKH</div>
                            <p>Không chỉ quản lý tốt nhân sự của mình, Tú còn làm hài lòng khách hàng bởi sự chân thành và tâm huyết. Tú luôn có những đề xuất sáng tạo nhằm phục vụ khách hàng của mình tốt nhất.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-image">
        <div class="container">
            <div class="header">
                <h2 class="title">Hình Ảnh Về Công Ty</h2>
            </div>
            <div class="video bg-sh" data-toggle="modal" data-target="#modal-video" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1">
                <div class="video__thumb pr"><img data-src="./assets/img/thumb-video.jpg" class="lazyload" alt=""></div>
                <div class="video__play pr"><img src="./assets/img/play1.svg" alt=""></div>
            </div>
            <div class="image_list">
                <div class="item">
                    <img src="./assets/img/img-cp1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="./assets/img/img-cp2.jpg" alt="">
                </div>
                <div class="item">
                    <img src="./assets/img/img-cp3.jpg" alt="">
                </div>
                <div class="item">
                    <img src="./assets/img/img-cp1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-email">
        <div class="container flex-lc">
            <div class="col-left">
                <p>Bạn chưa tìm được vị trí phù hợp? Để lại thông tin để Monkey gửi đến bạn những công việc mới trong tương lai</p>
                <form action="" method="">
                    <div class="form-group">
                        <label>Nhập email của bạn để nhận thông tin công việc mới</label>
                        <input type="email" name="" placeholder="Nhập email">
                    </div>
                </form>
                <div class="job-filter pr">
                    <div class="job-list pr">
                        <div class="placeholder">Vui lòng chọn ngành nghề</div>
                        <ul class="flex" style="display: none"></ul>
                        <button type="button" class="dropdown"></button>
                    </div>
                    <div class="job-dropdown">
                        <label class="flex-lc pr">
                            <input id="p1" data-id="p1" type="checkbox" value="Giám đốc điều hành" name="position">
                            <span class="checked"></span>
                            Giám đốc điều hành
                        </label>
                        <label class="flex-lc pr">
                            <input id="p2" data-id="p2" type="checkbox" value="Sale Marketing" name="position">
                            <span class="checked"></span>
                            Sale Marketing
                        </label>
                        <label class="flex-lc pr">
                            <input id="p3" data-id="p3" type="checkbox" value="Mobile developer" name="position">
                            <span class="checked"></span>
                            Mobile developer
                        </label>
                    </div>
                </div>
                <div class="job-filter pr">
                    <div class="job-list pr">
                        <div class="placeholder">Vui lòng chọn địa điểm</div>
                        <ul class="flex" style="display: none"></ul>
                        <button type="button" class="dropdown"></button>
                    </div>
                    <div class="job-dropdown">
                        <label class="flex-lc pr">
                            <input id="l1" data-id="l1" type="checkbox" value="Tất cả địa điểm" name="location">
                            <span class="checked"></span>
                            Tất cả địa điểm
                        </label>
                        <label class="flex-lc pr">
                            <input id="l2" data-id="l2" type="checkbox" value="Hồ Chí Minh" name="location">
                            <span class="checked"></span>
                            Hồ Chí Minh
                        </label>
                        <label class="flex-lc pr">
                            <input id="l3" data-id="l3" type="checkbox" value="Hà Nội" name="location">
                            <span class="checked"></span>
                            Hà Nội
                        </label>
                        <label class="flex-lc pr">
                            <input id="l4" data-id="l4" type="checkbox" value="Đà Nẵng" name="location">
                            <span class="checked"></span>
                            Đà Nẵng
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn_submit btn_pr flex-center">Đăng Ký</button>
            </div>
            <div class="col-right">
                <div class="box-img"><img src="./assets/img/monkey.png" alt=""></div>
            </div>
        </div>
    </div>
</main>