<main>
    <div class="monkey-recruitment">
        <div class="header no-bg">
            <h4>Tuyển Dụng</h4>
            <h1>GIÁM ĐỐC VẬN HÀNH</h1>
            <div class="flex-center">
                <span class="location">Hà Nội</span>
                <span class="department">Ban giám đốc</span>
            </div>
        </div>
        <div class="container">
            <div class="summary bg-sh flex">
                <div class="col-left">
                    <p><i class="icon icon-location"></i> Địa điểm: <span>Hà Nội</span></p>
                    <p><i class="icon icon-department"></i> Bộ phận: <span>Ban giám đốc</span></p>
                    <p><i class="icon icon-time"></i> Hạn nộp hồ sơ: <span>29/09/2021</span></p>
                </div>
                <div class="col-right">
                    <a href="" title="Ứng Tuyển" class="btn_recruitment btn_pr flex-center">Ứng Tuyển</a>
                    <span class="salary">10.000.000đ - 15.000.000đ</span>
                </div>
            </div>
            <div class="box-job flex">
                <div class="job-description bg-sh">
                    <h4>Mô tả công việc</h4>
                    <p>Lãnh đạo và quản lý các công việc hàng ngày của công ty dựa trên chỉ đạo của CEO, tầm nhìn, sứ mệnh cũng như giá trị cốt lõi của công ty;</p>
                    <p>Nhận báo cáo, đưa ra chỉ đạo và giải đáp thắc mắc trong công tác vận hành doanh nghiệp từ các Khối/BP trong Công ty như Khối Sản phẩm, Kinh doanh, Marketing, BO…;</p>
                    <p>Chịu trách nhiệm về việc đo lường cũng như tính hiệu quả của các các đầu mục công việc của các team (cả nội bộ lẫn các công việc với bên ngoài). Cung cấp cho CEO báo cáo về tình trạng hoạt động của doanh nghiệp một cách nhanh chóng, chính xác và đầy đủ;</p>
                    <p>Chịu trách nhiệm thúc đẩy doanh nghiệp đạt tăng trưởng về doanh số, lợi nhuận, dòng tiền và các mục tiêu khác trong kinh doanh;</p>
                    <p>Phát triển môi trường làm việc tích cực, cởi mở, có trách nhiệm cao phù hợp với giá trị cốt lõi của công ty;</p>
                    <p>Phối hợp với đội ngũ quản lý để cải tiến và thực hiện các kế hoạch xây dựng hạ tầng quản lý của doanh nghiệp – các hệ thống quản lý, quy trình, nhân sự v.v…;</p>
                    <p>Tham gia phỏng vấn, đánh giá hiệu quả làm việc, lương thưởng, kỷ luật của nhân viên;</p>
                    <p>Tham gia xây dựng, tuyên truyền và thực hiện các chiến lược phát triển của doanh nghiệp;</p>
                    <p>Lãnh đạo đội ngũ quản lý cấp trung; thu hút, tuyển dụng và giữ chân các nhân sự cấp trưởng phòng trở lên;</p>
                    <p>Thay mặt công ty làm việc với khách hàng, nhà đầu tư và các đối tác khi cần thiết;</p>
                    <p>Tham gia, chủ trì tiếp các đoàn khách, đoàn kiểm tra về PCCC, thanh tra liên ngành, các sở, ban ngành..;</p>
                    <p>Tuân thủ nghiêm túc theo các Nội quy, Quy định tại Công ty;</p>
                    <p>Thực hiện thêm các công việc khác do Ban Tổng Giám đốc giao cho.</p>
                    <br>
                    <h4>Yêu cầu</h4>
                    <p>Có bằng cử nhân kinh doanh/quản trị kinh doanh hoặc lĩnh vực liên quan;</p>
                    <p>Có tư duy và kinh nghiệm ít nhất 4 năm làm sản phẩm (phần mềm ứng dụng); hoặc có ít nhất 8 năm trong công việc quản lý hoạt động doanh nghiệp, đặc biệt là mảng Kinh doanh, Marketing;</p>
                    <p>Có kỹ năng trong việc phát triển tổ chức, quản lý nhân sự, lập ngân sách, phát triển tài nguyên và lập kế hoạch chiến lược;</p>
                    <p>Có kỹ năng sử dụng Tin học văn phòng như: Word, Excel...;</p>
                    <p>Có kỹ năng giao tiếp, ứng xử và lập quan hệ xuất sắc với khả năng làm việc nhóm cao;</p>
                    <p>Có phẩm chất cá nhân uy tín, đáng tin cậy và tính cam kết cao;</p>
                    <p>Linh hoạt, nhạy bén và đa nhiệm trong công việc cũng như xử lý tình huống tốt;</p>
                    <p>Ưu tiên những ứng viên đã có kinh nghiệm làm việc tại Startup;</p>
                    <p>Tiếng Anh giao tiếp trung cấp trở lên.</p>
                    <br>
                    <h4>Quyền lợi</h4>
                    <p>Thu nhập: Từ $2000 trở lên;</p>
                    <p>Trợ cấp 1.000.000 VNĐ/ tháng ăn trưa, xăng xe;</p>
                    <p>Có cơ hội được sở hữu ESOP;</p>
                    <p>Có cơ hội giao lưu, học tập với các đối tác lớn (Facebook, Google, Salesforce...);</p>
                    <p>Được sử dụng không giới hạn các sản phẩm của Monkey;</p>
                    <p>Được làm việc tại công ty đạt được nhiều giải thưởng danh giá như Giải nhất Sáng kiến toàn cầu tại Mỹ do tổng thống Mỹ Barack Obama trao tặng; Giải nhất Nhân tài đất Việt; Top 1 ứng dụng trẻ em được yêu thích trên App Store và Google Play….;</p>
                    <p>Được làm việc trong môi trường Startup tích cực, cởi mở, sẵn sàng lắng nghe, chia sẻ từ sếp đến đồng nghiệp;</p>
                    <p>Được tài trợ chi phí cho các khóa học để phát triển năng lực chuyên môn của bản thân;</p>
                    <p>Được xét tăng lương 2 lần/năm;</p>
                    <p>Thưởng năng suất, thưởng dự án, thưởng sáng kiến, thưởng tăng tốc, thưởng nóng, thưởng khi nghĩ ra cách thưởng mới; các dịp lễ, Tết đều có quà, thưởng;</p>
                    <p>Được trang bị thiết bị phục vụ cho công việc hoặc trợ cấp nếu sử dụng thiết bị cá nhân;</p>
                    <p>Số ngày nghỉ phép, nghỉ lễ, Tết, nghỉ việc cá nhân theo quy định của Luật lao động;</p>
                    <p>Chế độ thai sản hấp dẫn cho nam, nữ giới;</p>
                    <p>Được hưởng các chế độ về BHXH, BHYT, BHTN và các chế độ khác theo quy định của công ty;</p>
                    <p>Được khám sức khỏe định kỳ với gói khám chất lượng cao tại các Cơ sở y tế lớn;</p>
                    <p>Hưởng niềm vui không chỉ phúc lợi: Teabreak mỗi ngày, liên hoan hàng tuần, sinh nhật hàng tháng, du lịch hàng năm;</p>
                    <p>Và rất nhiều chính sách phúc lợi hấp dẫn khác sẽ được trao đổi tại buổi Phỏng vấn.</p>
                </div>
                <div class="job-sidebar">
                    <div class="job-apply bg-sh">
                        <h3>Ứng tuyển ngay</h3>
                        <form action="" method="">
                            <div class="form-group">
                                <label>Họ và tên</label>
                                <input type="text" name="name" placeholder="Nhập họ và tên" required>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" placeholder="Nhập email" required>
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input type="number" name="phone" placeholder="Nhập số điện thoại" required>
                            </div>
                            <div class="form-group">
                                <label>Bạn biết đến tin tuyển dụng này từ đâu?</label>
                                <textarea placeholder="Nhập nội dung"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Upload CV của bạn (nếu có)</label>
                                <div class="cv pr">
                                    <input id="upload_cv" type="file">
                                    <div class="cv__upload flex-center">
                                        <i class="icon icon-attach"></i>
                                        <span>Tải lên</span> (doc, docx, pdf, cv)
                                    </div>
                                    <div id="cv__holder" class="cv__holder"></div>
                                </div>
                            </div>
                            <button type="submit" class="btn_submit btn_pr flex-center">Gửi Đi</button>
                        </form>
                    </div>
                    <div class="contact bg-sh">
                        <p>Số điện thoại liên hệ tuyển dụng:</p>
                        <a href="tel:1900 63 60 52">1900 63 60 52</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-job">
        <div class="container">
            <h3>Xem Thêm Các Vị Trí Khác</h3>
            <div class="job_list">
                <div class="item">
                    <div class="bg-sh">
                        <h4>Chuyên viên thu hút nhân tài</h4>
                        <div class="flex-lc">
                            <span class="location">Hà Nội</span>
                            <span class="department">Ban giám đốc</span>
                        </div>
                        <p>10.000.000đ - 15.000.000đ</p>
                        <a href="" title="Ứng Tuyển" class="btn_apply btn_pr flex-center">Ứng Tuyển</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh">
                        <h4>Data Engineer</h4>
                        <div class="flex-lc">
                            <span class="location">Hà Nội</span>
                            <span class="department">Ban giám đốc</span>
                        </div>
                        <p>10.000.000đ - 15.000.000đ</p>
                        <a href="" title="Ứng Tuyển" class="btn_apply btn_pr flex-center">Ứng Tuyển</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh">
                        <h4>Frontend Developer</h4>
                        <div class="flex-lc">
                            <span class="location">Hà Nội</span>
                            <span class="department">Ban giám đốc</span>
                        </div>
                        <p>10.000.000đ - 15.000.000đ</p>
                        <a href="" title="Ứng Tuyển" class="btn_apply btn_pr flex-center">Ứng Tuyển</a>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh">
                        <h4>Data Engineer</h4>
                        <div class="flex-lc">
                            <span class="location">Hà Nội</span>
                            <span class="department">Ban giám đốc</span>
                        </div>
                        <p>10.000.000đ - 15.000.000đ</p>
                        <a href="" title="Ứng Tuyển" class="btn_apply btn_pr flex-center">Ứng Tuyển</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-benefit">
        <div class="container">
            <h2 class="title">Vì Sao Chọn Làm Việc Tại Monkey</h2>
            <div class="benefit-join flex">
                <div class="benefit">
                    <div class="benefit__title flex-center">
                        <div class="icon"><img src="./assets/img/icon-profit.svg" alt=""></div>
                        <span>PHÁT TRIỂN</span>
                    </div>
                    <div class="benefit__content">Monkey định hướng rõ ràng lộ trình phát triển cho từng nhân viên. Đặc biệt chính sách đào tạo nội bộ và đào tạo bên ngoài giúp nhân viên phát triển đồng đều, vững mạnh</div>
                </div>
                <div class="benefit">
                    <div class="benefit__title flex-center">
                        <div class="icon"><img src="./assets/img/icon-coins.svg" alt=""></div>
                        <span>PHÚC LỢI</span>
                    </div>
                    <div class="benefit__content">Không chỉ có lương, thưởng theo công việc, theo năng suất. Monkey còn có chính sách phúc lợi hấp dẫn, cạnh tranh đảm bảo sự hài lòng tuyệt đối</div>
                </div>
                <div class="benefit">
                    <div class="benefit__title flex-center">
                        <div class="icon"><img src="./assets/img/icon-medal.svg" alt=""></div>
                        <span>GHI NHẬN</span>
                    </div>
                    <div class="benefit__content">Monkey ghi nhận tất cả cố gắng của nhân viên nhằm đưa đến kết quả công bằng, minh bạch nhất cho: đánh giá tăng lương 6 tháng/ lần, cất nhắc vị trí mới,...</div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-face">
        <div class="container">
            <div class="header">
                <h2 class="title">Những Gương Mặt Xuất Sắc</h2>
            </div>
            <div class="face_list">
                <div class="item">
                    <div class="bg-sh">
                        <div class="item__img"><img src="./assets/img/partner1.jpg" class="ft" alt=""></div>
                        <div class="item__content">
                            <h4>MR. NGÔ TÚ</h4>
                            <div class="position">Trưởng ca CSKH</div>
                            <p>Không chỉ quản lý tốt nhân sự của mình, Tú còn làm hài lòng khách hàng bởi sự chân thành và tâm huyết. Tú luôn có những đề xuất sáng tạo nhằm phục vụ khách hàng của mình tốt nhất.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh">
                        <div class="item__img"><img src="./assets/img/partner2.jpg" class="ft" alt=""></div>
                        <div class="item__content">
                            <h4>MR. NGÔ TÚ</h4>
                            <div class="position">Trưởng ca CSKH</div>
                            <p>Không chỉ quản lý tốt nhân sự của mình, Tú còn làm hài lòng khách hàng bởi sự chân thành và tâm huyết. Tú luôn có những đề xuất sáng tạo nhằm phục vụ khách hàng của mình tốt nhất.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh">
                        <div class="item__img"><img src="./assets/img/partner3.jpg" class="ft" alt=""></div>
                        <div class="item__content">
                            <h4>MR. NGÔ TÚ</h4>
                            <div class="position">Trưởng ca CSKH</div>
                            <p>Không chỉ quản lý tốt nhân sự của mình, Tú còn làm hài lòng khách hàng bởi sự chân thành và tâm huyết. Tú luôn có những đề xuất sáng tạo nhằm phục vụ khách hàng của mình tốt nhất.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh">
                        <div class="item__img"><img src="./assets/img/partner2.jpg" class="ft" alt=""></div>
                        <div class="item__content">
                            <h4>MR. NGÔ TÚ</h4>
                            <div class="position">Trưởng ca CSKH</div>
                            <p>Không chỉ quản lý tốt nhân sự của mình, Tú còn làm hài lòng khách hàng bởi sự chân thành và tâm huyết. Tú luôn có những đề xuất sáng tạo nhằm phục vụ khách hàng của mình tốt nhất.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-image">
        <div class="container">
            <div class="header">
                <h2 class="title">Hình Ảnh Về Công Ty</h2>
            </div>
            <div class="video bg-sh" data-toggle="modal" data-target="#modal-video" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1">
                <div class="video__thumb pr"><img data-src="./assets/img/thumb-video.jpg" class="lazyload" alt=""></div>
                <div class="video__play pr"><img src="./assets/img/play1.svg" alt=""></div>
            </div>
            <div class="image_list">
                <div class="item">
                    <img src="./assets/img/img-cp1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="./assets/img/img-cp2.jpg" alt="">
                </div>
                <div class="item">
                    <img src="./assets/img/img-cp3.jpg" alt="">
                </div>
                <div class="item">
                    <img src="./assets/img/img-cp1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-email">
        <div class="container flex-lc">
            <div class="col-left">
                <p>Bạn chưa tìm được vị trí phù hợp? Để lại thông tin để Monkey gửi đến bạn những công việc mới trong tương lai</p>
                <form action="" method="">
                    <div class="form-group">
                        <label>Nhập email của bạn để nhận thông tin công việc mới</label>
                        <input type="email" name="" placeholder="Nhập email">
                    </div>
                </form>
                <div class="job-filter pr">
                    <div class="job-list pr">
                        <div class="placeholder">Vui lòng chọn ngành nghề</div>
                        <ul class="flex" style="display: none"></ul>
                        <button type="button" class="dropdown"></button>
                    </div>
                    <div class="job-dropdown">
                        <label class="flex-lc pr">
                            <input id="p1" data-id="p1" type="checkbox" value="Giám đốc điều hành" name="position">
                            <span class="checked"></span>
                            Giám đốc điều hành
                        </label>
                        <label class="flex-lc pr">
                            <input id="p2" data-id="p2" type="checkbox" value="Sale Marketing" name="position">
                            <span class="checked"></span>
                            Sale Marketing
                        </label>
                        <label class="flex-lc pr">
                            <input id="p3" data-id="p3" type="checkbox" value="Mobile developer" name="position">
                            <span class="checked"></span>
                            Mobile developer
                        </label>
                    </div>
                </div>
                <div class="job-filter pr">
                    <div class="job-list pr">
                        <div class="placeholder">Vui lòng chọn địa điểm</div>
                        <ul class="flex" style="display: none"></ul>
                        <button type="button" class="dropdown"></button>
                    </div>
                    <div class="job-dropdown">
                        <label class="flex-lc pr">
                            <input id="l1" data-id="l1" type="checkbox" value="Tất cả địa điểm" name="location">
                            <span class="checked"></span>
                            Tất cả địa điểm
                        </label>
                        <label class="flex-lc pr">
                            <input id="l2" data-id="l2" type="checkbox" value="Hồ Chí Minh" name="location">
                            <span class="checked"></span>
                            Hồ Chí Minh
                        </label>
                        <label class="flex-lc pr">
                            <input id="l3" data-id="l3" type="checkbox" value="Hà Nội" name="location">
                            <span class="checked"></span>
                            Hà Nội
                        </label>
                        <label class="flex-lc pr">
                            <input id="l4" data-id="l4" type="checkbox" value="Đà Nẵng" name="location">
                            <span class="checked"></span>
                            Đà Nẵng
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn_submit btn_pr flex-center">Đăng Ký</button>
            </div>
            <div class="col-right">
                <div class="box-img"><img src="./assets/img/monkey.png" alt=""></div>
            </div>
        </div>
    </div>
</main>