<main>
    <div class="monkey-rule">
        <div class="container">
            <div class="rule flex">
                <ul class="tab nav bg-sh">
                    <li><a href="#policy" class="active" data-toggle="tab">Chính sách bảo mật</a></li>
                    <li><a href="#rule" data-toggle="tab">Điều khoản sử dụng</a></li>
                    <li><a href="#contact" data-toggle="tab">Liên hệ</a></li>
                </ul>
                <div class="tab-content bg-sh">
                    <div id="policy" class="tab-pane fade show active">
                        <article>
                            <h4>Chính sách bảo mật</h4>
                            <p>Early Start xây dựng Chính sách bảo mật này nhằm giúp khách hàng hiểu về những nguyên tắc khi tiếp cận, sử dụng, và/hoặc xử lý dữ liệu cá nhân mà khách hàng đã cung cấp cho chúng tôi tại website monkey.edu.vn và/hoặc trong quá trình đăng ký, sử dụng sản phẩm.</p>
                            <p><img data-src="./assets/img/img-rule.jpg" class="lazyload" alt=""></p>
                            <h4>1. Giới thiệu chung</h4>
                            <p>
                                Công ty cổ phần Early Start là đơn vị cung cấp, chủ sở hữu của các ứng dụng giáo dục cho trẻ: Monkey Junior, Monkey Stories, Monkey Math, VMonkey (sau đây gọi là “chúng tôi”). Chúng tôi nhận biết được tầm quan trọng của dữ liệu cá nhân mà khách hàng đã tin tưởng cung cấp cho chúng tôi và tin rằng chúng tôi có trách nhiệm quản lý, bảo vệ và xử lý dữ liệu cá nhân của khách hàng một cách thích hợp theo các quy định về bảo vệ bí mật thông tin cá nhân của pháp luật Việt Nam (“Luật riêng tư”). Chúng tôi xây dựng Chính sách bảo mật này nhằm giúp khách hàng hiểu về những nguyên tắc khi tiếp cận, sử dụng, và/hoặc xử lý dữ liệu cá nhân mà khách hàng đã cung cấp cho chúng tôi tại website monkey.edu.vn và/hoặc trong quá trình đăng ký, sử dụng sản phẩm.
                                <br>
                                Bằng việc trao cho chúng tôi thông tin cá nhân của bạn, bạn đồng ý thông tin cá nhân của bạn sẽ được thu thập, sử dụng như được nêu trong Chính sách này. Nếu bạn không đồng ý với Chính sách này, bạn vui lòng không cung cấp cho chúng tôi bất cứ thông tin cá nhân nào và/hoặc sử dụng các quyền như được nêu tại mục 6 của chính sách này.
                                <br>
                                Chúng tôi khuyến khích khách hàng thường xuyên xem lại Chính sách bảo mật thông tin cá nhân này để có được những cập nhật mới nhất đảm bảo khách hàng biết và thực hiện quyền quản lý thông tin cá nhân của khách hàng.
                            </p>
                            <h4>2. Những dữ liệu cá nhân nào được thu thập?</h4>
                            <p>
                                Dữ liệu cá nhân cung cấp trên website monkey.edu.vn và khi sử dụng các ứng dụng mà chúng tôi có thể thu thập bao gồm, nhưng không giới hạn: <br>
                                - Họ và tên <br>
                                - Email <br>
                                - Số điện thoại
                                - Địa chỉ <br>
                                - Ngoài ra còn có thể là Facebook cá nhân <br>
                                Khách hàng sẽ tự chịu trách nhiệm về tính chính xác và trung thực của các thông tin khi cung cấp cho chúng tôi. Ngoài ra, khách hàng có trách nhiệm thông báo kịp thời cho chúng tôi về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật để có biện pháp giải quyết phù hợp. <br>
                                Khi khách hàng đăng ký khóa học, khách hàng sẽ được thêm vào danh sách nhận tin tức, đề xuất đặc biệt hoặc ưu đãi không thường xuyên từ chúng tôi.
                            </p>
                            <h4>3. Những dữ liệu cá nhân được thu thập khi nào?</h4>
                            <p>
                                Chúng tôi sẽ/có thể thu thập dữ liệu cá nhân về khách hàng khi: <br>
                                - Đăng nhập để học thử miễn phí hoặc sử dụng các nội dung đã mua trong ứng dụng bằng một trong các thông tin SĐT, Gmail hoặc Facebook; <br>
                                - Đăng ký nhận tư vấn về các sản phẩm của công ty; <br>
                                - Mua và thanh toán các sản phẩm của công ty.
                            </p>
                            <h4>4. Mục đích và phạm vi sử dụng thông tin</h4>
                            <p>
                                Chúng tôi có thể thu thập, sử dụng, cung cấp và/hoặc xử lý dữ liệu cá nhân của khách hàng vì một hoặc nhiều mục đích sau đây: <br>
                                - Liên hệ xác nhận khi khách hàng đăng ký sử dụng dịch vụ nhằm đảm bảo quyền lợi cho cho người tiêu dùng; <br>
                                - Tạo Tài khoản người dùng (Account) đăng nhập vào các chương trình của chúng tôi (để học thử hoặc sử dụng các nội dung đã mua); <br>
                                - Quản lý việc đăng nhập và sử dụng chương trình của chúng tôi trên các thiết bị khác nhau; <br>
                                - Quản lý và đồng bộ tiến trình học trên mỗi ứng dụng theo tài khoản người dùng (Account); <br>
                                - Tư vấn cho khách hàng qua điện thoại miễn phí về dịch vụ liên quan tới chương trình học ngôn ngữ - áp dụng phương pháp giáo dục sớm cho trẻ em; <br>
                                - Giải đáp thắc mắc khách hàng; <br>
                                - Gửi các thông báo về các hoạt động trao đổi thông tin giữa khách hàng và chúng tôi; <br>
                                - Thực hiện các bản khảo sát khách hàng; <br>
                                - Thực hiện các hoạt động quảng bá liên quan đến các khóa học; <br>
                                - Ngăn ngừa các hoạt động phá hủy thông tin của khách hàng hoặc các hoạt động giả mạo khách hàng; <br>
                                - Liên lạc và giải quyết với khách hàng trong những trường hợp đặc biệt; <br>
                                - Trong trường hợp có yêu cầu của pháp luật: chúng tôi có trách nhiệm hợp tác cung cấp thông tin cá nhân khách hàng khi có yêu cầu từ cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng. Ngoài ra, không ai có quyền xâm phạm vào thông tin cá nhân của khách hàng.
                            </p>
                            <h4>5. Thời gian lưu trữ thông tin</h4>
                            <p>
                                Dữ liệu cá nhân của khách hàng sẽ được lưu trữ cho đến khi chúng tôi nhận được yêu cầu hủy bỏ, xóa. Còn lại trong mọi trường hợp thông tin cá nhân của khách hàng sẽ được bảo mật trên máy chủ của chúng tôi. <br>
                                Chúng tôi sẽ lưu giữ và sử dụng thông tin của khách hàng khi cần tuân theo nghĩa vụ pháp lý, giải quyết tranh chấp và thực thi các thoả thuận của chúng tôi.
                            </p>
                            <h4>6. Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình</h4>
                            <p>
                                - Khách hàng có quyền yêu cầu hủy bỏ, xóa thông tin cá nhân của mình bằng cách yêu cầu ban quản trị website monkey.edu.vn thực hiện việc này <br>
                                - Khách hàng có quyền gửi khiếu nại về việc lộ thông tin cá nhân cho bên thứ 3 đến Ban quản trị của website monkey.edu.vn. Khi tiếp nhận những phản hồi này, chúng tôi sẽ xác nhận lại thông tin, phải có trách nhiệm trả lời lý do và thông báo cho khách hàng cách bảo mật lại thông tin.
                            </p>
                            <h4>7. Cam kết bảo mật thông tin cá nhân khách hàng</h4>
                            <p>
                                - Thông tin cá nhân của khách hàng đã được thu thập được chúng tôi cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân chúng tôi đã ban hành. Việc thu thập và sử dụng thông tin của mỗi khách hàng chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác. <br>
                                - Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của khách hàng khi không có sự cho phép đồng ý từ khách hàng hoặc có yêu cầu của cơ quan chức năng có thẩm quyền để phục vụ công tác điều tra, xét xử… <br>
                                - Nếu chúng tôi tham gia vào sát nhập hoặc được mua lại một phần hay toàn bộ tài sản, khách hàng sẽ được thông báo qua email hoặc qua tin tức chính thức trên trang web của monkey.edu.vn về bất kì sự thay đổi quyền sở hữu hoặc sử dụng thông tin cá nhân của khách hàng, cũng như bất kỳ quyền của khách hàng nào liên quan đến thông tin cá nhân của khách hàng, tới bất kì bên thứ 3 nào với sự đồng ý của khách hàng.
                                <br>
                                - Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân khách hàng, website monkey.edu.vn sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho khách hàng được biết. <br>
                                - Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của khách hàng bao gồm thông tin hóa đơn kế toán chứng từ số hóa tại khu vực dữ liệu trung tâm an toàn cấp 1 của monkey.edu.vn. <br>
                                - Ban quản lý website monkey.edu.vn yêu cầu các cá nhân khi đăng ký/mua hàng là khách hàng, phải cung cấp đầy đủ thông tin cá nhân có liên quan gồm: Họ và tên, địa chỉ, email, điện thoại và chịu trách nhiệm về tính pháp lý của những thông tin trên. Ban quản lý website monkey.edu.vn không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của Khách hàng đó nếu xét thấy tất cả thông tin cá nhân của khách hàng đó cung cấp khi đăng ký ban đầu là không chính xác.
                            </p>
                            <h4>8. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</h4>
                            <p>
                                CÔNG TY CỔ PHẦN EARLY START <br>
                                - Trụ sở chính: Tầng 2, Tòa nhà FS, TTTM TNR Gold Season, số 47 Nguyễn Tuân, phường Thanh Xuân Trung, quận Thanh Xuân, Hà Nội. <br>
                                - Tel: 1900 6360 52 <br>
                                - Email: monkeyxinchao@monkey.edu.vn <br>
                                Nếu bạn có bất kỳ thắc mắc hoặc khiếu nại nào về các phương pháp bảo vệ quyền riêng tư của chúng tôi vui lòng liên hệ với chúng tôi theo địa chỉ trên.
                            </p>
                        </article>
                    </div>
                    <div id="rule" class="tab-pane fade">
                        <article>
                            <h4>Điều khoản sử dụng</h4>
                            <p>Chúng tôi mong bạn vui lòng dành thời gian đọc và tìm hiểu những điều khoản về thỏa thuận pháp lý giữa bạn và Công ty Cổ phần Early Start (gọi tắt là Early Start) như dưới đây.</p>
                            <p><img data-src="./assets/img/img-rule.jpg" class="lazyload" alt=""></p>
                            <p>
                                Chào mừng bạn ghé thăm website www.monkey.edu.vn chính thức của chúng tôi.
                                Chúng tôi mong bạn vui lòng dành thời gian đọc và tìm hiểu những điều khoản về thỏa thuận pháp lý giữa bạn và Công ty Cổ phần Early Start (gọi tắt là Early Start) như dưới đây.
                                <br>
                                Thông qua việc truy cập, duyệt nội dung, hoặc sử dụng bất kỳ nội dung, hình ảnh nào của trang thông tin điện tử này, bạn (người sử dụng) công nhận rằng bạn đã đọc, hiểu và nhất trí với việc tuân thủ các quy định của những điều khoản này. Nếu bạn không nhất trí với những điều khoản này, xin vui lòng không sử dụng trang thông tin điện tử này.
                                <br>
                                Early Start chịu trách nhiệm đảm bảo tính hợp pháp của việc cung cấp nội dung trên website đến người sử dụng. Mọi thông tin, hình ảnh và toàn bộ nội dung được đăng tải trên website tuân thủ các quy định của pháp luật, và phù hợp với thuần phong mỹ tục Việt Nam.
                            </p>
                            <h4>1. Bản quyền và thương hiệu</h4>
                            <p>
                                Tuyên bố các quyền Sở hữu trí tuệ của Early Start đối với các đối tượng thể hiện trên website www.monkey.edu.vn.
                                Trang web này và tất cả nội dung của website www.monkey.edu.vn, bao gồm nhưng không giới hạn các văn bản, thiết kế, đồ họa, giao diện, hình ảnh, mã code đều thuộc bản quyền của Early Start hoặc bên thứ ba cấp phép cho Early Start. Bản quyền của  www.monkey.edu được thể hiện trên website bằng dòng chữ ©2017 Bản quyền của Công ty cổ phần Early Start.
                                <br>
                                Bất kỳ nội dung nào thuộc website này bao gồm nhãn hiệu, tên thương mại, mẫu logo công ty hoặc sản phẩm, kiểu dáng sản phẩm… đều thuộc quyền sở hữu của Early Start và được bảo hộ theo quy định của Luật Sở hữu trí tuệ Việt Nam và các văn bản liên quan.
                                <br>
                                Mọi hành vi sao chép, trích dẫn, sửa đổi, phân phối, xuất bản, lưu thông… vì mục đích thương mại và (hoặc) phi thương mại dưới mọi hình thức mà không được sự chấp thuận trước bằng văn bản của Early Start là xâm phạm quyền của Early Start. Early Start có quyền yêu cầu người sử dụng chấm dứt việc sử dụng và bồi thường thiệt hại (nếu có).
                            </p>
                            <h4>2. Quyền và trách nhiệm của Early Start</h4>
                            <p>
                                Early Start có quyền thay đổi và/hoặc chấm dứt các nội dung, tính năng của một phần hay toàn bộ website www.monkey.edu.vn mà không cần thông báo trước với người sử dụng.<br>
                                Early Start có quyền thực hiện các biện pháp an ninh để bảo vệ và chống các truy cập trái phép hoặc sửa đổi trái phép, tiết lộ hoặc phá hủy thông tin.<br>
                                Early Start có quyền thực hiện các biện pháp an ninh để bảo vệ và chống lại các truy cập trái phép hoặc sửa đổi trái phép, tiết lộ hoặc phá hủy thông tin trên website www.monkey.edu.vn.<br>
                                Khi sử dụng website www.monkey.edu.vn, thông tin sẽ được truyền qua một phương tiện/thiết bị nằm ngoài sự kiểm soát của Early Start. Theo đó, Early Start không chịu trách nhiệm cho hoặc liên quan đến bất kỳ sự chậm trễ, thất bại, bị gián đoạn của bất kỳ dữ liệu hoặc các thông tin khác được truyền trong kết nối với việc sử dụng của website.<br>
                                Thông tin cá nhân như địa chỉ, email, số điện thoại của người sử dụng website www.monkey.edu.vn (do người sử dụng tự nguyện cung cấp bằng các hình thức khác nhau trên website) có thể được sử dụng nội bộ cho mục đích nâng cấp các sản phẩm, dịch vụ của Early Start.<br>
                                Early Start cam kết không chủ động tiết lộ bất kỳ thông tin nào của người sử dụng cho bên thứ ba, ngoại trừ trường hợp có yêu cầu bằng văn bản của các đơn vị điều tra theo đúng luật pháp hiện hành. Khi đó, Early Start sẽ thông báo tới người sử dụng bằng văn bản. Tuy nhiên, mặc dù có các công nghệ bảo mật và hệ thống cũng được trang bị rất nhiều tính năng bảo mật, nhưng không một dữ liệu nào được truyền trên đường truyền internet mà có thể được bảo mật 100%. Do vậy, Early Start không thể đưa ra một cam kết chắc chắn rằng thông tin bạn cung cấp cho chúng tôi sẽ được bảo mật một cách tuyệt đối, và cũng sẽ không chịu trách nhiệm trong trường hợp có sự truy cập trái phép thông tin cá nhân của người sử dụng. Tất cả các thông tin, tài liệu không mang tính chất riêng tư được người sử dụng đưa lên website đều không được xem là thông tin mật, Early Start được phép toàn quyền sử dụng hay chuyển tải cho bất kỳ mục đích nào.<br>
                                Early Start được phép sử dụng bất kỳ ‎ý tưởng hay khái niệm nào mà bạn đã đưa lên website www.monkey.edu.vn cho tất cả các mục đích không giới hạn, bao gồm cả việc phát triển, sản xuất hay tiếp thị sản phẩm. Early Start không có trách nhiệm phải bồi thường hay thưởng cho người cung cấp.<br>
                                Bạn phải ‎ý thức và bảo đảm những thông tin, tài liệu mà bạn gửi phải nằm trong quyền hạn sử dụng của bạn; điều đó có nghĩa Early Start sẽ không vi phạm bất cứ quyền lợi nào của bên thứ ba.<br>
                                Early Start có quyền từ chối một số tài liệu bạn gửi mà không bắt buộc phản hồi lý do.
                            </p>
                            <h4>3. Quyền và trách nhiệm của người sử dụng</h4>
                            <p>
                                Early Start cho phép người sử dụng xem, chiết xuất thông tin trên website (in, tải, chuyển tiếp…) hoặc chia sẻ cho người khác nhưng chỉ cho mục đích sử dụng cá nhân và phi thương mại với điều kiện phải trích dẫn thông báo bản quyền sau đây: ©2017 Bản quyền của Công ty cổ phần Early Start.<br>
                                Bạn đảm bảo tuân theo pháp luật và các quy định liên quan đến việc sử dụng website www.monkey.edu.vn của Early Start; Không can thiệp, gây ảnh hưởng đến việc sử dụng website của những người sử dụng khác; Không can thiệp vào hoạt động và quản lý website của Early Start.<br>
                                Bạn nhận thức rõ và chấp nhận rằng Early Start và/hoặc các công ty thành viên/đơn vị trực thuộc /nhân viên Early Start không chịu trách nhiệm đối với bất kỳ tổn thất, thiệt hại, chi phí phát sinh từ bất kỳ quyết định nào của bạn khi sử dụng bất kỳ thông tin nào trên website với bất kỳ nguyên nhân gì.<br>
                                Nếu bạn không bằng lòng với bất kỳ thông tin nào trên Website hoặc với bất kỳ điều khoản và điều kiện sử dụng thông tin trên Website này thì phương thức duy nhất bạn nên thực hiện là chấm dứt truy cập/sử dụng thông tin trên website.
                            </p>
                            <h4>4. Quy định chung</h4>
                            <p>
                                Điều khoản sử dụng được điều chỉnh bởi pháp luật Việt Nam.<br>
                                Một điều khoản sử dụng bị vô hiệu theo quyết định của tòa án có thẩm quyền sẽ không ảnh hưởng đến tính hiệu lực của các điều khoản còn lại.<br>
                                Early Start luôn hoan nghênh những ý kiến/góp ý của bạn về nội dung website. Nếu có một phần nào đó của website này mà bạn cho rằng đã có dấu hiệu vi phạm bản quyền của bên thứ ba, vui lòng gửi thông tin tới monkeyxinchao@monkey.edu.vn.<br>
                                Thông báo này và tất cả các điều khoản sử dụng tạo thành toàn bộ thỏa thuận giữa Early Start và bạn liên quan đến việc sử dụng các thông tin trên website. Early Start có thể điều chỉnh nội dung thông báo này bất cứ lúc nào bằng cách cập nhật lên website www.monkey.edu.vn. Bạn nên thường xuyên truy cập website để theo dõi các quy định ràng buộc này khi sử dụng.
                            </p>
                            <p style="text-align: right; font-weight: 500;">BAN QUẢN TRỊ</p>
                        </article>
                    </div>
                    <div id="contact" class="tab-pane fade">
                        <article>
                            <h4>Liên hệ</h4>
                            <p>Phụ huynh và đối tác liên hệ với Monkey theo hai cách sau.</p>
                            <p><img data-src="./assets/img/img-rule.jpg" class="lazyload" alt=""></p>
                            <h4>1. Tư vấn miễn phí về sản phẩm, dịch vụ:</h4>
                            <p>- Hotline: 1900 636052 (từ 7h00 đến 22h00 tất cả các ngày trong tuần)</p>

                            <p>- Mail: monkeyxinchao@monkey.edu.vn</p>

                            <p>- Zalo: <a href="https://zalo.me/0865517988">https://zalo.me/0865517988</a></p>

                            <p>- Group "Đồng hành cùng con học Monkey" - Cộng đồng hơn 100.000 ba mẹ thông thái: <a href="">THAM GIA GROUP TẠI ĐÂY</a></p>

                            <p>- Trang "Hỗ trợ khách hàng" - Trang thông tin giải đáp mọi thắc mắc thường gặp của khách hàng:
                                <a href="https://www.monkey.edu.vn/ho-tro-khach-hang.html">https://www.monkey.edu.vn/ho-tro-khach-hang.html</a></p>
                            <h4>2. Liên hệ hợp tác kinh doanh:</h4>
                            <p>Đối tác muốn hợp tác kinh doanh với Monkey,vui lòng liên hệ theo các thông tin sau:</p>


                            <p>- Hotline (zalo): 0985 505405 (giờ hành chính từ 8h00 đến 17h30 từ thứ 2 đến thứ 6)</p>

                            <p>- Email: <a href="mailto:daily@monkey.edu.vn">daily@monkey.edu.vn</a></p>

                            <p>- Website cung cấp các thông tin về chương trình hợp tác: <br> <a href="https://www.monkeyvietnam.online/daily">https://www.monkeyvietnam.online/daily</a></p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>