<main>
    <div class="monkey-page-search">
        <div class="container">
            <div class="text">Tìm thấy 55 kết quả cho từ khoá “Monkey”</div>
            <div class="search-result">
                <h4>Ba mẹ cần biết (3)</h4>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty5 bg-sh">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg1.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                                <p class="line line3">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                                <div class="flex">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty5 bg-sh">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg2.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                                <p class="line line3">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                                <div class="flex">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty5 bg-sh">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg3.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                                <p class="line line3">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                                <div class="flex">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="search-result">
                <h4>Tin tức (6)</h4>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty5 bg-sh">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg1.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                                <p class="line line3">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                                <div class="flex">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty5 bg-sh">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg2.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                                <p class="line line3">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                                <div class="flex">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty5 bg-sh">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg3.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                                <p class="line line3">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                                <div class="flex">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty5 bg-sh">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg1.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                                <p class="line line3">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                                <div class="flex">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty5 bg-sh">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg2.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                                <p class="line line3">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                                <div class="flex">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article class="post post-ty5 bg-sh">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-tg3.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="" title="" class="line line2">2 app quay video lồng tiếng đơn giản cho bé bằng điện thoại</a></h3>
                                <p class="line line3">Bà Elaine Schneider - chuyên gia ngôn ngữ trẻ em nổi tiếng tại Mỹ cho biết, trẻ học tiếng tiếng Anh càng sớm thì khả năng...</p>
                                <div class="flex">
                                    <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                    <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="search-result">
                <h4>Học liệu cho bé (4)</h4>
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <article class="post post-course bg-sh">
                            <span class="age tf2">3-6 tuổi</span>
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                            <div class="post__content">
                                <div class="lg flex"><i class="icon icon-lg"></i>Tiếng Anh</div>
                                <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                            </div>
                            <a href="" class="btn_viewmore flex-center" tabindex="0">Xem thêm <i class="fas fa-chevron-right"></i></a>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <article class="post post-course bg-sh">
                            <span class="age tf2">3-6 tuổi</span>
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                            <div class="post__content">
                                <div class="lg flex"><i class="icon icon-lg"></i>Tiếng Anh</div>
                                <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                            </div>
                            <a href="" class="btn_viewmore flex-center" tabindex="0">Xem thêm <i class="fas fa-chevron-right"></i></a>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <article class="post post-course bg-sh">
                            <span class="age tf2">3-6 tuổi</span>
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                            <div class="post__content">
                                <div class="lg flex"><i class="icon icon-lg"></i>Tiếng Anh</div>
                                <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                            </div>
                            <a href="" class="btn_viewmore flex-center" tabindex="0">Xem thêm <i class="fas fa-chevron-right"></i></a>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <article class="post post-course bg-sh">
                            <span class="age tf2">3-6 tuổi</span>
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                            <div class="post__content">
                                <div class="lg flex"><i class="icon icon-lg"></i>Tiếng Anh</div>
                                <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                            </div>
                            <a href="" class="btn_viewmore flex-center" tabindex="0">Xem thêm <i class="fas fa-chevron-right"></i></a>
                        </article>
                    </div>
                </div>
            </div>
            <div class="search-result">
                <h4>Trắc nghiệm cho ba mẹ (3)</h4>
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <article class="post post-course bg-sh">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="" class="tf1">Trắc nghiệm tiềm năng tiếng Anh của bé</a></h3>
                                <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <article class="post post-course bg-sh">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="" class="tf1">Trắc nghiệm tiềm năng tiếng Anh của bé</a></h3>
                                <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <article class="post post-course bg-sh">
                            <a href="" title="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                            <div class="post__content">
                                <h3><a href="" class="tf1">Trắc nghiệm tiềm năng tiếng Anh của bé</a></h3>
                                <p>Cùng con học tiếng Anh với Học liệu mới "Maze kid game"</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>