<div class="monkey-hs4 pr">
    <div class="container">
        <div class="header">
            <h2 class="title">Giải Thưởng Của Monkey</h2>
            <p>Monkey tự hào nhận được các giải thưởng danh giá từ Chính phủ và các tổ chức uy tín.</p>
        </div>
        <div class="reward flex">
            <div class="slider slider-for">
                <div class="item">
                    <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                    <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                </div>
                <div class="item">
                    <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                    <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                </div>
                <div class="item active">
                    <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                    <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                </div>
                <div class="item">
                    <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                    <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                </div>
                <div class="item">
                    <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                    <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                </div>
                <div class="item">
                    <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                    <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                </div>
                <div class="item">
                    <div class="item__img"><img data-src="./assets/img/bangkhen.png" class="lazyload" alt=""></div>
                    <div class="item__text">Ông Đào Xuân Hoàng nhận bằng khen của Thủ Tướng Chính Phủ</div>
                </div>
            </div>
            <div class="slider slider-nav">
                <div class="slider-list">
                    <div class="slider-track">
                        <div class="item">
                            <h3>Giải nhất Sáng kiến toàn cầu tại Mỹ</h3>
                            <p>Giải nhất Sáng kiến toàn cầu tại Mỹ</p>
                        </div>
                        <div class="item">
                            <h3>Giải nhất Nhân Tài Đất Việt</h3>
                            <p>Giải nhất Sáng kiến toàn cầu tại Mỹ Giải nhất Sáng kiến toàn cầu tại Mỹ</p>
                        </div>
                        <div class="item active">
                            <h3>Bằng khen của Thủ tướng Chính phủ</h3>
                            <p>Xây dựng một ứng dụng giúp ích cho hàng triệu các trẻ em nhỏ Việt Nam và trên thế giới, Monkey tự hào nhận được Bằng khen của Thủ Tướng Chính Phủ... <a href="" title="Xem thêm" class="btn_viewmore">Xem thêm</a></p>
                        </div>
                        <div class="item">
                            <h3>Giải nhất cuộc thi AEA tại Nhật Bản</h3>
                            <p>Giải nhất Nhân Tài Đất Việt</p>
                        </div>
                        <div class="item">
                            <h3>Giải Vàng tại ASEAN ICT Awards</h3>
                            <p>Giải nhất cuộc thi AEA tại Nhật Bản</p>
                        </div>
                        <div class="item">
                            <h3>Giải Vàng tại ASEAN ICT Awards2</h3>
                            <p>Giải Vàng tại ASEAN ICT Awards</p>
                        </div>
                        <div class="item">
                            <h3>Giải Vàng tại ASEAN ICT Awards3</h3>
                            <p>Giải Vàng tại ASEAN ICT Awards</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>