<main>
    <div class="monkey-story monkey-story--video">
        <div class="container">
            <div class="row flex-lc">
                <div class="col-lg-6 col-md-6">
                    <div class="text">
                        <h1 class="title">Monkey - Ứng Dụng Từ Trái Tim Đến Trái Tim</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="video pr" data-toggle="modal" data-target="#modal-video" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1">
                        <div class="video__thumb"><img data-src="./assets/img/img-story-video.png" class="lazyload" alt=""></div>
                        <div class="video__play"><img src="./assets/img/play.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-story monkey-story--1">
        <div class="container">
            <div class="quote pr">
                <div class="quote__img"><img data-src="./assets/img/img-story1.png" class="lazyload" alt=""></div>
                <div class="quote__content tf2">
                    Lần đầu làm bố là một trải nghiệm đặc biệt. Nó có thể khiến ta lúng túng. Nó cũng có thể thúc đẩy ta phải học hỏi theo một tốc độ nhanh hơn để thích nghi với sự thay đổi to lớn mỗi ngày của “thiên thần” bé bỏng. Trải nghiệm lần đầu làm bố của anh Đào Xuân Hoàng có cả hai điều đó
                </div>
            </div>
            <div class="text tf1">
                <h2 class="title">Từ tình yêu của ông bố trẻ dành cho cô con gái đầu lòng</h2>
                <p>Năm 2011, anh Hoàng chào đón cô con gái đầu lòng: Khánh Linh. Với vai trò mới, ông bố trẻ hết sức bỡ ngỡ và lạ lẫm. Tình yêu với cô con gái nhỏ thúc đẩy anh tìm đọc, nghiên cứu và trăn trở mỗi ngày về các phương pháp giáo dục con trẻ. Trong quá trình đó, anh có cơ hội tiếp xúc với những tài liệu khoa học, gặp gỡ các nhà giáo dục và các bậc cha mẹ thông thái. Nhận thấy giá trị tuyệt vời của giáo dục sớm đối với trẻ nhỏ, anh kiên trì áp dụng những gì tìm hiểu được cho con.</p>
                <p>Những cố gắng của anh đã có “quả ngọt” đầu tiên khi bé Khánh Linh nhận biết được mặt chữ từ khi 15 tháng tuổi, đến 2 tuổi có thể đọc được câu chuyện đơn giản bằng cả tiếng Anh và tiếng Việt, đến 3 tuổi có thể giao tiếp hoàn toàn bằng tiếng Anh với bố và rất tự tin khi nói chuyện với các bạn nước ngoài. Khánh Linh cũng có niềm yêu thích đặc biệt với sách, cô bé có thể dành cả ngày để đọc sách. </p>
            </div>
        </div>
    </div>
    <div class="monkey-story monkey-story--2 pr">
        <div class="container">
            <div class="row flex-lc">
                <div class="col-lg-6 col-md-6">
                    <div class="text tf1">
                        <p>Để có được thành quả đó, anh đã có nhiều đêm không ngủ lên khung chương trình, tìm kiếm, in, ép tài liệu… để dạy con. Hơn ai hết, anh Hoàng thấu hiểu những khó khăn mà bố mẹ gặp phải khi dạy trẻ, đặc biệt là trẻ dưới 10 tuổi. Khó khăn ấy sẽ nhân lên gấp bội phần nếu ba mẹ không có nền tảng tiếng Anh tốt hay quỹ thời gian và tài chính hạn hẹp.</p>
                        <p>Monkey với “người anh cả” - Monkey Junior ra đời để giúp bố mẹ giải quyết những khó khăn đó.</p>
                    </div>
                    <a href="" title="" class="btn_video btn_pr flex-center tf1 pc-s">Video bé 4 tuổi giao tiếp bằng Tiếng anh trôi chảy <i class="icon icon-play"></i></a>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="img-wrapper">
                        <img data-src="./assets/img/img-story2.png" class="lazyload" alt="">
                    </div>
                    <a href="" title="" class="btn_video btn_pr flex-center tf1 m-sf">Video bé 4 tuổi giao tiếp bằng Tiếng anh trôi chảy <i class="icon icon-play"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-story monkey-story--3 pr">
        <div class="container">
            <div class="quote pr">
                <div class="quote__img"><img data-src="./assets/img/img-story3.png" class="lazyload" alt=""></div>
                <div class="quote__content tf2">
                    Sau nhiều lần “đập đi xây lại”, đã có lúc anh phải rao bán nhà để tiếp tục dự án Monkey Junior. Nhưng với động lực mạnh mẽ từ trái tim của một người bố và sự ủng hộ của cộng đồng chuyên gia giáo dục trong và ngoài nước, anh Hoàng và các cộng sự vẫn quyết tâm tiến bước.
                </div>
            </div>
            <div class="text tf1">
                <h2 class="title">Đến tình yêu của đội ngũ “thắp lửa”cho hàng triệu trẻ em</h2>
                <p>Nỗ lực đã được đền đáp khi Monkey Junior ra đời vào cuối năm 2014 và có được những thành tựu đáng khích lệ bước đầu: liên tục là một trong những chương trình học đọc được yêu thích nhất trên App Store và Google Play, nằm trong top 20 chương trình giáo dục được tải nhiều nhất ở nhiều nước, trong đó có Mỹ, Canada và Việt Nam.</p>
                <p>Tháng 6/2016, vượt qua gần 1.100 hồ sơ đến từ hơn 100 quốc gia trên thế giới, Monkey Junior đã xuất sắc giành giải Nhất cuộc thi Sáng kiến Toàn cầu do Tổng thống Mỹ Barack Obama chủ trì.</p>
                <p>Cũng trong năm 2016, Monkey Junior tiếp tục giành giải Nhất Nhân Tài Đất Việt, giải Vàng Công Nghệ Thông Tin Đông Nam Á ASEAN ICT 2016 tại Brunei, giải Nhất Thiết kế cuộc thi Doanh nhân châu Á (AEA) tại Nhật Bản…</p>
                <p>Coi giáo dục là sứ mệnh của cuộc đời, anh Hoàng và các cộng sự tiếp tục xây dựng các ứng dụng học tập khác - nỗ lực mang giáo dục chất lượng cao đến với mọi trẻ em. Với sự góp sức của các chuyên gia cùng đội ngũ thiết kế, kỹ thuật, nội dung đầy nhiệt huyết, Monkey tiếp tục mang đến cộng đồng phụ huynh 3 ứng dụng khác là Monkey Stories vào năm 2017, Monkey Math vào năm 2018 và VMonkey vào năm 2019.</p>
                <p>Cho đến nay, sau 6 năm, Monkey đang là người bạn đồng hành của hơn 10 triệu bạn nhỏ và ba mẹ trên khắp thế giới, nhiều nhất là tại Mỹ, Canada, Việt Nam, Úc, Anh, Nhật Bản, Thái Lan,...</p>
                <p>Monkey ban đầu chỉ là tình yêu của một ông bố trẻ dành cho cô con gái. Nhưng không dừng lại ở đó, ông bố đó đã “thắp lửa” để tình yêu của mình, cùng với tình yêu của hơn 200 “người truyền lửa” tại Early Start - lan tỏa đến hàng triệu ba mẹ và các con. Ba mẹ tin chọn Monkey không chỉ vì Monkey là một sản phẩm giáo dục khoa học và có tâm, mà còn vì Monkey nói hộ tiếng lòng của ba mẹ  - trong đó gói trọn tình yêu, niềm tin, sự định hướng, ước mơ và nỗ lực đồng hành cho những con yêu trong hành trình đầu tiên của cuộc đời!</p>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>