<main>
    <div class="monkey-story monkey-story--inspire pr">
        <div class="container">
            <div class="row mb-80">
                <div class="col-lg-6 col-md-6">
                    <div class="text">
                        <h1 class="title">Câu Chuyện <br> Truyền Cảm Hứng</h1>
                        <p>Chia sẻ những thông tin hữu ích giúp bậc cha mẹ có thể giúp đỡ và trò chuyện với các con nhiều hơn</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/img-story7.png" alt=""></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story4.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story5.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story6.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story4.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story5.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story6.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story4.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story5.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story6.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1"><i class="icon icon-prev"></i></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="icon icon-next"></i></a>
                </li>
            </ul>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>