<main>
    <div class="monkey-student">
        <div class="container">
            <div class="student flex">
                <div class="student__map"><img src="./assets/img/map-vn.png" alt=""></div>
                <div class="student__statistical">
                    <h1 class="title">Học Viên</h1>
                    <ul class="statistical">
                        <li>
                            <h4 class="flex-lc"><i class="icon icon-top"></i> TOP 1</h4>
                            <p>Ứng dụng tiên phong áp dụng các phương pháp Giáo dục sớm tại Việt Nam</p>
                        </li>
                        <li>
                            <h4 class="flex-lc"><i class="icon icon-nation"></i> 108+ QUỐC GIA</h4>
                            <p>Và vùng lãnh thổ có trẻ em học tiếng Anh với Monkey</p>
                        </li>
                        <li>
                            <h4 class="flex-lc"><i class="icon icon-smile"></i> 10 TRIỆU TRẺ EM</h4>
                            <p>Học tiếng Anh cùng Monkey trên toàn thế giới</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-post monkey-post--story pr">
        <div class="container">
            <div class="header">
                <h2 class="title">Câu Chuyện Truyền Cảm Hứng</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story4.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story5.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story6.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <a href="" title="" class="btn_viewall flex-center">Xem Tất Cả <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="monkey-post monkey-post--student pr">
        <div class="container">
            <div class="header">
                <h2 class="title">Học Viên Của Monkey</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story4.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story5.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="post post-ty3 bg-sh">
                        <a href="" class="post__thumb"><img data-src="./assets/img/img-story6.jpg" class="lazyload" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Bé Gia Linh</a></h3>
                            <h5>Học viên Monkey Junior</h5>
                            <p class="line line3">Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính...</p>
                            <div class="bottom flex">
                                <div class="time flex-lc"><i class="icon icon-time"></i> 12/08/2021</div>
                                <div class="view flex-lc"><i class="icon icon-view"></i> 630</div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <a href="" title="" class="btn_viewall flex-center">Xem Tất Cả <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>