<main>
    <div class="monkey-student monkey-student--detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="text">
                        <h2>Bé Gia Linh</h2>
                        <div class="quote pr">
                            <p>Mình luôn lo lắng nuôi con không đủ tốt, để con phải khiếm khuyết, thiệt thòi vì các bạn khác đã bắt đầu học tiếng Anh mà con mình gần 2 tuổi vẫn chậm nói.</p>
                        </div>
                    </div>
                    <div class="share">
                        <h5>Chị Bùi Thu Trang, mẹ bé Gia Linh (Hà Nội) chia sẻ.</h5>
                        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=large&width=87&height=28&appId" width="87" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="video pr">
                        <div class="video__thumb"><img src="./assets/img/thumb-video-hv.jpg" alt=""></div>
                        <div class="video__play"><img src="./assets/img/play.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="student flex">
                        <div class="student__avatar flex-center"><img src="./assets/img/avt.jpg" alt=""></div>
                        <div class="student__info">
                            <p><span>Tuổi của bé:</span> 2 tuổi</p>
                            <p><span>Quê quán:</span> Đồng Nai</p>
                            <p><span>Thời gian bắt đầu học:</span> 25/08/2021</p>
                            <p><span>Cảm nhận hiệu quả:</span> Sau 2 tháng học</p>
                        </div>
                        <div class="student__join">
                            <h5>Sản phẩm bé sử dụng</h5>
                            <div class="product flex">
                                <div class="item"><img src="./assets/img/monkey-j1.svg" alt=""></div>
                                <div class="item"><img src="./assets/img/monkey-m1.svg" alt=""></div>
                                <div class="item"><img src="./assets/img/monkey-s1.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-post-detail pr">
        <div class="container">
            <article class="detail">
                <p>Nuôi con đến gần 2 tuổi vẫn không biết nói, không biết đi, chị Trang từng bị bao vây bởi áp lực “mẹ vụng nuôi con dại” từ chính mình và những người xung quanh. Sau 2 năm nỗ lực cùng con “đi tìm” tiếng nói, bé Gia Linh - con gái chị Trang - không chỉ hoạt ngôn mà còn nói sõi cả tiếng Việt lẫn tiếng Anh. Chị thầm cảm ơn ý chí của bản thân và phương pháp đúng đã cho con chị một tuổi thơ và tương lai hoàn thiện.</p>
                <p>Chị Trang tâm sự: “Con là một đứa trẻ chậm nói, nhiều người còn bảo con thiểu năng nên khi thấy mình cho con học nói cả tiếng Anh và tiếng Việt thì nói ra nói vào nhiều lắm, bảo mình sính ngoại rồi sẽ hại tương lai con. Nhưng mình đã tìm hiểu rất kĩ qua sách vở và với bản năng, linh tính của người mẹ, mình tin con mình không hề thiểu năng, con chỉ chậm hơn các bạn. Và việc của người mẹ là đồng hành với con vượt qua khó khăn đó. Con mình sinh ra chẳng nhẽ lại bỏ. Con khiếm khuyết 1 mẹ cùng con bù đắp 10 để con không phải thua kém, thiệt thòi. Con mình từ chậm nói thành đứa trẻ có thể nói, đọc cả tiếng Anh và tiếng Việt từ 4 tuổi không phải kì tích đâu! Tất cả đều là nỗ lực của ba mẹ. Mình nghĩ ai làm cha mẹ cũng làm được như mình thôi.”</p>
                <p><img data-src="./assets/img/img-2.jpg" class="lazyload" alt=""></p>
                <p>Sau thời gian tham khảo của các ba mẹ đi trước, thậm chí mang con vào viện tham vấn chuyên gia, chị Trang cũng đã tìm ra phương pháp giúp con học nói, đồng thời tận dụng giai đoạn “vàng” để con học cả tiếng Anh ngay tại nhà với Monkey Junior. Vài ngày đầu con không thích học, mở ứng dụng ra là con hét lên, ăn vạ khiến chị rất mệt mỏi, chán nản. Nhưng chị vẫn không bỏ cuộc, mỗi ngày duy trì đều đặn 15 - 20 phút học mà chơi với ứng dụng giúp con dần tạo thói quen và niềm yêu thích tiếng Anh. Sau khoảng 1 tuần, bé bắt đầu thích học với ứng dụng và nói theo. Những âm thanh, hình ảnh, video sinh động, game tương tác và phát âm chuẩn trong Monkey Junior kích thích thính giác, thị giác và não bộ giúp bé hào hứng và thích nói. Ngay khi mới học dù con mới chỉ bật ra được các từ đơn nhưng rất sõi và chuẩn, không hề bị ngọng như nhiều bạn cùng trang lứa. Sau 6 tháng kiên trì, bé Gia Linh đã có thể phản xạ nói câu dài bằng tiếng Việt và biết rất nhiều từ vựng tiếng Anh. Đến nay, nhìn cô bé 4 tuổi đọc truyện, thuyết trình tiếng Anh “chuẩn không cần chỉnh”, nhiều người không thể tin em từng là đứa trẻ chậm nói.</p>
                <p>Sau hành trình giúp con “đi tìm” tiếng nói, chị Trang chia sẻ: “Con học tiếng Việt hay tiếng Anh cũng là học ngôn ngữ thôi, không có gì phân biệt cả. Quan trọng là cha mẹ dành thời gian, tâm huyết và có niềm tin để đồng hành cùng con thì mọi khó khăn đều có thể giải quyết đơn giản!”. Thật vậy, không chỉ Gia Linh mà có rất nhiều bé học viên Monkey Junior khác có thể vượt qua các rào cản về ngôn ngữ để thành thạo cả tiếng Anh lẫn tiếng Việt ở tuổi tập nói. Ba mẹ cũng hãy bắt đầu ngay cùng bé nhà mình nhé!</p>
            </article>
            <div class="share">
                <iframe class="ml-auto" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=large&width=87&height=28&appId" width="87" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
    </div>
    <div class="monkey-relate pr">
        <div class="container">
            <h4>Xem Thêm Các Học Viên Khác</h4>
            <div class="relate_list">
                <div class="item">
                    <div class="bg-sh flex-lc">
                        <a href="" class="item__thumb"><img data-src="./assets/img/img-story6.jpg" class="lazyload" alt=""></a>
                        <div class="item__content">
                            <h3><a href="" title="">Bé Minh Anh</a></h3>
                            <p>Học viên Monkey Junior</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh flex-lc">
                        <a href="" class="item__thumb"><img data-src="./assets/img/img-story4.jpg" class="lazyload" alt=""></a>
                        <div class="item__content">
                            <h3><a href="" title="">Bé Minh Phương</a></h3>
                            <p>Học viên Monkey Junior</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-sh flex-lc">
                        <a href="" class="item__thumb"><img data-src="./assets/img/img-story5.jpg" class="lazyload" alt=""></a>
                        <div class="item__content">
                            <h3><a href="" title="">Bé Quang Tuấn</a></h3>
                            <p>Học viên Monkey Junior</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="flex-lc bg-sh">
                        <a href="" class="item__thumb"><img data-src="./assets/img/img-story5.jpg" class="lazyload" alt=""></a>
                        <div class="item__content">
                            <h3><a href="" title="">Bé Quang Tuấn</a></h3>
                            <p>Học viên Monkey Junior</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>