<main>
    <div class="monkey-header-success flex-center">
        <h1 class="title">Đăng ký học thành công</h1>
    </div>
    <div class="monkey-package pd-80">
        <div class="container">
            <div class="header">
                <h2 class="title">Ba mẹ khác cũng mua</h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="package bg-sh">
                        <div class="package__img package__img--m1 flex-center"><img src="./assets/img/monkey-mw.svg" alt=""></div>
                        <div class="package__content">
                            <h4>Monkey Math 6 tháng</h4>
                            <p>Giúp trẻ giỏi tiếng Anh trước 10 tuổi, phát triển toàn diện 4 kỹ năng Nghe - Nói - Đọc - Viết</p>
                            <div class="flex-lc">
                                <div class="price">
                                    <div class="price__new">399.000đ</div>
                                    <div class="price__old">665.000đ | -40%</div>
                                </div>
                                <a href="" title="Mua ngay" class="btn_buy flex-center btn_buy--m1">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="package bg-sh">
                        <div class="package__img package__img--m2 flex-center"><img src="./assets/img/vmonkey3.svg" alt=""></div>
                        <div class="package__content">
                            <h4>Monkey Math 6 tháng</h4>
                            <p>Học tiếng việt theo Chương trình GDPT mới cho trẻ Mầm non & Tiểu học</p>
                            <div class="flex-lc">
                                <div class="price">
                                    <div class="price__new">369.000đ</div>
                                    <div class="price__old">619.000đ | -40%</div>
                                </div>
                                <a href="" title="Mua ngay" class="btn_buy flex-center btn_buy--m2">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="package bg-sh">
                        <div class="package__img package__img--m3 flex-center"><img src="./assets/img/mokey-all1.svg" alt=""></div>
                        <div class="package__content">
                            <h4>Monkey trọn bộ 1 năm</h4>
                            <p>Tiết kiệm lên tới 50% và tặng thêm quà tặng độc quyền khi mua Monkey trọn bộ</p>
                            <div class="flex-lc">
                                <div class="price">
                                    <div class="price__new">1.399.000đ</div>
                                    <div class="price__old">2.800.000đ | -40%</div>
                                </div>
                                <a href="" title="Mua ngay" class="btn_buy flex-center btn_buy--m3">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-group pd-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h2 class="title">Tham gia group đồng hành cùng con học monkey</h2>
                    <p class="tf1">Teacher Monkey sẽ hỗ trợ bé học hiệu quả</p>
                    <a href="" title="Tham gia" class="btn-join flex-center tf1">Tham gia <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="video" data-link="" data-toggle="modal" data-target="#modal-video">
                        <div class="video__thumb"><img src="./assets/img/thumb-video-group.jpg" alt=""></div>
                        <div class="video__play"><img src="./assets/img/play.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="monkey-post monkey-post--rs">
        <div class="container">
            <h3 class="title flex-lc">Đừng bỏ lỡ</h3>
            <div class="post-slider">
                <div class="post post-course bg-sh">
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <a href="" title="" class="line line2">Hỏi đáp về chương trình "Khi ở nhà Mẹ là cô giáo"</a>
                    </div>
                </div>
                <div class="post post-course bg-sh">
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <a href="" title="" class="line line2">Hỏi đáp về chương trình "Khi ở nhà Mẹ là cô giáo"</a>
                    </div>
                </div>
                <div class="post post-course bg-sh">
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <a href="" title="" class="line line2">Hỏi đáp về chương trình "Khi ở nhà Mẹ là cô giáo"</a>
                    </div>
                </div>
                <div class="post post-course bg-sh">
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <a href="" title="" class="line line2">Hỏi đáp về chương trình "Khi ở nhà Mẹ là cô giáo"</a>
                    </div>
                </div>
                <div class="post post-course bg-sh">
                    <a href="" class="post__thumb"><img src="./assets/img/img-hl.jpg" alt=""></a>
                    <div class="post__content">
                        <a href="" title="" class="line line2">Hỏi đáp về chương trình "Khi ở nhà Mẹ là cô giáo"</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../include/advise.html" %}
</main>
<div class="modal fade modal-register-success" id="modal-register-success">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal">X</a>
            <div class="img-wrapper"><img src="./assets/img/monkey6.png" alt=""></div>
            <div class="text">
                Monkey đã nhận được đăng ký của ba mẹ cho bé. Ba mẹ vui lòng kiểm tra email và điện thoại để nắm được thông tin gói học!
            </div>
            <button type="button" class="btn-finish flex-center tf1" data-dismiss="modal">Hoàn thành</button>
        </div>
    </div>
</div>