<main>
    <div class="monkey-landing vmonkey">
        <div class="monkey-landing--s1 pr">
            <div class="container flex-lc">
                <div class="intro">
                    <div class="logo flex-center"><img src="./assets/img/vmonkey2.svg" alt=""></div>
                    <h1 class="title"><span class="violet">VMonkey</span> - App Học Tiếng Việt Chuẩn Cho Trẻ Mầm Non Và Tiểu Học</h1>
                    <p>Học tiếng Việt theo Chương trình GDPT mới cho trẻ Mầm non & Tiểu học</p>
                    <div class="register flex-lc">
                        <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                        <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                    </div>
                </div>
                <div class="video pr" data-toggle="modal" data-target="#modal-video" data-link="https://www.youtube.com/embed/LkrUzVJiI54?autoplay=1">
                    <div class="video__thumb pr"><img data-src="./assets/img/thumb-video-vmonkey.png" class="lazyload" alt=""></div>
                    <div class="video__play pr"><img src="./assets/img/play1.svg" alt=""></div>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s2 pr">
            <div class="container">
                <h2 class="title">Ứng Dụng Học Tiếng Việt Đến Từ Tổ Chức Uy Tín Đạt Giải Nhất Sáng Kiến Toàn Cầu</h2>
                <ul class="top-list flex">
                    <li>
                        <h4 class="flex-center"><i class="icon icon-tv1"></i>GIẢI NHẤT</h4>
                        <p>Giải Nhất Sáng kiến toàn cầu do Tổng thống Mỹ Barack Obama trao tặng</p>
                    </li>
                    <li>
                        <h4 class="flex-center"><i class="icon icon-tv2"></i>GIẢI NHẤT</h4>
                        <p>Giải Nhất Nhân tài Đất việt 2016</p>
                    </li>
                    <li>
                        <h4 class="flex-center"><i class="icon icon-tv3"></i>GIẢI VÀNG</h4>
                        <p>Giải Vàng ASEAN ICT Awards</p>
                    </li>
                    <li>
                        <h4 class="flex-center"><i class="icon icon-tv4"></i>BẰNG KHEN</h4>
                        <p>Bằng Khen Thủ tướng Chính Phủ</p>
                    </li>
                    <li>
                        <h4 class="flex-center"><i class="icon icon-tv5"></i>GIẢI NHẤT</h4>
                        <p>Giải Nhất Doanh Nhân châu Á (AEA) tại Nhật Bản</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="monkey-landing--s3 pr">
            <div class="container">
                <h2 class="title">Ứng dụng Phương pháp dạy học tiếng Việt hiện đại ở Mầm non và Tiểu học</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="method-vmonkey bg-sh">
                            <div class="icon"><img src="./assets/img/icon-pp1.svg" alt=""></div>
                            <h4>Phương pháp học <br> cuốn hút, hấp dẫn</h4>
                            <p>Bé học thông qua tương tác ấn chạm với thiết bị, cùng hình ảnh mô tả và âm thanh sinh động, bé quên hoàn toàn Youtube.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="method-vmonkey bg-sh">
                            <div class="icon"><img src="./assets/img/icon-pp2.svg" alt=""></div>
                            <h4>Học thông qua trò chơi</h4>
                            <p>Cấu trúc bài học gồm nhiều trò chơi được xây dựng theo phát triển của trẻ, từ nhận diện vần đến tạo từ bằng vần đã học. Trẻ luôn hứng thú trong suốt quá trình học</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="method-vmonkey bg-sh">
                            <div class="icon"><img src="./assets/img/icon-pp3.svg" alt=""></div>
                            <h4>Học thông qua hình ảnh, âm thanh minh hoạ sinh động</h4>
                            <p>VMonkey chính là một thế giới truyện tranh sống động, màu sắc hài hoà, giọng độc truyền cảm dành riêng cho trẻ. Trẻ thẩm âm, cảm nhận ngữ điệu, vần điệu một cách tự nhiên</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s4 pr">
            <div class="container">
                <div class="header">
                    <h2 class="title">VMonkey - Dạy trẻ học đánh vần, nuôi dưỡng tâm hồn, làm giàu vốn từ tiếng Việt cho trẻ theo chương trình GDPT Mới</h2>
                    <p>Nội dung truyện được xây dựng trên các tiêu chí phù hợp với sự phát triển của trẻ ở 2 cấp độ Mầm non và Tiểu học</p>
                </div>
                <ul class="vmonkey-study pr">
                    <li>
                        <div class="icon"><img src="./assets/img/abc.svg" width="120" alt=""></div>
                        <div class="content">
                            <h4>Đánh vần và phát âm tròn trịa toàn bộ bảng chữ cái</h4>
                            <p>Trẻ biết đọc, nhận biết và phân biệt 37 âm, 5 thanh và 149 vần trong tiếng Việt</p>
                            <p>Trẻ được học cách đánh vần từ dễ đến phức tạp kết hợp đánh vần các tiếng thông qua hiển thị chữ theo giọng đọc cùng hoạt hoạ sống động trong các trò chơi</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/idea.svg" alt=""></div>
                        <div class="content">
                            <h4>Phát triển nhận thức, bồi dưỡng đạo đức, trí tuệ và cảm xúc</h4>
                            <p>Nuôi dưỡng tâm hồn con yêu với những câu chuyện cổ tích kinh điển, bào học cuộc sống giàu tính nhân văn</p>
                            <p>Rèn luyện kỹ năng sống thông qua câu chuyện, bài thơ, con tự ý thức được việc nào nên làm, việc nào không nên làm</p>
                            <p>Giọng đọc giàu cảm xúc cùng hiệu ứng âm thanh sống động giúp con thẩm âm, vần điệu</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/castle.svg" alt=""></div>
                        <div class="content">
                            <h4>Nền tảng tiếng Việt vững chắc hỗ trợ việc học trên lớp của trẻ</h4>
                            <p>Bé học đánh vần tiếng Việt chuẩn và nhanh nhất theo chương trình GDPT Mới, tạo thuận lợi cho quá trình học tập trên lớp</p>
                        </div>
                    </li>
                </ul>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                    <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s5 pr">
            <div class="container">
                <h2 class="title">Lý Do <span>10 Triệu Phụ Huynh</span> Trên Toàn Thế Giới Tin Dùng Ứng Dụng Monkey</h2>
                <ul class="convenient flex">
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j4.svg" alt=""></div>
                        <h4>Tạo Nhiều Hồ Sơ Người Học Trên 1 Tài Khoản</h4>
                        <p>Tiết kiệm tối đa chi phí cho gia đình</p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j2.svg" alt=""></div>
                        <h4>Báo Cáo Cập Nhật Hàng Tuần</h4>
                        <p>Nắm bắt kịp thời hiệu quả học tập của con</p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j3.svg" alt=""></div>
                        <h4>Không Giới Hạn Số Thiết Bị Đăng Nhập</h4>
                        <p>Học cùng con mọi lúc mọi nơi siêu tiện lợi</p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j1.svg" alt=""></div>
                        <h4>Chương Trình Học Được Thiết Kế Sẵn</h4>
                        <p>Dễ dàng đồng hành cùng con dù ba mẹ không giỏi tiếng Anh</p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j5.svg" alt=""></div>
                        <h4>Đồng Bộ Tiến Độ Học</h4>
                        <p>Cập nhật dữ liệu mới nhất trên tất cả các thiết bị, con không phải học lại từ đầu</p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j6.svg" alt=""></div>
                        <h4>Cập Nhật Mới Hàng Tuần</h4>
                        <p>Từ vựng mới & game mới được bổ sung liên tục</p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-phone1.svg" alt=""></div>
                        <h4>Hỗ Trợ Trọn Đời Sau Mua</h4>
                        <p>95% câu hỏi được Monkey hỗ trợ trong vòng 24 tiếng </p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j7.svg" alt=""></div>
                        <h4>Cộng Đồng Ba Mẹ Thông Thái</h4>
                        <p>Teacher Monkey & hơn 110k ba mẹ trong Facebook group ba mẹ thân thiết sẵn sàng hướng dẫn </p>
                    </li>
                    <li>
                        <div class="icon"><img src="./assets/img/icon-j8.svg" alt=""></div>
                        <h4>Được Nhắc Học Trong Thời Gian Đầu</h4>
                        <p>Tính năng nhắc học qua noti, email để xây dựng thói quen khi bắt đầu học </p>
                    </li>
                </ul>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                    <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s6 pr">
            <div class="container">
                <h2 class="title">Chương trình học tiếng Việt được thiết kế theo phương pháp mới của Bộ Giáo dục và Đào tạo</h2>
                <div class="method-list pr">
                    <div class="method method--1 flex">
                        <div class="method__img flex-center"><img src="./assets/img/icon-qt3.svg" alt=""></div>
                        <div class="method__content pr">
                            <h4>300 truyện, 100 sách nói xoay quanh 10 chủ đề thân thuộc với trẻ</h4>
                            <p>Ngụ ngôn và cổ tích, Gia đình và bạn bè, Động việt, Thiên nhiên, THực vật, Cuộc sống xung quanh bé, Kiến thức hay, Sáng tạo thú vị. Phương tiện giao thông, Trải nghiệm vui</p>
                        </div>
                    </div>
                    <div class="method method--2 flex">
                        <div class="method__img flex-center"><img src="./assets/img/up.svg" alt=""></div>
                        <div class="method__content pr">
                            <h4>Cấp độ học từ Dễ đến Nâng cao phù hợp với trình độ và nhận thức của trẻ</h4>
                            <p>
                                <span>Mầm non (3-5 tuổi)</span>
                                <span>Lớp 1 (6 tuổi)</span>
                                <span>Lớp 2 (7 tuổi)</span>
                                <span>Lớp 3 (8 tuổi)</span>
                                <span>Lớp 4 (9 tuổi)</span>
                                <span>Lớp 5 (10 tuổi)</span>
                            </p>
                        </div>
                    </div>
                    <div class="method method--3 flex">
                        <div class="method__img flex-center"><img src="./assets/img/bookshelf.svg" alt=""></div>
                        <div class="method__content pr">
                            <h4>Hệ thống bài học đồ sộ, bài bản Trẻ tự tin tiếp thu kiến thức mới trên lớp</h4>
                            <p>600+ truyện tương tác giúp trẻ đọc trôi chảy trước khi vào lớp 1</p>
                            <p>705+ câu hỏi sau truyện tăng khả năng Đọc - hiểu của trẻ</p>
                            <p>300+ sách nói cho trẻ vốn từ vựng phong phú & khả năng diễn đạt linh hoạt</p>
                            <p>10 chủ đề truyện giúp trẻ mở rộng vốn hiểu biết</p>
                        </div>
                    </div>
                </div>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                    <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                </div>
            </div>
        </div>
        <div class="monkey-landing--s7 pr">
            <div class="container">
                <div class="feedback flex pr">
                    <div class="feedback__content">
                        <div class="text pr">"Kiên trì cho con học 30 phút mỗi ngày qua ứng dụng Monkey Junior, con tiến bộ rõ rệt trong cách phát âm, thuộc nhiều từ mới hơn. Đến nay cháu 5 tuổi đã đọc các câu chuyện tiếng Anh, giao tiếp nhanh nhẹn với người nước ngoài. Tôi vô cùng tự hào."</div>
                        <div class="author flex">
                            <div class="author__img"><img src="./assets/img/pdq.png" alt=""></div>
                            <div class="author__content">
                                <h4>Anh Đại Dương</h4>
                                <p>Bố bé Quang Bình tại chương trình "Mặt trời tí hon" chia sẻ</p>
                            </div>
                        </div>
                    </div>
                    <div class="feedback__video">
                        <div class="video pr" data-link="">
                            <div class="video__thumb pr"><img data-src="./assets/img/thumb-video-j.jpg" class="lazyload" alt=""></div>
                            <div class="video__play pr"><img src="./assets/img/play.svg" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="register flex-center">
                    <a href="" title="" class="btn_register btn_pr flex-center">Đăng Ký Ngay <i class="fas fa-chevron-right"></i></a>
                    <p>Bạn cần tư vấn? <a href="" title="">Đặt lịch ngay</a></p>
                </div>
            </div>
        </div>
        <div class="monkey-advise pr m-s">
            <div class="container">
                <div class="advise flex-lc">
                    <div class="advise__content">
                        <p>Trẻ em cần được trao cơ hội để có thể học tập và phát triển tốt hơn. Giúp con khai phá tiềm năng tư duy và ngôn ngữ ngay hôm nay.</p>
                        <form action="" method="">
                            <div class="form-group">
                                <label>Nhập tên ba (mẹ) để được Monkey tư vấn lộ trình học cho bé</label>
                                <input type="text" name="" placeholder="Nhập tên ba/mẹ">
                            </div>
                            <button type="submit" class="btn_submit flex-center">Nhận Tư Vấn Miễn Phí</button>
                        </form>
                    </div>
                    <div class="advise__img">
                        <img src="./assets/img/monkey.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>