@function vwp($target) {
  $vw-context: (460 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
$img-path: "../img";
$font-path: "../font";

*,
*::before,
*::after {
  box-sizing: border-box;
}

img.bg{max-width: 100%;}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.flex-center{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.flex-lc{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex-between{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

a{text-decoration: none;}
ul{padding: 0;}

.modal{display: none;}
.modal.show{display: block;}
.modal-monkey{
  .modal-dialog{max-width: vwp(460px); margin: 0 auto;}
  .modal-content{
    width: 100%;
    padding: vwp(20px) vwp(15px) vwp(27px);
    border-radius: vwp(33.7px);
    background: #fff;
    box-shadow: 0px 6px 13px 0 rgba(63, 105, 193, 0.14);
    border: solid vwp(10px) #95c83d;
    font-family: 'Nunito', sans-serif;
    position: relative;
    z-index: 2;
  }
  .title{
    margin: 0 auto vwp(22px);
    font-size: vwp(33.5px);
    font-weight: 800;
    letter-spacing: vwp(-0.84px);
    line-height: 1;
    color: #95c83d;
    text-align: center;
    &::after{
      content: "";
      width: vwp(388px); height: vwp(13px);
      display: block;
      margin-top: vwp(12px);
      background: url("#{$img-path}/popup/line.png") no-repeat 0 0/contain;
    }
  }
  .list-text{
    margin: 0 auto;
    text-align: center;
    &.fw{
      max-width: 100%; margin-bottom: vwp(12px);
      p{max-width: 100%;}
    }
    p{
      max-width: vwp(266px);
      margin: 0 auto;
      line-height: 1.35;
      color: #848084;
      font-size: vwp(20px);
      font-weight: 800;
      text-align: center;
    }
    span{color: #95c83d;}
    h4,p{font-weight: 800;}
    h4{
      max-width: vwp(368px);
      margin: 0 auto vwp(12px);
      font-size: vwp(24.5px);
      letter-spacing: vwp(-0.61px);
      line-height: 1;
      color: #95c83d;
    }
    p{color: #848084;}
    .img-wrapper{
      height: vwp(126px);
      max-width: 50%; margin: 0 auto vwp(5px);
      img{display: block; margin: 0 auto; max-height: 100%;}
    }
  }
  .nav-text{
    align-items: center;
    li{margin: 0 vwp(10px); line-height: 1; list-style: none;}
    button{
      width: vwp(13px); height: vwp(13px);
      padding: 0; border-radius: 50%;
      background: #fff;
      border: solid vwp(2px) rgba(#8ca7b6,.7);
      &:focus{outline: none;}
    }
    .active button{
      width: vwp(15px); height: vwp(15px);
      box-shadow: 0px 6px 8px 0 rgba(63, 105, 193, 0.22);
      border: solid vwp(2px) #fff;
      background: #95c83d;
    }
  }
  .close{
    width: vwp(157px); height: vwp(58px);
    margin: vwp(11px) auto vwp(-55px);
    background: #92c73d;
    border-radius: vwp(13.5px);
    box-shadow: 0px vwp(10px) vwp(13px) 0 rgba(105, 153, 29, 0.5);
    border: solid vwp(5px) #fff;
    font-size: vwp(24px);
    font-weight: 800;
    color: #fff;
    letter-spacing: vwp(-0.68px);
    opacity: 1;
    position: relative;
    &:hover{opacity: 1; color: #fff;}
    &.decor{
      margin: vwp(130px) auto vwp(-55px);
      &::before{
        content: "";
        width: vwp(142px); height: vwp(102px);
        display: block;
        background: url("#{$img-path}/popup/monkey.png") no-repeat 0 0/contain;
        position: absolute; left: 50%; transform: translateX(-50%); bottom: vwp(45px);
      }
    }
  }
  .close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{opacity: 1; color: #fff;}
}
.modal-backdrop{
  width: 100%; height: 100%;
  position: fixed; background: rgba(#000,.5); top: 0; left: 0;
}

.tabs {
  padding-bottom: vwp(50px);
  position: relative;
  &.pb2{padding-bottom: vwp(15px);}
  input{display: none;}
  label{
    width: 13px; height: 13px;
    margin: 0 10px;
    padding: 0; border-radius: 50%;
    background: #fff;
    border: solid 1px rgba(#8ca7b6,.7);
    position: absolute; bottom: 0; cursor: pointer;
    &.lb1{margin-left: -35px;}
    &.lb3{margin-right: -35px;}
  }
  input:checked + label {
    width: 14px; height: 14px;
    box-shadow: 0px 6px 8px 0 rgba(63, 105, 193, 0.22);
    border: solid 1px #fff;
    background: #95c83d;
  }
  .content{width: 100%; max-width: 100%;}
}

.tabs #tab1:checked ~ .content #content1,
.tabs #tab2:checked ~ .content #content2,
.tabs #tab3:checked ~ .content #content3,
.tabs #tab4:checked ~ .content #content4,
.tabs #tab5:checked ~ .content #content5,
.tabs #tab6:checked ~ .content #content6,
.tabs #tab7:checked ~ .content #content7 {
  display: block;
}
.tabs .content > div {
  display: none;
}


@media (min-width: 640px) {
  .modal-monkey{
    .modal-dialog{max-width: 460px;}
    .modal-content{border-width: 10px; border-radius: 33px; padding: 20px 15px 27px;}
    .title{
      margin-bottom: 22px;
      font-size: 33.5px;
      letter-spacing: -0.84px;
      &::after{
        width: 388px; height: 13px;
        margin-top: 12px;
      }
    }
    .list-text{
      max-width: 266px;
      &.fw{
        margin-bottom: 12px;
        p{font-size: 17px;}
      }
      p{max-width: 266px; font-size: 20px;}
      h4{max-width: 368px; font-size: 24.5px; margin-bottom: 12px; letter-spacing: -0.61px;}
      .img-wrapper{height: 126px; margin-bottom: 5px;}
    }
    .nav-text{
      li{margin: 0 10px;}
      button{width: 13px; height: 13px; border-width: 2px;}
      .active button{border-width: 2px; width: 15px; height: 15px;}
    }
    .close{
      width: 157px; height: 58px;
      margin: 11px auto -55px;
      border-radius: 13.5px;
      box-shadow: 0px 10px 13px 0 rgba(105, 153, 29, 0.5);
      border-width: 5px;
      font-size: 24px;
      letter-spacing: -0.68px;
      &.decor{
        margin: 130px auto -55px;
        &::before{width: 142px; height: 102px; bottom: 45px;}
      }
    }
  }
  .tabs{
    padding-bottom: 50px;
    &.pb2{padding-bottom: 15px;}
  }

}