@media (max-width: 1500px) {
  .monkey-newspaper{
    background: url("#{$img-path}/decor-bc.svg") no-repeat 0 -100px;
  }
  .monkey-student{
    background: url("#{$img-path}/decor-lv1.svg") no-repeat 0 0/cover;
    &--detail{
      background: url("#{$img-path}/decor-hv4.svg") no-repeat 0 -100px;
      background-size: 100%;
    }
  }
  .monkey-product{
    background: url("#{$img-path}/decor-sp.svg") no-repeat 0 -100px;
  }
  .monkey-landing{
    &.junior{
      .monkey-landing--s1{background: url("#{$img-path}/bg-pj1.svg") no-repeat 0 0/100%;}
      .monkey-landing--s3::before{background: url("#{$img-path}/bg-pj3.svg") no-repeat 0 0/100%;}
    }
    &.vmonkey{
      .monkey-landing--s1{background: url("#{$img-path}/bg-pv1.svg") no-repeat 0 -100px/100%;}
    }
  }
}

@media (max-width: 1366px) {
  .language{margin-right: 0;}
  header{
    .btn_search{margin-left: 15px;}
  }
}

@media (max-width: 1200px){
  header{
    .btn_register{width: 100px;}
  }
  .navbar-nav{
    > li > a{padding: 20px 12px;}
  }
  .monkey-hs1{
    .intro{margin-bottom: 30px; padding-top: 0;}
    .box-btn{
      a,p{margin: 5px 0;}
    }
    h1.title{font-size: 40px;}
  }
  .monkey-hs2{
    .program{
      &__des{font-size: 14px;}
    }
  }
  .monkey-hs3{
    form{
      .btn_submit{margin: 15px 0 0;}
    }
  }
  .monkey-statistical{
    .statistical{
      h3{font-size: 25px;}
      p{font-size: 14px;}
    }
  }
  .partner{
    .slick-next{right: -40px;}
    .slick-prev{left: -40px;}
  }
  .monkey-advise{
    .advise{
      &__content{max-width: 50%; margin-right: 5%;}
      &__img{max-width: 45%;}
    }
  }
  .reward{
    .slider-for{
      width: 55%; margin-left: -30px;
      .item{padding: 30px;}
    }
    .slider-nav{
      width: 48%; margin: 0;
      .item,.item.active{padding: 16px 20px;}
    }
  }
  .monkey-product{
    .product{
      &__content{padding: 15px;}
      li{max-width: 22%;}
      ul >*+*{margin-left: 4%;}
    }
  }
  .monkey-solution{
    .col-left,.col-right{width: 50%;}
    .solution_list{
      .item{max-width: 50%;}
    }
  }
  .monkey-feedback{
    .slick-next{right: -45px;}
    .slick-prev{left: -45px;}
  }
  .result{
    .fil{
      &.fil--sort{width: 40%;}
      &.fil--search{width: 60%;}
    }
  }


  //gioi thieu
  .monkey-office{
    .slick-next{right: 0;}
    .slick-prev{left: 0;}
  }

  //cotmoc
  .monkey-milestone{
    .item{
      max-width: 45%;
      &:nth-child(odd){
        &::after{right: -85px;}
      }
      &:nth-child(even){
        &::after{left: -85px;}
      }
    }
  }

  //hocvien
  .monkey-student{
    .text{padding-top: 0;}
    .student{
      padding-left: 0;
    }
    &--detail{
      .student{
        margin-top: 50px;
        &__avatar{width: 15%;}
        &__info,&__join{width: 40%;}
        &__info{margin: 0 2.5%; min-width: initial;}
        .product{
          >*+*{margin-left: 1.3%;}
          .item{width: 32%;}
        }
      }
    }
  }
  .monkey-relate{
    .relate_list_pc{
      .slick-next{right: -20px;}
      .slick-prev{left: -20px;}
    }
  }

  //policy
  .monkey-policy{
    &--s1{
      .container{max-width: initial;}
      h1.title{font-size: 54px; line-height: 1.2;}
    }
    &--partner{
      .slick-next{right: 0px;}
      .slick-prev{left: 0px;}
    }
    .app{
      &__content{padding: 20px;}
    }
    .reason{
      &__content{margin-left: 16%;}
    }
  }

  //rule
  .monkey-rule{
    .tab{width: 30%;}
    .tab-content{
      width: 67%;
      padding: 24px;
      margin-left: 3%;
    }
  }

  //monkey junior
  .monkey-landing{
    min-height: initial;
    margin-bottom: 0;
    &.junior{
      .intro{margin-right: 5%;}
      .monkey-landing--s1{
        .video{max-width: 45%;}
      }
    }
    &.stories,&.math{
      .monkey-landing--s6{
        .program{
          &:nth-child(odd) .program__content{margin-right: 5%; padding-left: 0;}
          &:nth-child(even){
            .program__content{padding-right: 0;}
            .program__video{margin-right: 5%;}
          }
          &__content{max-width: 55%;}
          &__video{max-width: 40%;}
        }
      }
    }
    &.stories{
      .intro{margin-right: 5%;}
      .monkey-landing--s1{
        .container{align-items: center;}
      }
      .monkey-landing--s2{
        .top-list li{padding: 15px;}
      }
      .monkey-landing--s4{
        .register{
          .btn_register{margin-right: 0;}
          p{margin: 5px 0;}
        }
      }
      .monkey-landing--s7{
        .feedback .video{max-width: 100%;}
      }
    }
    &.math{
      .top-list{
        li{padding: 0 15px;}
      }
      .monkey-landing--s1{
        .intro{margin-right: 5%;}
        .video{max-width: 45%;}
      }
    }
    &.vmonkey{
      .monkey-landing--s1{
        .intro{max-width: 50%; margin-right: 5%;}
        .video{max-width: 45%; padding: 20px;}
      }
    }
    &--s1{
      .video{max-width: 45%;}
      .register p{margin: 15px 0;}
    }
    .intro{max-width: 50%;}
    .top-list{
      li{width: 50%; margin-bottom: 32px;}
    }
    .program{
      padding: 30px;
      justify-content: space-between;
      &:nth-child(even) .program__content{padding-right: 5%;}
      &:nth-child(odd) .program__content{padding-left: 5%;}
      &__content{max-width: calc(100% - 240px);}
      &--1{
        .program__content{max-width: calc(100% - 240px); margin-right: 0;}
      }
      &--2{
        justify-content: space-between;
        .program__img{margin: 0;}
      }
      &--3{
        .program__content{margin-right: 0;}
      }
      &--4{
        .program__img{margin: 0;}
      }

      &__img{width: 240px; height: 240px;}
    }
    .feedback{
      &__video{max-width: 45%;}
      &__content{max-width: 50%; margin-right: 5%;}
    }
    .skill{
      &__list{
        li:nth-child(odd){margin-right: 50%;}
      }
      &__round{width: 320px; height: 320px; top: 50%; transform: translate(-50%,-50%);}
      li{max-width: 25%;}
    }
    .vmonkey-study{
      max-width: 70%;
      &::after{width: 300px; height: 357px; right: -260px;}
    }
  }

  .monkey-story{
    .text .title{font-size: 40px;}
  }

  //hoclieu1
  .courseware{
    .slider-nav{
      .item{width: 31% !important;}
      .slick-track >*+*{margin-left: 3.333%;}
    }
  }
  .monkey-registerfree{
    .box-register::after{
      right: 10px; bottom: -12px; width: 300px; height: 250px;
    }
  }

  .monkey-recruitment{
    .search-form{min-width: 44%; max-width: 44%;}
    .filter-item{margin-left: 2%; width: 26%;}
  }
  .monkey-face,.monkey-image,.monkey-job{
    .slick-next{right: 0;}
    .slick-prev{left: 0;}
  }
  .monkey-email{
    .col-left{margin-right: 50px;}
  }

  .monkey-group{
    .btn-join{margin-top: 60px;}
  }
  .monkey-post{
    &--rs{
      .slick-next{right: -10px;}
      .slick-prev{left: -10px;}
    }
  }

  //footer
  footer{
    .middle{
      .col4{width: 305px; margin: 0;}
    }
    .service{
      .box-btn{
        >*+*{margin: 16px 0 0;}
      }
    }
  }

  //uikit
  h2.title{font-size: 40px;}
}

@media (max-width: 1023px){
  header{
    .logo{width: 112px;}
    .btn_register_m{
      display: flex;
      align-items: center; justify-content: center;
      width: 78px; height: 28px;
      margin-right: 37px;
      border: 1px solid #EE202E;
      border-radius: 4px;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: var(--red);
      text-align: center;
    }
    .btn_register--1{
      @include text2;
      width: calc(100% - 32px); height: 48px; display: flex;
      font-weight: 600;
      background: #EE202E;
      border-radius: 6px; color: #fff;
      position: absolute; margin-top: 40px;
    }
    .box-search{
      display: block;
      margin-top: 32px;
      max-width: 100%;
      position: relative; right: initial;
      .close{display: none;}
    }
  }
  .navbar-toggler{
    display: block !important;
    width: 18px;
    height: 14px;
    padding: 0; position: absolute;
    right: 0;
    top: 7px;
    background: none; border: none;
    span{
      display: block; width: 18px; height: 2px;
      background: #2A292C; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 18px; height: 2px; background: #2A292C; position: absolute; border-radius: 2px;
    }
    span:before{top: -7px;}
    span:after{width: 18px; bottom: -7px;}
  }
  .navbar-toggler.active{
    span{width: 18px; transform: rotate(45deg);}
    span:after{width: 21px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar{
    padding: 6px 14px;
    .close{display: block;}
    .brand img{max-width: 175px;}
    &.scroll{
      padding: 12px 14px;
      .brand img{max-width: 175px;}
    }
    &.active{
      .navbar-collapse{left: 0;}
    }
    .close{display: block;}
  }
  .navbar-collapse{
    width: 100%;
    height: calc(100% - 0px);
    display: block;
    padding: 24px 16px 100px;
    background: #fff;
    position: fixed; left: -100%; top: 0;
    transition: left .2s linear;
    z-index: 999; overflow: auto;
    ul{overflow: auto;}
    .btn_register{}
    .language{margin: 32px 0 0 0;}
    .btn_search,.btn_register{display: none;}
    .close{
      width: 24px; height: 24px;
      background: url("#{$img-path}/close.svg");
      position: absolute; top: 26px; right: 16px; opacity: 1;
    }
  }
  .navbar-nav{
    margin-top: 20px;
    padding: 0;
    border-bottom: 1px solid #E9E9E9;
    > li{padding: 10px 0; border-top: 1px solid #E9E9E9;}
    > li:nth-child(2){position: relative;}
    > li > a{@include text2; padding: 10px 0; line-height: inherit;}
    > li > a.active{color: var(--red);}
    > li > a::after{left: 0; transform: translateX(0); bottom: 7px;}
    > li:hover{
      .sub-menu,.sub-menu.product{display: none;}
      a{color: var(--dark); font-weight: 500;}
      a:after{display: none;}
    }
    > li.active{
      .sub-menu{
        display: block; background: transparent;
        &.product{display: flex;}
      }
      .show-menu{background: url("#{$img-path}/arrow-up.svg") no-repeat center center;}
    }
    a:hover:before,a.active:before{
      width: 50px; bottom: 0;
    }
    .show-menu{
      display: flex; align-items: center; justify-content: center;
      width: 40px;
      height: 40px;
      background: url("#{$img-path}/arr-down.svg") no-repeat center center;
      position: absolute; right: 0; top: 11px;
      transition: .4s;
    }
    .sub-menu{
      width: auto;
      display: none;
      padding: 5px 0 22px;
      background: none;
      box-shadow: none;
      position: relative;
      top: 0;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      >*+*{margin-top: 0;}
      &.product{
        width: 100%;
      }
      li:last-child{padding-bottom: 0;}
      li{padding: 16px 0; }
      li a{padding: 0; font-size: 14px; line-height: 20px;}
      &:before{display: none;}
    }
    .product{
      padding-bottom: 16px;
      li{width: 100%; padding: 12px 0;}
      li a{min-height: auto; display: flex; align-items: center; font-weight: 500;}
      li img{width: 92px;}
      span{flex: 1; margin-top: 0; padding-left: 12px; text-align: left;}
    }
  }
  .navbar-expand-lg .navbar-collapse{display: block !important;}
  .navbar-expand-lg .navbar-nav{flex-direction: column;}

  //main
  main{padding-top: 80px;}
  .language{
    .dropdown-menu{top: 20px;}
  }
  .monkey-hs1{
    min-height: 400px;
    padding-top: 30px;
  }
  .box-fix-right{right: -12px;}
  .monkey-story{
    &--video{min-height: auto;}
    &--1{margin-top: 0;}
    .quote{max-width: 60%; margin-right: 20px;}
    .text .title{font-size: 32px; line-height: 1.34;}
  }

  //cotmoc
  .monkey-milestone{
    .item{
      &:nth-child(odd){
        &::after{right: -73px;}
      }
      &:nth-child(even){
        &::after{left: -71px;}
      }
    }
  }

  //hocvien
  .monkey-student{
    .student{
      &__map,&__statistical{max-width: 50%;}
      &__statistical{padding-left: 15px;}
    }
    .title{margin-bottom: 50px;}
  }

  //rule
  .monkey-rule{
    .tab li a{padding: 15px 15px 15px 52px;}
  }

  //policy
  .monkey-policy{
    &--s3 .app{margin-bottom: 30px;}
  }

  //monkey junior
  .monkey-landing{
    &.junior{
      .monkey-landing--s1{padding: 60px 0 30px !important;}
    }
    &.stories,&.math,&.vmonkey{
      .monkey-landing--s2{
        .top-list{
          >*+*{border-left: none;}
          li{width: 100%;}
        }
      }
    }
    &.math{
      .monkey-landing--s2::before{top: 240px;}
      .monkey-landing--s6{
        &:before{top: 300px;}
        &::after{top: 1000px}
      }
    }
    &.vmonkey{
      .monkey-landing--s3{
        .col-lg-4{margin-bottom: 120px;}
        .col-lg-4:last-child{margin-bottom: 0;}
      }
      .monkey-landing--s6{
        .method{
          &--2 .method__content::after{top: -47px; right: -52px;}
          &--3 .method__content{
            max-width: 390px;
            &::after{left: -60px;}
          }
        }
      }
    }
    > div{padding: 40px 0;}
    h1.title{font-size: 38px; line-height: 46px;}
    &--s1{
      .flex{align-items: center; }
    }
    &--s3{
      .item{margin-bottom: 30px;}
    }
    .method{
      &:nth-child(odd){
        .method__img{margin-right: 0;}
        .method__content{padding-left: 5%;}
      }
      &--1,&--4{
        .method__content{max-width: calc(100% - 240px); margin-right: 0;}
      }
      &--2{
        .method__content{max-width: calc(100% - 240px); margin-right: 0; padding-right: 5%;}
      }
      &--4{
        .method__content{padding-right: 5%;}
      }
      &__content{max-width: 50%;}
      &__img{width: 240px; height: 240px; padding: 50px;}
    }
  }

  //prize
  .prize{
    .header{
      padding-top: 45px;
      margin-bottom: 30px;
    }
    .item{
      &__img,&__content{width: 50%;}
      &__content{padding-left: 20px;}
      &:nth-child(even){
        .item__content{padding: 0 20px 0 0;}
      }
      h3{font-size: 32px; line-height: 44px;}
      p{margin-bottom: 16px;}
    }
    .breadcrumb,&__detail{max-width: calc(100% - 32px);}
  }

  .monkey-header-success{min-height: 120px;}
  .monkey-package{
    .package{margin-bottom: 30px;}
  }

  //uikit
  h2.title{font-size: 32px; line-height: 1.34;}
  h1.title{
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }
  .container{padding-left: 16px; padding-right: 16px;}
}

@media (max-width: 768px){
  @mixin text2{
    font-size: 14px;
    line-height: 20px;
  }
  .partner{
    .slick-next{right: -20px;}
    .slick-prev{left: -20px;}
  }
  .monkey-hs3{
    .row .row .col-lg-6{padding-left: 7.5px; padding-right: 7.5px;}
    .feature{
      margin-bottom: 20px;
      padding: 13px 12px;
      &__text{margin-top: 7px; min-height: 60px; font-size: 14px; line-height: 20px;}
    }
  }
  .monkey-statistical{
    .row{
      .col-lg-3{padding: 0 15px 0;}
    }
    .row > * + * {
      border-left: none;
      .statistical{border-top: 1px solid #F78F97;}
    }
    .statistical{
      padding: 36px 0 24px;
      h3{font-size: 32px;}
      p{font-size: 16px;}
    }
  }
  .monkey-hs6{
    .post{margin-bottom: 30px;}
  }
}

@media (max-width: 768px){
  .monkey-hs1{
    .intro{
      margin-bottom: 20px;
      .title{margin-bottom: 13px; font-size: 36px;}
    }
    .box-btn{
      margin-top: 24px;
      text-align: center;
      .btn-discover{margin: 0 0 24px;}
    }
  }
  .monkey-hs2{
    margin-top: 40px;
    overflow: hidden;
    .header .title{max-width: 301px; margin-left: auto; margin-right: auto;}
    .program{
      margin-bottom: 16px;
      &__des{margin: 32px 0 24px; font-size: 16px;}
    }
  }
  .monkey-hs3{
    padding: 50px 0;
    overflow: hidden;
    .text{
      margin-bottom: 20px;
      text-align: center;
      .title{margin-bottom: 20px;}
    }
    form{
      padding-bottom: 10px;
      input,.btn_submit{width: 100%; max-width: 100%;}
    }
    .feature{
      &__thumb{max-width: 80%; margin: 0 auto; min-height: auto;}
    }
    .col-lg-6 .row{padding: 0 7.5px;}
  }
  .monkey-statistical{
    &--intro{
      padding: 58px 0 80px;
      .statistical{
        padding: 28px 0 24px;
        h3{margin-bottom: 5px; font-size: 28px;}
        p{max-width: 255px; margin: 0 auto;}
      }
      .row > * + * .statistical {
        border-top: none;
        &::before{
          content: "";
          width: 80px; height: 1px; background: #F78F97;
          position: absolute; top: 0; left: 50%; transform: translateX(-50%);
        }
      }
      .icon-top,.icon-ct{width: 24px; height: 24px; margin-top: 3px;}
    }
    .header{margin-bottom: 0;}
    .col-lg-3{max-width: 96%; margin: 0 auto;}
  }
  .monkey-hs4{
    .header{max-width: 315px;}
  }
  .monkey-hs6{
    .post{margin-bottom: 24px;}
    .header{
      text-align: center;
      margin-bottom: 30px;
      .btn-viewmore{margin-top: 15px;}
    }
  }
  .partner{
    .slick-next{right: 0px;}
    .slick-prev{left: 0px;}
  }
  .monkey-hs7{}
  .monkey-advise{
    min-height: 400px;
    padding: 48px 0;
    background: #F7F7F7 url("#{$img-path}/bg-ad.svg") no-repeat 50% 0/cover;
    .advise{
      &__content{max-width: 100%; margin-right: 0;}
      &__img{display: none;}
      p{margin-bottom: 20px; font-size: 18px; line-height: 28px;}
      label{margin-bottom: 12px; font-size: 14px; line-height: 20px;}
    }
  }
  .reward{
    .slider-for{display: none;}
    .slider-nav{
      width: 100%;
      .item{padding: 18px 20px;}
      .item.active{
        height: 220px;
        p{-webkit-line-clamp: 4;}
        h3{
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
        }
      }
      .slider-list{
        height: 585px; margin: 0 -15px;
      }
      h4{@include text2;}
    }
  }

  .monkey-search{
    padding: 50px 16px 35px;
    .header{
      margin-bottom: 32px;
      .title{margin-bottom: 10px;}
    }
  }
  .monkey-search-result{
    padding: 24px 0 60px;
    .filter{display: none;}
  }
  .result{
    &__header{
      margin-bottom: 24px;
      h5{margin-bottom: 11px;}
      .fil{
        &.fil--search,&.fil--sort{width: 100%;}
        &.fil--sort{order: 1; justify-content: flex-start;}
        &.fil--search{order: 2;}
        .select2-container{max-width: 45%;}
      }
      .fil--sort{
        margin-bottom: 16px;
        h4{flex-basis: 100%; margin-bottom: 8px;}
      }
      .btn_filter_m{
        display: flex !important;
        width: 50%; max-width: 163px;
        padding: 10px 15px;
        margin-left: 5%;
        justify-content: space-between;
        background: #FFFFFF;
        border-radius: 6px;
        color: var(--red);
        border: 1px solid #E9E9E9;
        .icon-filter{width: 12px; height: 12px; background: url("#{$img-path}/filter.png") no-repeat;}
      }
    }
    .post{
      margin-bottom: 24px;
      &__thumb{height: 202px;}
    }
  }
  .filter-fix-left{
    display: flex; flex-direction: column;
    width: 100%;
    padding: 24px 0 38px;
    background: #fff;
    position: fixed; top: 0; left: -120%;
    height: 100vh;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: left .3s linear;
    z-index: 99;
    &.show{left: 0;}
    .logo{width: 112px; margin: 0 16px 24px;}
    h3{
      padding: 0 16px;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      color: var(--red);
    }
    .close{
      width: 24px; height: 24px;
      position: absolute; right: 16px; top: 26px;
    }
    .filter{flex: 1 1 auto; margin-top: 24px; padding: 24px 16px; box-shadow: none; border-top: 1px solid #E9E9E9;}
    .btn_apply{width: calc(100% - 32px); padding: 12px 0; margin: 8px auto 0;}
  }

  //gioithieu
  .monkey-intro{
    padding-bottom: 70px;
    &::before{width: 86px; height: 63px; left: initial; right: 32px; top: 24px;}
    &::after{width: 270px; height: 211px; left: 0; top: 174px;}
    .intro{padding-top: 30px; margin-bottom: 35px;}
  }
  .monkey-mission{
    .quote{
      margin-bottom: 24px;
      &__img{width: 211px; margin-bottom: -9px;}
      &__content{padding: 96px 16px 16px; font-size: 18px; line-height: 28px;}
    }
    .reason{
      padding: 24px 16px;
      &__item{padding: 16px; font-size: 14px; line-height: 20px;}
    }
  }
  .monkey-for{
    .text{
      margin-bottom: 24px;
      .title{margin-bottom: 25px;}
      p{font-size: 14px; line-height: 20px;}
      li{padding-left: 27px;}
      li::after{width: 13px; height: 14px; top: 2px;}
    }
    ul > *+*{margin-top: 16px;}
  }
  .monkey-office{
    .header{margin-bottom: 10px;}
    .office{
      &__img{height: 256px;}
      &__content{
        padding: 24px 16px;
        h3{margin-bottom: 12px; font-size: 22px;}
        .icon-address{width: 10px; height: 13px; margin: 2px 10px 0 0;}
        .icon-phone{width: 14px; height: 14px; margin-right: 9px;}
      }
    }
    .slick-arrow{
      position: relative; top: 0; transform: translateY(0);
    }
    .office_nav{display: flex; margin-top: 24px;}
    .office_next{margin-left: 32px;}
    .office_prev{margin-right: 32px; transform: rotate(180deg);}
  }
  .monkey-team{
    .header{margin-bottom: 9px;}
    .member{
      &__info{
        padding: 83px 16px 26px;
        .position{font-size: 16px; line-height: 24px;}
        .linkedin{margin-top: 14px;}
      }
    }
    .team_nav{margin-top: 9px;}
  }

  //tintuc
  .monkey-news{
    .sidebar{margin-top: 32px;}
  }

  //story
  .monkey-story{
    overflow: hidden;
    &--video{
      padding: 30px 0 45px;
      background-size: cover;
      .text{
        .title{margin: 0 auto 32px; max-width: 330px; text-align: center;}
      }
    }
    &--1{padding-bottom: 0;}
    &--2{
      padding: 0 0 35px;
      .btn_video{margin-top: 40px; font-size: 12px; line-height: 18px;}
      .icon-play{width: 20px; height: 20px; margin-left: 4px;}
    }
    .text{
      p{padding-right: 0; font-size: 16px; line-height: 24px;}
    }
  }

  //cotmoc
  .monkey-author{
    overflow: hidden;
    .author{
      &__img{margin: 0 auto;}
      &__content{width: 100%; padding-left: 0; margin-top: 50px;}
    }
    .info{
      padding: 20px;
      p{font-size: 14px; line-height: 20px;}
    }
  }
  .monkey-student{
    &--detail{background-size: cover;}
    .text{
      h2{margin-bottom: 34px; font-size: 36px;}
      p{@include text2;}
    }
    .quote{
      &::before{left: -5px; top: -25px;}
      &::after{right: -5px; bottom: -15px;}
      p{padding-right: 0;}
    }
    .share{
      max-width: 330px;
      margin-bottom: 20px;
      h5{margin-bottom: 34px;}
    }
  }

  //product
  .monkey-product{
    .product{
      ul{justify-content: space-between;}
      ul>*+*{margin-left: 0;}
      li{max-width: 47.5%; width: 100%; padding: 24px; margin-bottom: 24px;}
    }
    .box-btn{margin-top: 18px;}
  }
  .monkey-solution{
    overflow: hidden;
    .col-left,.col-right{width: 100%;}
    .solution{max-width: 100%;}
  }
  .monkey-advantage{
    overflow: hidden;
    .header{margin-bottom: 40px;}
  }
  .monkey-feature{
    overflow: hidden;
    .feature{margin-bottom: 24px;}
  }
  .monkey-feedback{
    .feedback{
      &__img{width: 229px; margin: 0 auto 70px;}
      &__content{width: 100%; margin-left: 0;}
      .content{
        max-width: 100%;
        &::before{ width: 30px; height: 20.2px; left: 0; top: -40px;}
      }
    }
    .slick-next{right: 0;}
    .slick-prev{left: 0;}
  }

  //baiviet
  .page-post{
    .summary{
      &__img{width: 50%;}
      &__content{
        width: 50%;
        padding-left: 20px;
        h1{margin-bottom: 16px; font-size: 24px; line-height: 32px;}
      }
    }
    .post-detail{
      .col-left,.col-right,.col-middle{max-width: 100%; width: 100%;}
      .col-left,.col-right{position: relative; top: 0;}
      .col-right{padding-top: 24px; border-top: 1px solid #E9E9E9;;}
      .col-middle{padding: 24px 0; border-top: 1px solid #E9E9E9;}
      article{
        img{display: block; margin: 0 auto;}
      }
    }
  }

  //quiz
  .quiz{
    &__header{
      .col-left{max-width: 45%;}
    }
  }
  //policy
  .monkey-policy{
    &--s1{
      background-size: cover;
      h1.title{font-size: 40px; line-height: 1.1;}
      .btn_register{margin-top: 32px;}
    }
    &--s2{
      li{width: 50%; margin-bottom: 32px;}
      li:nth-child(3){border-left: none;}
      .text{margin-top: 40px;}
      .header .title{margin-bottom: 20px;}
    }
    &--s4{
      margin-top: 0;
    }
    &--partner{
      .slick-next{right: 0px;}
      .slick-prev{left: 0px;}
    }
    &--app{
      .app{margin-bottom: 24px;}
    }
    .reason{
      &__content{
        margin-left: 0; width: 100%;
        &::before{display: none;}
      }
    }
  }
  .monkey-register{
    .decor{width: 400px; left: 319px;}
  }

  //hoclieu
  .monkey-registerfree{
    .box-register::after{display: none;}
  }
  .monkey-post{
    &--course,&--download,&--miss{
      .slick-next{right: -5px;}
      .slick-prev{left: -5px;}
    }
  }

  //huongdanhoc
  .monkey-join-group,.monkey-benefit{
    .benefit{
      padding: 10px 10px 3px;
      &__title{font-size: 32px; line-height: 44px;}
      &__content{font-size: 16px; line-height: 24px;}
    }
  }
  .monkey-email{
    .col-left{width: 100%; margin-right: 0;}
    .col-right{display: none;}
  }

  .monkey-recruitment{
    .job-description,.job-sidebar{width: 100%;}
    .job-description{margin-bottom: 20px;}
  }
  .monkey-support{
    .header{padding: 16px 0 24px;}
    .breadcrumb{width: 100%; padding-top: 0;}
    .search-form{max-width: 100%; margin-top: 6px;}
    .tab{
      li{width: 100%;}
      a{text-align: center;}
    }
    .sidebar{
      display: none;
      h3{padding: 0 16px; @include text3;}
      .item{padding: 0 16px;}
    }
    .posts-support{padding: 16px; margin-bottom: 60px;}
    .contact{
      margin-bottom: 60px;
      padding: 32px 16px 24px;
      h4{margin-bottom: 24px;}
      &__list{
        >*+*{margin-left: 20px;}
        a{width: 48px; height: 48px;}
      }
    }
    .box-result{margin-top: 0;}
    .box-answer{padding: 10px 20px;}
    .box-question{
      padding: 16px;
      h3{margin-bottom: 5px; font-size: 24px; line-height: 32px;}
      h3::before{width: 24px; height: 24px; margin-top: 5px;}
      li{width: 100%; font-size: 14px; line-height: 20px;}
      li:nth-child(2){border-top: 1px solid #E9E9E9;}
      button{margin-left: 16px;}
      h4{line-height: 20px;}
    }
  }

  footer{
    .info{
      padding: 48px 0;
      .col-left{margin-bottom: 16px;}
      .col-left,.col-right{width: 100%; padding: 0;}
      h2{margin-bottom: 12px;}
    }
    .logo-white{margin: 50px auto 24px;}
    .middle{
      align-items: flex-start;
      h3{margin-bottom: 16px;}
      li a{font-size: 12px; line-height: 18px;}
      .col1,.col2{margin: 0 0 30px;}
      .col1{width: 33.3%;}
      .col2,.col3{width: 33.3%;}
      .col4{width: 100%; margin: 0;}
      .col3{margin-right: 0;}
    }
    .service{
      margin-top: 30px;
      p{margin-bottom: 16px;}
      .box-btn{
        margin-bottom: 5px;
        >*+*{margin-left: 0;}
        a{margin: 0 5px 12px; padding: 8px;}
      }
    }
    .bottom{
      margin-top: 32px;
      padding: 24px 0 48px;
      .copyright{max-width: 50%;}
    }
  }

  //uikit
  .tf4{font-size: 18px; line-height: 28px;}
  .tf1{font-size: 14px; line-height: 20px;}
  .pd-80{padding: 60px 0;}
  .pdd-8{padding: 45px 0 60px;}
  .header{
    .title{margin-bottom: 15px;}
    p{font-size: 16px; line-height: 24px;}
  }
}

@media (max-width: 668px){
  .monkey-story{
    &--1,&--3{
      .container{display: flex; flex-direction: column;}
      .text{order: 1;}
      .quote{order: 2;}
    }
    &--inspire{
      padding-top: 46px;
      background: url("#{$img-path}/decor-hv5.svg") no-repeat 0 0;
      background-size: 100%;
      .text{padding-top: 0;}
    }
    .quote{
      max-width: 100%; margin-right: 0; padding-left: 0;
      &__content{width: calc(100% - 32px); margin: -25% auto 0; padding: 16px; max-width: 360px; position: relative; bottom: 0;}
    }
    .text{
      .title{margin-bottom: 20px; text-transform: none;}
    }
  }
  .monkey-newspaper{
    padding: 45px 0;
    .header{margin-bottom: 30px;}
    .highlights .post{margin-bottom: 24px;}
    .news{margin-top: 16px;}
  }
  .post{
    .logo{
      &.dantri{width: 49px;}
      &.vnexpress{width: 75px;}
      &.zing{width: 43px;}
      &.cafebiz{width: 56px;}
    }
    .time,.view{margin-right: 24px;}
    &__content{
      h3 a:hover{color: var(--red);}
    }
  }
  .post-ty1{
    .post__thumb{height: 236px;}
    .post__content{
      padding: 16px;
      h3{min-height: 38px; margin-bottom: 12px;}
      h3 a{font-size: 16px; line-height: 24px;}
      p{margin-bottom: 10px;}
    }
  }
  .post-ty2{
    margin-bottom: 16px;
    .post__thumb{width: 117px;}
    .post__content{
      width: calc(100% - 117px); padding: 10px 12px;
      h3{min-height: 36px;  -webkit-line-clamp: 2;}
      h3 a{font-size: 12px; line-height: 18px; font-weight: 500;}
    }
  }
  .post-ty4{
    .post__content,.post__thumb{width: 100%;}
    .post__content{padding: 12px 16px 16px;}
    p{margin-bottom: 12px; -webkit-line-clamp: 3;}
  }
  .post-ty5{
    margin-bottom: 24px;
    .post__thumb{height: 196px;}
    .post__content{padding: 16px;}
  }
  .post-course{
    margin-bottom: 24px;
    .post__thumb{height: 202px;}
    .lg{
      color: var(--red);
      .icon-lg{background: url("#{$img-path}/icon-star1.svg") no-repeat;}
    }
  }
  .monkey-milestone{
    padding-top: 50px;
    .header{
      margin-bottom: 0; text-align: left;
      p{font-size: 16px; line-height: 24px;}
    }
    .milestone{
      margin-top: 24px;
      padding: 0;
      &::before,&::after{left: 430px; transform: translateX(0);}
      &::before{ }
      &::after{left: 422px;}
    }
    .item{
      max-width: 395px; padding: 16px;
      &:nth-child(even){
        margin-left: 0;
        &::after{right: -77px; left: initial;}
        &::before{left: initial; right: -8px; border-color: transparent transparent transparent #fff;}
      }
      &:nth-child(odd){
        &::after{right: -77px; }
      }
      &::before{border-width: 8px; right: -16px !important;}
      &:nth-child(2){margin-top: 32px;}
      &:nth-child(3){margin-top: 32px;}
      &:nth-child(4){margin-top: 32px;}
      &:nth-child(5){margin-top: 32px;}
      &:nth-child(6){margin-top: 32px;}
      &:nth-child(7){margin-top: 32px;}
      &__img{height: 148px;}
      span{font-size: 16px; line-height: 24px;}
    }
  }
  .monkey-author{
    .header{margin-bottom: 35px;}
  }
  .monkey-student{
    padding: 45px 0 5px;
    &--detail{
      padding-bottom: 25px;
      .student{
        margin-top: 25px;
        padding: 20px !important;
        p{font-size: 16px !important; line-height: 24px !important;}
        &__avatar{width: 93px;}
        &__info,&__join{width: 100%;}
        &__info{
          margin: 0 0 24px; padding: 16px 0 24px; border: none; border-bottom: 1px solid #E9E9E9;
          >*+*{margin-top: 8px;}
        }
        .product .item{width: 80px; max-width: 32%;}
      }
    }
    .student{
      &__map,&__statistical{max-width: 100%;}
      &__statistical{padding-left: 0; order: 1;}
      &__map{order: 2; margin-top: 40px;}
      .icon{width: 23px; height: 23px;}
      ul > *+*{margin-top: 22px;}
      h4{margin-bottom: 5px; font-size: 28px; line-height: 40px;}
      p{font-size: 14px; line-height: 20px;}
    }
    .title{margin-bottom: 20px;}
    .video{
      margin: -8px;
      &::after{top: 5px; left: 5px;}
    }
  }
  .monkey-post{
    overflow: hidden;
    .title{
      margin-bottom: 0;
      align-items: flex-start;
      font-size: 28px; line-height: 40px;
      &::before{margin-top: 10px;}
      span{max-width: calc(100% - 44px);}
    }
    &--story{padding-bottom: 70px;}
    &--course{
      .title::before{margin-top: 10px;}
    }
    &--course,&--download,&--miss{
      margin-bottom: 25px;
      .slick-next{right: 20px;}
      .slick-prev{left: 20px;}
    }
    &--rs{
      margin-bottom: 0;
      .slick-next{right: 0;}
      .slick-prev{left: 0;}
    }
  }
  .post-ty3 {
    margin-bottom: 24px;
    .post__thumb{height: 241px;}
    .post__content{
      padding: 16px;
      .bottom{margin-top: 12px;}
    }

  }
  .monkey-relate{
    padding: 40px 0 80px;
    &--posts{padding: 24px 0 60px; overflow: hidden;}
    .relate_list_mobile{
      display: block;
      margin-top: 20px;
      .item{padding: 12px;}
    }
    .relate_list_pc{display: none;}
    h4{margin-bottom: -4px; font-size: 20px; line-height: 30px;}
    .relate_list_pc{
      .slick-arrow{top: initial; transform: translateY(0); bottom: -40px;}
      .slick-next{right: calc(50% - 56px);}
      .slick-prev{left: calc(50% - 56px); transform: translateY(0) rotate(180deg);}
    }
    .relate_list_mobile{
      .slick-track{padding: 0;}
      .slick-list{
        margin: 0;
        padding-right: 0px;
      }
    }
    .nav_custom{display: flex; margin-top: 12px;}
  }
  .monkey-product{
    padding-top: 45px;
    background: linear-gradient(180deg, #FFF4F5 0%, rgba(255, 245, 245, 0) 100%);
    .title{margin-bottom: 32px; text-transform: none;}
    .box-btn{
      margin-top: 0;;
      >*+*{margin: 16px 0 0;}
      a{width: 100%;}
    }
    .video{
      margin: 65px auto; z-index: 2;
      &__thumb img{border-radius: 8px;}
      &::before,&::after{width: 120px; height: 79px; border-radius: 8px;}
      &::before{left: -8px; top: -8px;}
      &::after{right: -8px; bottom: -8px;}
    }
    .product{
      li{height: 40vw;}
      &__content{padding: 10px;}
    }
  }
  .monkey-solution{
    .title{margin-bottom: 0;}
    .solution_list{
      .item{max-width: 100%;}
    }
    .solution{
      margin-bottom: 24px;
      &__img{height: 195px;}
      &__content{min-height: auto;}
    }
    .col-left{
      padding-bottom: 20px;
      .box-btn{display: none;}
    }
    .col-right{
      .box-btn{
        display: block;
        >*+*{margin-top: 16px;}
      }
    }
  }
  .monkey-advantage{
    padding: 70px 0 60px;
    .advantage{
      >*+*{margin-top: 24px;}
      li{padding: 24px; min-height: auto;}
      .icon{margin-right: 16px; width: 56px;}
      p{@include text2;}
    }
    .box-btn{
      margin: 32px 0 0;
    }
    .img-wrapper{margin: 24px auto 0;}
  }
  .monkey-feature{
    .col-lg-3:nth-child(odd){
      .feature{
        display: flex; flex-direction: column-reverse;
        &__content{border-top: none; border-bottom: 1px solid #E9E9E9;}
      }
    }
    .feature{
      h4{font-size: 24px; line-height: 32px;}
    }
    .btn_register{margin-top: 0;}
  }
  .monkey-join{
    padding: 68px 0 34px;
    &--member{
      li{padding: 6px;}
      a{width: 76px;}
    }
  }
  .monkey-feedback{
    padding: 40px 0 60px;
    .feedback{
      .content{
        @include text2;
        &::before{top: -35px;}
      }
      .customer{
        margin-bottom: 40px;
        h4{@include text2;}
        p{font-size: 12px;}
      }
      .box-btn{
        >*+*{margin: 16px 0 0;}
        a{width: 100%;}
      }
    }
    .slick-arrow{top: 140px; transform: translateY(0);}
    .slick-prev{transform: translateY(0) rotate(180deg);}
  }
  .search-form{
    .search-suggest{top: 52px;}
    .search-popular{
      margin-top: 28px;
      justify-content: center;
      h5{flex-basis: 100%; text-align: center;}
    }
  }
  .monkey-search{
    .form-group{border: none; padding: 0;}
    input{height: 48px; width: 100%; border-radius: 6px; border: 1px solid #D3D2D3;}
    .btn_submit{width: 100%; margin-top: 12px;}
    .btn_reset{width: 16px; height: 16px; right: 16px; top: 16px;}
  }
  .monkey-quiz{
    padding: 45px 0 20px;
    background: linear-gradient(180deg, #FFFAFA 0%, rgba(255, 209, 211, 0) 100%);
    .header{
      margin-bottom: 25px;
      p{@include text2;}
      .title{max-width: 317px; margin-left: auto; margin-right: auto;}
    }
    .search-form{
      .btn_submit{font-size: 14px; line-height: 20px; max-width: 120px;}
    }
  }
  .quiz{
    &__question,&__finish{margin: 40px auto;}
    &__header{
      .title{font-size: 36px; line-height: 1.2;}
      h5{margin-bottom: 10px; font-size: 14px; line-height: 20px;}
      .col-left,.col-right{max-width: 100%;}
      .col-left{margin-bottom: 35px;}
      .col-right{
        >*+*{margin-top: 16px;}
      }
    }
    &__question{
      padding: 32px 16px 16px;
      label{padding: 11px;}
      .answer{
        >*+*{margin-top: 16px;}
        p{font-size: 14px; line-height: 20px;}
      }
      .checked{margin-right: 12px;}
      .btn_confirm{width: 100%; margin-top: 24px;}
    }
    &__finish{
      padding: 40px 16px;
      h4{max-width: 280px; margin-left: auto; margin-right: auto;}
      .img-wrapper{max-width: 280px;}
      .text{
        margin: 18px 0 26px;
        font-size: 14px; line-height: 20px;
        span{font-size: 36px; line-height: 1.2; letter-spacing: 0.01em;}
      }
      .box-btn{
        >*+*{margin-top: 16px;}
        a{width: 100%;}
      }
    }
  }

  //baiviet
  .page-post{
    .summary{
      padding-bottom: 24px;
      margin-bottom: 24px;
      &__img{width: 100%;}
      &__content{
        width: 100%;
        padding: 18px 0 0;
        .category{margin-bottom: 8px;}
      }
    }
    .post-detail{
      padding-bottom: 24px;
      .col-left,.col-right,.col-middle{max-width: 100%; width: 100%;}
      .col-left,.col-right{position: relative; top: 0;}
      .col-right{padding-top: 24px; border-top: 1px solid #E9E9E9;;}
      .col-middle{padding: 24px 0; border-top: 1px solid #E9E9E9;}
      article{
        img{display: block; margin: 0 auto;}
      }
    }
    .share{margin: 10px 0 0;}
  }

  //tintuc
  .monkey-news{
    padding: 50px 0 60px;
    background: linear-gradient(180deg, #FFFAFA 0%, rgba(255, 209, 211, 0) 100%);
    .header{
      margin-bottom: 32px;
      .title{margin-right: 100px;}
    }
    .post--highlight{
      margin-bottom: 16px;
      .post__thumb{height: 196px;}
      .post__content{
        padding: 20px 16px 16px;
        p{margin-bottom: 16px;}
      }
    }
    .sidebar{padding: 24px 16px;}
  }
  .monkey-news-detail{
    .title{font-size: 24px; line-height: 32px;}
    .detail{
      margin-top: 32px;
      p{margin-bottom: 16px;}
    }
    .sidebar{padding: 0; margin-top: 40px;}
    .col-lg-8 > .flex-lc{
      flex-direction: row-reverse; justify-content: space-between;
      iframe{margin-left: inherit !important;}
    }
  }

  //policy
  .monkey-policy{
    &--s1{
      padding: 46px 0 30px;
      h1.title{margin-bottom: 20px; font-size: 36px; line-height: 1.2;}
      .img-wrapper{margin-top: 40px; padding: 17px;}
    }
    &--s2{
      padding: 50px 0 60px;
      .header{
        margin-bottom: 40px;
        p{@include text2;}
      }
      .text{@include text2;}
      ul{display: block;}
      li{padding: 0; width: 100%; max-width: 230px; margin: 0 auto 32px; border-left: none;}
    }
    &--s3{
      .container > div{padding: 8px 0 60px;}
      .container .monkey-policy--reason{padding-top: 48px;}
    }
    &--s4{
      padding-bottom: 60px;
      margin-top: -40px;
      .video{
        &__play{width: 40px;}
      }
    }
    &--reason{
      .title{margin-bottom: 35px; line-height: 1.35;}
    }
    &--benefit{
      .title{margin-bottom: 30px;}
      .btn_register{margin-top: 16px;}
    }
    &--app{
      .btn_register{margin-top: 16px;}
    }
    &--partner{
      .item{
        &__img{height: 195px;}
        &__content{
          padding: 20px 20px 0;
          h4{margin-bottom: 4px;}
          p{margin-bottom: 20px;}
        }
      }
      .slick-arrow{top: 97px; transform: translateY(0);}
      .slick-prev{transform: translateY(0) rotate(180deg);}
      .slick-next{right: 20px;}
      .slick-prev{left: 20px;}
    }
    .reason{
      &__img{width: 300px; margin: 0 auto 40px; position: relative;}
      &__content{
        >*+*{margin-top: 24px;}
        li{font-size: 14px; line-height: 20px; font-weight: 500;}
        li:nth-child(1),li:nth-child(2),li:nth-child(3){margin-left: 0;}
      }
    }
    .benefit{
      padding: 10px 16px;
      margin-bottom: 24px;
      min-height: 80px;
      &__icon{width: 48px;}
      &__content{
        width: calc(100% - 48px); padding-left: 16px;
        font-size: 14px; line-height: 20px;
      }
    }
    .app{
      &__content{min-height: 108px;}
    }
  }
  .monkey-register{
    padding: 48px 0 60px;
    .header{
      margin-bottom: 24px;
      h2.title{margin-bottom: 20px;}
      p{font-weight: normal;}
    }
    h4{font-size: 14px; line-height: 20px;}
  }

  //rule
  .monkey-rule{
    padding-top: 0;
    .tab{
      width: calc(100% + 30px);
      margin: 0 -15px 24px;
      padding-left: 16px;
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
      border-radius: 0;
      >*+*{border-top: none;}
      a{color: #9E9D9F; font-size: 14px; line-height: 20px; font-weight: 400;}
      .active{border-bottom: 2px solid var(--red);}
      *+*{margin-left: 24px;}
      li a{background: none !important; padding: 16px 0 10px; white-space: nowrap;}
    }
    .tab-content{width: 100%; margin-left: 0; padding: 24px 16px 0;}
    article{
      h4{@include text3;}
      p{font-size: 14px; line-height: 20px;}
    }
  }

  //monkey junior
  .monkey-landing{
    &.junior{
      .intro{
        margin-right: 0;
        &::after{display: none;}
      }
      .monkey-landing--s1{
        padding: 24px 0 !important;
        background: url("#{$img-path}/bg-mj1.svg") no-repeat 0 0/100%;
        .video{
          max-width: 265px;
          &::after{top: 25px; left: 20px;}
        }
      }
      .monkey-landing--s2{
        background: url("#{$img-path}/bg-mj2.svg") no-repeat 0 0/100%;
        &::before{display: none;}
      }
      .monkey-landing--s3 .row-s3{
        .col-lg-3:nth-child(1){order: 1;}
        .col-lg-3:nth-child(2){order: 2;}
        .col-lg-3:nth-child(3){order: 4;}
        .col-lg-3:nth-child(4){order: 3;}
      }
      .monkey-landing--s3::before{
        @include landing;
        height: 945px;
        background: url("#{$img-path}/bg-mj3.svg") no-repeat 0 0/100%;
        top: 295px;
      }
      .monkey-landing--s4{
        h2.title{text-align: left;}
      }
      .monkey-landing--s5{background: url("#{$img-path}/bg-mj4.svg") no-repeat 0 0/100%;}
      .monkey-landing--s6::before{
        @include landing; height: 1569px;
        background: url("#{$img-path}/bg-pj5.svg") no-repeat 0 0/100%;
        bottom: -630px;
      }
      .monkey-landing--s7{background: url("#{$img-path}/bg-mj5.svg") no-repeat 0 0/100%;}
    }
    &.stories,&.math{
      .monkey-landing--s6{
        .program{
          &:nth-child(odd) .program__content{margin-right: 0;}
          &:nth-child(even) .program__video{margin: 0 auto 24px;}
          &__content,&__video{max-width: 100%;}
          &__video{margin: 0 auto 24px;}
        }
      }
    }
    &.stories{
      .intro{margin-right: 0;}
      .monkey-landing--s1{
        padding: 24px 0 60px;
        background: url("#{$img-path}/bg-ms1.svg") no-repeat 0 0/100%;
        .video{width: 100%; max-width: 350px;}
      }
      .monkey-landing--s2{
        padding: 7px 0 40px;
        &::before{
          content: "";
          width: 100%; height: 842px;
          background: url("#{$img-path}/bg-ms2.svg") no-repeat 0 0/100%;
          position: absolute; left: 0; top: 0px; z-index: -1;
        }
        .top-list{
          margin-top: 20px;
          h4{margin-bottom: 16px;}
          li{margin-bottom: 2px; padding: 15px 0;}
        }
      }
      .monkey-landing--s3 .register{margin-top: 0;}
      .monkey-landing--s4{
        background: linear-gradient(185.31deg, rgba(190, 232, 244, 0) 14.46%, #FAFEFF 86.32%);
        .title{margin-bottom: 26px;}
        .register p{margin: 16px 0 0;}
      }
      .monkey-landing--s5{
        background: url("#{$img-path}/bg-ms4.svg") no-repeat 0 0/100%;
        padding-bottom: 30px;
      }

      .monkey-landing--s7{background: url("#{$img-path}/bg-ms3.svg") no-repeat 0 0/100%;}
    }
    &.math{
      .top-list{
        h4{margin-bottom: 16px;}
        li{min-height: initial; padding: 0;}
      }
      .convenient{margin-top: 35px;}
      .monkey-landing--s1{
        padding: 24px 0 60px;
        background: url("#{$img-path}/bg-mm1.svg") no-repeat 0 0/cover;
        .intro{margin-right: 0;}
        .video{width: 100%; max-width: 290px;}
        .video::after{top: -9px; left: -22px;}
      }
      .monkey-landing--s2{
        padding: 5px 0 30px;
        &::before{
          width: 100%; height: 677px;
          background: url("#{$img-path}/bg-mm2.svg") no-repeat 0 0/100%;
          top: -65px;
        }
        .title{text-transform: none;}
      }
      .monkey-landing--s3{
        &::before{
          background: url("#{$img-path}/bg-mm4.svg") no-repeat 0 45px/100%;
         top: 445px;
        }
        .title{text-transform: none; margin-bottom: 20px;}
        .row > div:nth-child(odd) .benefit {
          margin-top: 0;
        }
      }
      .monkey-landing--s4{
        padding: 40px 0 30px;
        .title{text-align: left; margin-bottom: 35px;}
      }
      .monkey-landing--s5::before{
        height: 790px;
        background: url("#{$img-path}/bg-mm5.svg") no-repeat 0 0/100%;
        top: -90px;
      }
      .monkey-landing--s6{
        padding-top: 0;
        &::before{top: 430px;}
        &::after{top: 1800px;}
      }
      .monkey-landing--s7{
        padding-top: 70px;
        background: linear-gradient(180deg, rgba(255, 245, 227, 0) 20.16%, rgba(255, 245, 227, 0.81) 60.91%, rgba(255, 245, 227, 0) 100%);
      }
    }
    &.vmonkey{
      .top-list{
        margin-top: 35px;
        h4{margin-bottom: 16px;}
        li{margin-bottom: 32px;}
      }
      .monkey-landing--s1{
        background: url("#{$img-path}/bg-mv1.svg") no-repeat 0 0/100%;
        padding: 24px 0 42px;
        .intro{max-width: 100%; margin-right: 0;}
        .video{max-width: 100%; margin-top: 17px;}
      }
      .monkey-landing--s2{
        padding: 25px 0 55px;
        &::before{
          width: 100%; height: 918px;
          background: url("#{$img-path}/bg-mv2.svg") no-repeat 0 0/100%;
         top: -20px;
        }
        h2.title{max-width: 95%;}
      }
      .monkey-landing--s3{
        h2.title{margin-bottom: 115px;}
      }
      .monkey-landing--s4{
        background: linear-gradient(185.31deg, rgba(190, 232, 244, 0) 14.46%, #FAFEFF 86.32%);
        .header{margin-bottom: 24px;}
        .register{margin-top: 24px;}
      }
      .method{
        h4{@include text3;}
        &:nth-child(even) .method__img::after{transform: rotate(0deg); left: -25px;}
        &:nth-child(odd) .method__img::after{transform: rotateY(180deg); right: -20px;}
        &__img::after{width: 18px; height: 107px; background: url("#{$img-path}/linev4.svg") no-repeat 0 0/contain;}
        &--1 .method__img::after{display: none;}
      }
      .monkey-landing--s6{
        .method-list{margin-top: 35px;}
      }
      .monkey-landing--s7{
        padding-top: 100px;
        background: url("#{$img-path}/bg-mv3.svg") no-repeat 0 27px/100%;
        &::after{display: none;}
      }
    }
    h1.title{margin-bottom: 18px; font-size: 32px; line-height: 44px;}
    .logo{width: 64px; height: 64px; margin-bottom: 14px;}
    .register{
      margin-top: 24px;
      .btn_register,p{width: 100%; margin-right: 0; text-align: center;}
      p{margin-top: 16px;}
    }
    .top-list{
      margin-top: 26px;
      >*+*{border-left: none;}
      li{width: 100%;}
      h4{margin-bottom: 12px;}
      .icon{margin-top: 14px;}
    }
    .method{
      margin-bottom: 60px;
      &:nth-child(odd){
        .method__content{padding: 0;}
        .method__img{margin: 0 auto 24px;}
        .method__img::after{top: -74px; right: -28px;}
      }
      &:nth-child(even){
        .method__img::after{top: -51px; left: -35px; transform: rotateY(180deg);}
      }
      &--1,&--4,&--2{
        .method__content{padding: 0; max-width: 100%;}
      }
      &__img{
        width: 300px; height: 300px; margin: 0 auto 24px; position: relative;
        &::after{
          content: ""; position: absolute;
          width: 45px; height: 109px;
          background: url("#{$img-path}/line2.svg") no-repeat;
        }
      }
      &__content::after{display: none;}
      h4{font-size: 20px; line-height: 30px;}
    }
    .convenient{
      margin-top: 35px;
      li{width: 100%; margin-bottom: 32px; max-width: 100%; text-align: center;}
      .icon{margin: 0 auto 16px;}
    }
    .program{
      margin-bottom: 24px;
      padding: 24px 16px;
      &:nth-child(odd) .program__content{padding-left: 0;}
      &:nth-child(even) .program__content{padding-right: 0;}
      &--1{
        margin-top: 80px;
        .program__content{max-width: 100%;}
        &::before{width: 73px; height: 61px; top: -60px;}
      }
      &--2,&--4{
        .program__img{margin: 0 auto 24px;}
      }
      &__img{width: 300px; height: 300px; margin: 0 auto 24px; order: 1;}
      &__content{order: 2; padding-left: 0; max-width: 100%;}
      h4{font-size: 18px; line-height: 28px;}
      p{padding: 8.7px 0 8.7px 36px;}
    }
    .feedback{
      margin-top: 55px;
      &__content,&__video{max-width: 100%;}
      &__content{margin: 0 0 40px;}
      .text{
        &::before{left: 0; top: -35px;}
      }
      .video{
        &::after{top: 7px; left: 7px;}
        &__play{width: 56px;}
      }
    }
    .skill{
      margin-top: 35px;
      &__round{
        width: 343px; height: 343px;
        margin: 0 auto 32px;
        position: relative; top: 0; left: 0; transform: translate(0,0);
      }
      &__list{
        li{max-width: 100%; margin-bottom: 32px;}
        li:nth-child(1),li:nth-child(2){margin-bottom: 32px;}
        li:nth-child(odd){
          margin-right: 0; align-items: center;
          p{text-align: center;}
        }
        li:nth-child(even){
          align-items: center;
          p{text-align: center;}
        }
      }
      h4{font-size: 22px; line-height: 34px;}
    }
    .method-study{
      margin-bottom: 24px;
      >*+*{margin-top: 24px;}
      li{padding: 16px; min-height: 124px;}
      .icon{width: 56px;}
      .content{width: calc(100% - 56px); padding-left: 16px;}
      h4{@include text3; margin-bottom: 4px;}
      p{font-size: 14px; line-height: 20px;}
    }
    .method-vmonkey{
      padding: 96px 24px 24px;
      h4{margin-bottom: 14px; min-height: auto; font: 24px/32px var(--monkeyheader);}
      p{@include text2;}
    }
    .benefit{
      margin-bottom: 24px;
      &__img{height: 404px; margin-bottom: 16px;}
      &__content{text-align: left;}
    }
    .vmonkey-study{
      max-width: 100%;
      &::after{display: block; width: 343px; height: 409px; position: relative; right: initial; z-index: 1;}
      >*+*{margin-top: 24px;}
      li{padding: 16px; align-items: flex-start;}
      .icon{width: 56px;}
      .content{width: calc(100% - 56px); padding-left: 16px;}
      h4{@include text2; margin-bottom: 4px;}
      p{font-size: 14px; line-height: 20px;}
    }
    > div h2.title{text-transform: none;}
    > .monkey-landing--s2{padding: 70px 0 20px;}
    > .monkey-landing--s3{padding: 5px 0;}
    > .monkey-landing--s4{
      padding: 60px 0 30px;
    }
    > .monkey-landing--s5{padding: 40px 0 30px;}
    > .monkey-landing--s6{padding: 36px 0 30px;}
    > .monkey-landing--s7{padding: 35px 0 60px;}
    &--s1{
      .intro{max-width: 100%; margin: 0;}
      .video{
       margin: 10px auto 0;
        &__play{width: 64px;}
      }
    }
    &--s3{
      .row-s3{margin-top: 17px;}
      .item{
        margin-bottom: 24px;
        &__img{height: 176px;}
        &__content{min-height: auto;}
        h4{margin-bottom: 16px;}
      }
      .register{margin-top: 0;}
    }
    &--s4{
      .header{
        margin-bottom: 40px; text-align: left;
        p{@include text2; margin-top: 20px;}
      }
    }
    &--s5{
      .register{margin-top: 0;}
    }
    &--s7{
      .register{margin-top: 47px;}
    }
  }

  //hoclieu
  .courseware{
    padding: 0;
    box-shadow: none;
    h2{margin-bottom: 20px; font-size: 22px;}
    .btn_download{margin-top: 16px;}
    &__left,&__right{width: 100%; padding: 0;}
    .slider-nav{
      margin-top: 8px;
      .item{width: 30.8% !important;}
    }
    .share{margin: 0 0 16px; padding: 16px 0; border-bottom: 1px solid #E9E9E9;}
  }
  .monkey-registerfree{
    .box-register{
      padding: 65px 16px 0;
      background: url("#{$img-path}/bg-register-m.png") no-repeat 0 0/100% 100%;
      &::after{display: block; width: 240px; height: 200px; margin: 50px auto 0; position: relative;}
    }
    h3{margin-bottom: 10px; font-size: 28px; line-height: 40px;}
    p{margin-bottom: 24px;}
    .form-group{margin-bottom: 16px;}
  }

  //prize
  .prize{
    padding-bottom: 60px;
    background: url("#{$img-path}/bg-prize-m.svg") no-repeat 0 0/100%;
    &.bg-gray{background: #F9F9F9;}
    .header{
      p{font-size: 18px; line-height: 28px;}
    }
    .item{
      margin-bottom: 48px;
      &__img,&__content{width: 100%;}
      &__content{padding: 20px 0 0;}
      &:nth-child(even){
        .item__content{padding: 20px 0 0;}
      }
      h3{margin-bottom: 12px;}
    }
    &__detail{
      padding: 24px 16px;
      h1.title{margin-bottom: 12px; font-size: 24px; line-height: 32px;}
      figcaption{margin-top: 12px;}
      .box-figure{margin-bottom: 24px;}
    }
    .box-share{justify-content: flex-start;}
  }

  //huongdanhoc
  .monkey-tutorials{
    .header{
      padding: 25px 16px 40px; background-size: cover; text-align: left;
      p{@include text3;}
    }
    .guide-list{padding: 20px 0 36px;}
    .post{
      margin-bottom: 24px;
      &__thumb{height: 196px;}
      &__content{padding: 16px;}
    }
  }
  .monkey-join-group{
    padding: 48px 0 60px;
    .title{margin-bottom: 26px;}
    .btn_join{margin-top: 32px;}
  }
  .monkey-benefit,.monkey-join-group{
    .benefit-join > *+*{
      border-left: none;
      &::before{
        content: "";
        width: 280px; height: 1px;
        background: #F78F97; display: block; margin: 6px auto 26px;
      }
    }
    .benefit{width: 100%;}
  }
  .monkey-join-group{
    .benefit-join > *+*{
      &::before{
        background: #DEEFC5;
      }
    }
  }
  .monkey-benefit{
    padding: 48px 0 60px;
    .title{margin-bottom: 26px;}
    .benefit .icon{margin-top: 10px;}
  }
  .monkey-question{
    padding: 60px 0;
    .box-question{
      padding: 16px;
      h4{font-size: 24px; line-height: 32px;}
      h4::before{width: 24px; height: 24px;}
    }
    .question-list{
      li{width: 100%; padding: 16px 0;}
      a,span{font-size: 14px; line-height: 20px;}
    }
  }

  //hastag
  .hastag{
    padding: 16px 0 60px;
    .header{
      padding-bottom: 24px; margin-bottom: 24px;
      p{@include text2;}
    }
    .post{
      margin-bottom: 16px;
      &__thumb{height: 196px;}
      &__content{padding: 16px;}
    }
  }

  //tuyendung
  .monkey-recruitment{
    padding-bottom: 48px;
    .header{
      padding: 50px 16px 40px; margin-bottom: 24px;
      h4{@include text3; margin-bottom: 12px;}
      &.no-bg{
        padding: 32px 0; margin-bottom: 20px;
        h1{font-size: 24px; line-height: 32px;}
      }
    }
    .search-form{min-width: 100%;}
    .filter-item{width: 100%; margin: 14px auto 0;}
    .recruitment-list{
      margin-top: 20px;
      .item{
        padding: 16px;
        &__right{width: 100%; margin-top: 20px;}
        .btn_recruitment{width: 100%; margin-top: 16px;}
      }
    }
    .recruitment-phone p{margin-bottom: 16px;}
    .summary{
      margin-bottom: 16px;
      .btn_recruitment{width: 100%; margin: 12px 0 0;}
      .col-right{width: 100%; display: flex; flex-direction: column-reverse; margin-top: 24px;}
    }
    .job-description{
      padding: 24px 16px;
      margin-bottom: 31px;
      h4{@include text3; margin-bottom: 12px;}
      p{font-size: 14px; line-height: 20px;}
      p::before{width: 2px; height: 2px;}
    }
  }
  .monkey-face{
    padding-bottom: 50px;
    .header{
      max-width: 278px; margin: 0 auto;
      .title{margin-bottom: 5px;}
    }
    .item{
      &__img{height: 195px;}
    }
    .slick-arrow{top: 97px; transform: translateY(0);}
    .slick-next{right: 22px;}
    .slick-prev{left: 22px; transform: translateY(0) rotate(180deg);}
  }
  .monkey-image{
    padding-bottom: 60px;
    .header{margin-bottom: 20px;}
    .video{
      padding: 5px; margin-bottom: 24px;
      &__play{width: 40px;}
    }
    .slick-next{right: 22px;}
    .slick-prev{left: 22px;}
  }
  .monkey-email{
    padding: 48px 0;
    .col-left{
      p{margin-bottom: 20px; font-size: 18px; line-height: 28px;}
      label{margin-bottom: 12px; font-size: 14px; line-height: 20px;}
    }
    .job-list p{margin-bottom: 0; font-size: 14px; line-height: 20px;}
  }
  .monkey-job{
    padding: 48px 0 100px;
    .bg-sh{padding: 16px;}
    .item .btn_apply{width: 100%;}
    .slick-arrow{transform: translateY(0); top: initial; bottom: -56px;}
    .slick-next{right: calc(50% - 56px);}
    .slick-prev{left: calc(50% - 56px); transform: translateY(0) rotate(180deg);}
  }

  .monkey-page-author{
    padding-bottom: 60px;
    .author{
      padding: 24px 16px;
      &__img{width: 120px; height: 120px; margin: 0 auto 24px;}
      &__content{width: 100%; padding-left: 0;}
      .name{@include text3;}
      .name,.position{text-align: center;}
      .position,.des{font-size: 14px; line-height: 20px;}
      .position{margin-bottom: 8px;}
    }
  }
  .monkey-page-search{
    .text{@include text2; padding: 32px 0;}
    .search-result{
      margin-bottom: 8px;
      h4{@include text3;}
    }
    .post-course{
      margin-bottom: 24px;
      .post__content{padding: 20px;}
      .btn_viewmore{padding: 20px 0;}
      p{@include text2; font-weight: 500;}
    }
  }

  //modal
  .monkey-modal-video{
    .modal-dialog{max-width: 96vw;}
    .modal-content{height: 60vw;}
  }
  .modal-register{
    .modal-content{
      padding: 20px;
      .img-decor{display: none;}
      h5,form{max-width: 100%;}
    }
  }

  .monkey-package{padding: 60px 0 30px;}
  .monkey-group{
    padding: 0;
    .btn-join{margin: 30px 0;}
  }

  //footer
  footer{
    .middle{
      .col1{width: 55%;}
      .col2,.col3{width: 45%;}
      .col3{position: absolute; right: 0; top: 205px;}
    }
    .service{margin-top: 50px;}
  }

  //uikit
  .btn_pr{font-size: 16px; line-height: 24px;}
  .tf2{font-size: 12px; line-height: 18px;}
  .pc-s{display: none;}
  .m-s{display: block;}
  .m-sf{display: flex;}
  .mb-80{margin-bottom: 60px;}
  .breadcrumb{
    padding: 14px 0;
    font-size: 12px;
    line-height: 18px;
    li{padding: 2px 0;}
    li a{line-height: 26px;}
  }
}

@media (max-width: 480px){
  .monkey-milestone{
    .milestone{
      &::before,&::after{left: 327px;}
      &::after{left: 319px;}
    }
    .item{
      max-width: 297px;
      &:nth-child(even){
        &::after{right: -72px;}
      }
      &:nth-child(odd){
        &::after{right: -72px; }
      }
    }
  }
}


@media (max-width: 360px){
  .monkey-milestone{
    .milestone{
      &::before,&::after{left: 280px;}
      &::after{left: 272px;}
    }
    .item{
      max-width: 260px;
      &:nth-child(even){
        &::after{right: -62px;}
      }
      &:nth-child(odd){
        &::after{right: -62px; }
      }
    }
  }
  .monkey-policy{
    &--s3,&--s4{
      .btn_register{font-size: 14px; line-height: 20px;}
    }
  }
  .monkey-landing{
    .method{
      &__img{width: 288px; height: 288px; padding: 15px;}
    }
    .skill{
      &__round{
        width: 288px; height: 288px; padding: 0 30px;
        h5{margin-bottom: 8px; font-size: 20px; line-height: 30px;}
        p{font-size: 14px; line-height: 20px;}
      }
    }
    .vmonkey-study{
      &::after{width: 288px; height: 343px;}
    }
  }
  .monkey-package{
    .package{
      &__content{padding: 16px;}
      .price{
        &__new{font-size: 20px; line-height: 30px;}
      }
      .btn_buy{width: 110px;}
    }
  }
}